<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cflood.pl - weechat - backup of me weechat setup</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="weechat Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="weechat Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>weechat</h1><span class="desc"> - backup of me weechat setup</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/weechat.git">git://git.acid.vegas/weechat.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>cflood.pl <span class="desc">(4571B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> #{{{ BSD License
<a href="#l2" class="line" id="l2">      2</a> # Copyright (c) 2008 hzu/zionist
<a href="#l3" class="line" id="l3">      3</a> # All rights reserved.
<a href="#l4" class="line" id="l4">      4</a> #
<a href="#l5" class="line" id="l5">      5</a> # Redistribution and use in source and binary forms, with or
<a href="#l6" class="line" id="l6">      6</a> # without modification, are permitted provided that the following
<a href="#l7" class="line" id="l7">      7</a> # conditions are met:
<a href="#l8" class="line" id="l8">      8</a> #
<a href="#l9" class="line" id="l9">      9</a> # 1. Redistributions of source code must retain the above copyright
<a href="#l10" class="line" id="l10">     10</a> #    notice, this list of conditions and the following disclaimer.
<a href="#l11" class="line" id="l11">     11</a> # 2. The name of the author may not be used to endorse or promote products
<a href="#l12" class="line" id="l12">     12</a> #    derived from this software without specific prior written permission.
<a href="#l13" class="line" id="l13">     13</a> #
<a href="#l14" class="line" id="l14">     14</a> # THIS SOFTWARE IS PROVIDED ``AS IS&#39;&#39; AND ANY EXPRESS OR IMPLIED WARRANTIES,
<a href="#l15" class="line" id="l15">     15</a> # INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY
<a href="#l16" class="line" id="l16">     16</a> # AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
<a href="#l17" class="line" id="l17">     17</a> # THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
<a href="#l18" class="line" id="l18">     18</a> # EXEMPLARY, OR CONSEQUENTIAL  DAMAGES (INCLUDING, BUT NOT LIMITED TO,
<a href="#l19" class="line" id="l19">     19</a> # PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
<a href="#l20" class="line" id="l20">     20</a> # OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
<a href="#l21" class="line" id="l21">     21</a> # WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
<a href="#l22" class="line" id="l22">     22</a> # OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
<a href="#l23" class="line" id="l23">     23</a> # ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
<a href="#l24" class="line" id="l24">     24</a> #}}}
<a href="#l25" class="line" id="l25">     25</a> 
<a href="#l26" class="line" id="l26">     26</a> # Ported from irssi to WeeChat by the Krusty Krab
<a href="#l27" class="line" id="l27">     27</a> 
<a href="#l28" class="line" id="l28">     28</a> use strict;
<a href="#l29" class="line" id="l29">     29</a> use warnings;
<a href="#l30" class="line" id="l30">     30</a> no strict &#39;subs&#39;;
<a href="#l31" class="line" id="l31">     31</a> 
<a href="#l32" class="line" id="l32">     32</a> my $SCRIPT_NAME = &#39;colourflood&#39;;
<a href="#l33" class="line" id="l33">     33</a> my $SCRIPT_AUTHOR = &#39;hzu&#39;;
<a href="#l34" class="line" id="l34">     34</a> my $SCRIPT_VERSION = &#39;0.3&#39;;
<a href="#l35" class="line" id="l35">     35</a> my $SCRIPT_LICENCE = &#39;BSD&#39;;
<a href="#l36" class="line" id="l36">     36</a> my $SCRIPT_DESC = &#39;A-rab style ircing&#39;;
<a href="#l37" class="line" id="l37">     37</a> 
<a href="#l38" class="line" id="l38">     38</a> my $USAGE = &lt;&lt;EOF;
<a href="#l39" class="line" id="l39">     39</a> options:
<a href="#l40" class="line" id="l40">     40</a>     -r      Random back &amp; foreground colours (default)
<a href="#l41" class="line" id="l41">     41</a>     -f      Amount of times the message is flooded
<a href="#l42" class="line" id="l42">     42</a>     -fg     font colour, available colours:
<a href="#l43" class="line" id="l43">     43</a>                 black, blue, green
<a href="#l44" class="line" id="l44">     44</a>                 lightred, red, magenta, orange
<a href="#l45" class="line" id="l45">     45</a>                 yellow, lightgreen, cyan,
<a href="#l46" class="line" id="l46">     46</a>                 lightcyan, lightblue,
<a href="#l47" class="line" id="l47">     47</a>                 lightmagenta, gray, lightgray.
<a href="#l48" class="line" id="l48">     48</a>     -bg     background colour, available colours:
<a href="#l49" class="line" id="l49">     49</a>                 black, blue, green, red,
<a href="#l50" class="line" id="l50">     50</a>                 magenta, orange, green, cyan,
<a href="#l51" class="line" id="l51">     51</a>                 lightcyan, lightblue,
<a href="#l52" class="line" id="l52">     52</a>                 lightmagenta, gray, lightgray
<a href="#l53" class="line" id="l53">     53</a> EOF
<a href="#l54" class="line" id="l54">     54</a> 
<a href="#l55" class="line" id="l55">     55</a> our %clr = (
<a href="#l56" class="line" id="l56">     56</a>   black        =&gt; 1,
<a href="#l57" class="line" id="l57">     57</a>   blue         =&gt; 2,
<a href="#l58" class="line" id="l58">     58</a>   green        =&gt; 3,
<a href="#l59" class="line" id="l59">     59</a>   lightred     =&gt; 4,
<a href="#l60" class="line" id="l60">     60</a>   red          =&gt; 5,
<a href="#l61" class="line" id="l61">     61</a>   magenta      =&gt; 6,
<a href="#l62" class="line" id="l62">     62</a>   orange       =&gt; 7,
<a href="#l63" class="line" id="l63">     63</a>   yellow       =&gt; 8,
<a href="#l64" class="line" id="l64">     64</a>   lightgreen   =&gt; 9,
<a href="#l65" class="line" id="l65">     65</a>   cyan         =&gt; 10,
<a href="#l66" class="line" id="l66">     66</a>   lightcyan    =&gt; 11,
<a href="#l67" class="line" id="l67">     67</a>   lightblue    =&gt; 12,
<a href="#l68" class="line" id="l68">     68</a>   lightmagenta =&gt; 13,
<a href="#l69" class="line" id="l69">     69</a>   gray         =&gt; 14,
<a href="#l70" class="line" id="l70">     70</a>   lightgray    =&gt; 15,
<a href="#l71" class="line" id="l71">     71</a> );
<a href="#l72" class="line" id="l72">     72</a> 
<a href="#l73" class="line" id="l73">     73</a> if (weechat::register($SCRIPT_NAME, $SCRIPT_AUTHOR, $SCRIPT_VERSION,
<a href="#l74" class="line" id="l74">     74</a>  $SCRIPT_LICENCE, $SCRIPT_DESC, &#39;&#39;, &#39;&#39;)) {
<a href="#l75" class="line" id="l75">     75</a> 	weechat::hook_command(&#39;cflood&#39;, $SCRIPT_DESC, &#39;[options] text&#39;,
<a href="#l76" class="line" id="l76">     76</a> 		$USAGE, &#39;&#39;, &#39;cmd_cflood&#39;, &#39;&#39;);
<a href="#l77" class="line" id="l77">     77</a> 
<a href="#l78" class="line" id="l78">     78</a> 	my %OPTIONS = (
<a href="#l79" class="line" id="l79">     79</a> 		dir =&gt; [&#39;Database directory&#39;,
<a href="#l80" class="line" id="l80">     80</a> 			weechat::info_get(&#39;weechat_dir&#39;, &#39;&#39;).&#39;/yiffs&#39;],
<a href="#l81" class="line" id="l81">     81</a> 		db =&gt; [&#39;Default database&#39;, &#39;yiffs&#39;],
<a href="#l82" class="line" id="l82">     82</a> 		solodb =&gt; [&#39;Default database when nick is omitted&#39;, &#39;solos&#39;],
<a href="#l83" class="line" id="l83">     83</a> 		);
<a href="#l84" class="line" id="l84">     84</a> 
<a href="#l85" class="line" id="l85">     85</a> 	for my $option (keys %OPTIONS) {
<a href="#l86" class="line" id="l86">     86</a> 		weechat::config_set_plugin($option, $OPTIONS{$option}[1])
<a href="#l87" class="line" id="l87">     87</a> 		 unless weechat::config_is_set_plugin($option);
<a href="#l88" class="line" id="l88">     88</a> 		weechat::config_set_desc_plugin($option, $OPTIONS{$option}[0]);
<a href="#l89" class="line" id="l89">     89</a> 	}
<a href="#l90" class="line" id="l90">     90</a> }
<a href="#l91" class="line" id="l91">     91</a> 
<a href="#l92" class="line" id="l92">     92</a> sub colour {
<a href="#l93" class="line" id="l93">     93</a> 	my ($fg, $bg, $text) = @_;
<a href="#l94" class="line" id="l94">     94</a> 	my $fore = ($fg =~ /^[0-9][0-9]?$/) ? $fg : $clr{$fg};
<a href="#l95" class="line" id="l95">     95</a> 	my $back = ($fg =~ /^[0-9][0-9]?$/) ? $bg : $clr{$bg};
<a href="#l96" class="line" id="l96">     96</a> 	$fore-- if $fore == $back;
<a href="#l97" class="line" id="l97">     97</a> 	$text = &quot;\003$fore,$back $text \003$back,$fore $text &quot;;
<a href="#l98" class="line" id="l98">     98</a> 	$text x= (int 400 / length $text);
<a href="#l99" class="line" id="l99">     99</a> 	return &quot;$text\003&quot;;
<a href="#l100" class="line" id="l100">    100</a> }
<a href="#l101" class="line" id="l101">    101</a> 
<a href="#l102" class="line" id="l102">    102</a> sub parse {
<a href="#l103" class="line" id="l103">    103</a> 	my @args = ( split / +/, shift );
<a href="#l104" class="line" id="l104">    104</a> 	my ( %todo, $text, $body );
<a href="#l105" class="line" id="l105">    105</a> 
<a href="#l106" class="line" id="l106">    106</a> 	while ( ($_ = shift @args) ne &#39;&#39; ) {
<a href="#l107" class="line" id="l107">    107</a> 		/^-r$/ and next;
<a href="#l108" class="line" id="l108">    108</a> 		/^-f$/ and $todo{f} = shift @args, next;
<a href="#l109" class="line" id="l109">    109</a> 		/^-fg$/ and $todo{fg} = shift @args, next;
<a href="#l110" class="line" id="l110">    110</a> 		/^-bg$/ and $todo{bg} = shift @args, next;
<a href="#l111" class="line" id="l111">    111</a> 		/^-/ and weechat::print(&#39;&#39;, weechat::prefix(&#39;error&#39;).
<a href="#l112" class="line" id="l112">    112</a> 			&#39;Invalid arguments (see /help cflood)&#39;), return;
<a href="#l113" class="line" id="l113">    113</a> 		$text = @args &lt; 1 ? $_ : &quot;$_ &quot; . join &#39; &#39;, @args;
<a href="#l114" class="line" id="l114">    114</a> 		last;
<a href="#l115" class="line" id="l115">    115</a> 	}
<a href="#l116" class="line" id="l116">    116</a> 
<a href="#l117" class="line" id="l117">    117</a> 	if (!(defined $todo{fg}) || !(defined $todo{bg})) {
<a href="#l118" class="line" id="l118">    118</a> 		$body = &quot;&quot;;
<a href="#l119" class="line" id="l119">    119</a> 		my @rnd_clr = keys %clr;
<a href="#l120" class="line" id="l120">    120</a> 		foreach ( 1 .. (defined $todo{f} ? $todo{f} : 1 ) ) {
<a href="#l121" class="line" id="l121">    121</a> 			$body .= colour($rnd_clr[rand @rnd_clr],
<a href="#l122" class="line" id="l122">    122</a> 				$rnd_clr[rand @rnd_clr], $text, $todo{f});
<a href="#l123" class="line" id="l123">    123</a> 			$body .= &quot;\n&quot;;
<a href="#l124" class="line" id="l124">    124</a> 		}
<a href="#l125" class="line" id="l125">    125</a> 	} else {
<a href="#l126" class="line" id="l126">    126</a> 		$body = &quot;&quot;;
<a href="#l127" class="line" id="l127">    127</a> 		foreach ( 1 .. (defined $todo{f} ? $todo{f} : 1 ) ) {
<a href="#l128" class="line" id="l128">    128</a> 			$body .= colour( $todo{fg}, $todo{bg}, $text );
<a href="#l129" class="line" id="l129">    129</a> 			$body .= &quot;\n&quot;;
<a href="#l130" class="line" id="l130">    130</a> 		}
<a href="#l131" class="line" id="l131">    131</a> 	}
<a href="#l132" class="line" id="l132">    132</a> 	return $body;
<a href="#l133" class="line" id="l133">    133</a> }
<a href="#l134" class="line" id="l134">    134</a> 
<a href="#l135" class="line" id="l135">    135</a> sub cmd_cflood {
<a href="#l136" class="line" id="l136">    136</a> 	my (undef, $buffer, $data) = @_;
<a href="#l137" class="line" id="l137">    137</a> 	my $ret;
<a href="#l138" class="line" id="l138">    138</a> 
<a href="#l139" class="line" id="l139">    139</a> 	return weechat::WEECHAT_RC_OK if ($data eq &#39;&#39;);
<a href="#l140" class="line" id="l140">    140</a> 
<a href="#l141" class="line" id="l141">    141</a> 	chomp( $ret = parse($data) );
<a href="#l142" class="line" id="l142">    142</a> 
<a href="#l143" class="line" id="l143">    143</a> 	if ($ret =~ /\n/) {
<a href="#l144" class="line" id="l144">    144</a> 		map { weechat::command($buffer, &quot;/msg * $_&quot;) } (split /\n/, $ret);
<a href="#l145" class="line" id="l145">    145</a> 	} else { 
<a href="#l146" class="line" id="l146">    146</a> 		weechat::command($buffer, &quot;/msg * $ret&quot;);
<a href="#l147" class="line" id="l147">    147</a> 	}
<a href="#l148" class="line" id="l148">    148</a> 
<a href="#l149" class="line" id="l149">    149</a> 	return weechat::WEECHAT_RC_OK;
<a href="#l150" class="line" id="l150">    150</a> }
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>