<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TODO.tex - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../log.html">Log</a> | <a href="../../files.html">Files</a> | <a href="../../refs.html">Refs</a> | <a href="../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>TODO.tex <span class="desc">(15636B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> \documentclass{article}
<a href="#l2" class="line" id="l2">      2</a> \title{TODO}
<a href="#l3" class="line" id="l3">      3</a> \author{Leon Kaiser}
<a href="#l4" class="line" id="l4">      4</a> \date{2011-05-31}
<a href="#l5" class="line" id="l5">      5</a> \pagenumbering{arabic}
<a href="#l6" class="line" id="l6">      6</a> \pagestyle{headings}
<a href="#l7" class="line" id="l7">      7</a> \nofiles
<a href="#l8" class="line" id="l8">      8</a> \begin{document}
<a href="#l9" class="line" id="l9">      9</a> \maketitle
<a href="#l10" class="line" id="l10">     10</a> \tableofcontents
<a href="#l11" class="line" id="l11">     11</a> \contentsline {section}{\numberline {1}Tasks Organized by Priority}{2}
<a href="#l12" class="line" id="l12">     12</a> \contentsline {subsection}{\numberline {1.1}High Priority}{2}
<a href="#l13" class="line" id="l13">     13</a> \contentsline {subsection}{\numberline {1.2}Medium Priority}{2}
<a href="#l14" class="line" id="l14">     14</a> \contentsline {subsection}{\numberline {1.3}Low Priority}{3}
<a href="#l15" class="line" id="l15">     15</a> \contentsline {subsection}{\numberline {1.4}Unknown Priority}{3}
<a href="#l16" class="line" id="l16">     16</a> \contentsline {section}{\numberline {2}Relevant IRC/IRL logs:}{4}
<a href="#l17" class="line" id="l17">     17</a> \contentsline {subsection}{\numberline {2.1}Jmax}{4}
<a href="#l18" class="line" id="l18">     18</a> \contentsline {subsubsection}{\numberline {2.1.1}Jmax and madvirii}{4}
<a href="#l19" class="line" id="l19">     19</a> \contentsline {subsubsection}{\numberline {2.1.2}Jmax, vx`, and madvirii.}{4}
<a href="#l20" class="line" id="l20">     20</a> \contentsline {subsection}{\numberline {2.2}LiteralKa blogging to no-one in particular.}{5}
<a href="#l21" class="line" id="l21">     21</a> \contentsline {subsection}{\numberline {2.3}Rufas}{5}
<a href="#l22" class="line" id="l22">     22</a> \contentsline {subsubsection}{\numberline {2.3.1}Rufas, sparc, and thyme}{5}
<a href="#l23" class="line" id="l23">     23</a> \contentsline {subsubsection}{\numberline {2.3.2}Rufas, incog, and rshxd.}{6}
<a href="#l24" class="line" id="l24">     24</a> \contentsline {subsection}{\numberline {2.4}The l0de Radio Hour}{6}
<a href="#l25" class="line" id="l25">     25</a> \contentsline {subsubsection}{\numberline {2.4.1}Rufas at [S1E12] 16:26}{6}
<a href="#l26" class="line" id="l26">     26</a> \contentsline {subsubsection}{\numberline {2.4.2}Rufas at [20100409] 30:00}{6}
<a href="#l27" class="line" id="l27">     27</a> \contentsline {subsubsection}{\numberline {2.4.3}sloth at [20100409] 3:07:21}{7}
<a href="#l28" class="line" id="l28">     28</a> \newpage
<a href="#l29" class="line" id="l29">     29</a> % {{{ Tasks organized by priority
<a href="#l30" class="line" id="l30">     30</a> \section{Tasks Organized by Priority}\label{Tasks Organized by Priority}\index{Tasks Organized by Priority}
<a href="#l31" class="line" id="l31">     31</a> % {{{ High Priority
<a href="#l32" class="line" id="l32">     32</a> \subsection{High Priority}\label{High Priority}\index{High Priority}
<a href="#l33" class="line" id="l33">     33</a> \begin{itemize}
<a href="#l34" class="line" id="l34">     34</a> \item Support clone connections via {\tt TOR}.
<a href="#l35" class="line" id="l35">     35</a> \begin{itemize}
<a href="#l36" class="line" id="l36">     36</a> \item {\tt TOR} might actually already be supported by {\tt PROXY}.
<a href="#l37" class="line" id="l37">     37</a> \end{itemize}
<a href="#l38" class="line" id="l38">     38</a> \item File flooding with \emph{optional} adjustments for nick-length and latency.
<a href="#l39" class="line" id="l39">     39</a> \begin{itemize}
<a href="#l40" class="line" id="l40">     40</a> \item The reason for the `optional&#39; bit is because one won&#39;t necessarily need a nick-length adjustment if the file being flooded is not an {\tt ASCII} file (in fact, it will just look weird.)
<a href="#l41" class="line" id="l41">     41</a> \end{itemize}
<a href="#l42" class="line" id="l42">     42</a> \item Permit (bot)net to target multiple networks (be able to send separate commands to an individual network&#39;s bots.
<a href="#l43" class="line" id="l43">     43</a> \item Implement {\tt STUPID}-like {\tt SSH} tunneling. ({\tt SSH Tunnel Utilizing Python IRC Destroyer}.)
<a href="#l44" class="line" id="l44">     44</a> \item {\tt nickspam.pl}-style nick spamming (using {\tt /NAMES} output.)
<a href="#l45" class="line" id="l45">     45</a> \end{itemize}
<a href="#l46" class="line" id="l46">     46</a> % }}}
<a href="#l47" class="line" id="l47">     47</a> % {{{ Medium Priority
<a href="#l48" class="line" id="l48">     48</a> \subsection{Medium Priority}\label{Medium Priority}\index{Medium Priority}
<a href="#l49" class="line" id="l49">     49</a> \begin{itemize}
<a href="#l50" class="line" id="l50">     50</a> \item Add `nickshuffle&#39; with `nickbase&#39; option.
<a href="#l51" class="line" id="l51">     51</a> \item {\tt do\_jupe()}:
<a href="#l52" class="line" id="l52">     52</a> \begin{itemize}
<a href="#l53" class="line" id="l53">     53</a> \item Call on \{de,re,\}connection.
<a href="#l54" class="line" id="l54">     54</a> \end{itemize}
<a href="#l55" class="line" id="l55">     55</a> \item muhstik&#39;s mechanism to do {\tt MODE}s and {\tt KICK}s sucks. It doesn&#39;t track any list of nicks to op, or nicks to {\tt KICK}, but it tries to change with simple {\tt MODE +o} and {\tt KICK}. This needs to be recoded with penalty handling.
<a href="#l56" class="line" id="l56">     56</a> \item Mass\{{\tt KNOCK},{\tt INVITE},{\tt TOPIC}\}.
<a href="#l57" class="line" id="l57">     57</a> \begin{itemize}
<a href="#l58" class="line" id="l58">     58</a> \item For mass{\tt INVITE}s, allow a mask (*!*@*.* style) `blacklist&#39; of sorts, so that the clones don&#39;t {\tt INVITE} honeypot bots, lorf.
<a href="#l59" class="line" id="l59">     59</a> \end{itemize}
<a href="#l60" class="line" id="l60">     60</a> \item Add a `stop connect&#39; command (`pause&#39; or w/e.)
<a href="#l61" class="line" id="l61">     61</a> \begin{itemize}
<a href="#l62" class="line" id="l62">     62</a> \item It should toggle, obviously.
<a href="#l63" class="line" id="l63">     63</a> \end{itemize}
<a href="#l64" class="line" id="l64">     64</a> \item Max bots for connect -- maximum successful bots, not maximum connections.
<a href="#l65" class="line" id="l65">     65</a> \begin{itemize}
<a href="#l66" class="line" id="l66">     66</a> \item Allow increase/decrease.
<a href="#l67" class="line" id="l67">     67</a> \end{itemize}
<a href="#l68" class="line" id="l68">     68</a> \item Support {\tt SSL}/{\tt TLS} and {\tt SASL} {\tt IRC} connections%
<a href="#l69" class="line" id="l69">     69</a> \footnote[1]{Leach, P., Newman, C. \emph{Using Digest Authentication as a SASL Mechanism}, {\tt RFC 2831}, May 2000, (http://www.ietf.org/rfc/rfc2831.txt)}%
<a href="#l70" class="line" id="l70">     70</a> \footnote[2]{Myers, J. \emph{Simple Authentication and Security Layer (SASL)}, {\tt RFC 2222}, October 1997. (http://www.ietf.org/rfc/rfc2222.txt)}%
<a href="#l71" class="line" id="l71">     71</a> \footnote[3]{Newman, C. \emph{Anonymous SASL Mechanism}, {\tt RFC 2245}, November 1997. (http://www.ietf.org/rfc/rfc2245.txt)}
<a href="#l72" class="line" id="l72">     72</a> \item Fix the buffer overflow or what the fuck ever when scan mode is enabled.
<a href="#l73" class="line" id="l73">     73</a> \end{itemize}
<a href="#l74" class="line" id="l74">     74</a> % }}}
<a href="#l75" class="line" id="l75">     75</a> % {{{ Low Priority
<a href="#l76" class="line" id="l76">     76</a> \subsection{Low Priority}\label{Low Priority}\index{Low Priority}
<a href="#l77" class="line" id="l77">     77</a> \begin{itemize}
<a href="#l78" class="line" id="l78">     78</a> \item Inline documentation.
<a href="#l79" class="line" id="l79">     79</a> \item {\tt TOPIC} lock mode.
<a href="#l80" class="line" id="l80">     80</a> \item {\tt TOPIC} fight mode.
<a href="#l81" class="line" id="l81">     81</a> \item {\tt CTCP} responses.
<a href="#l82" class="line" id="l82">     82</a> \item Random colored messages.
<a href="#l83" class="line" id="l83">     83</a> \item Spam every person, (non-)\{op,ircop,voice\}, etc. in the channel.
<a href="#l84" class="line" id="l84">     84</a> \item \{Mass,Single\} reconnect (for evading {\tt ident} bans.)
<a href="#l85" class="line" id="l85">     85</a> \item Detect {\tt MODE +g} notifications on {\tt PRIVMSG}.
<a href="#l86" class="line" id="l86">     86</a> \begin{itemize}
<a href="#l87" class="line" id="l87">     87</a> \item Probably should just issue a warning or something.
<a href="#l88" class="line" id="l88">     88</a> \end{itemize}
<a href="#l89" class="line" id="l89">     89</a> \item Add \emph{optional} spectator -- bot that watches, and doesn&#39;t respond to `all&#39;.
<a href="#l90" class="line" id="l90">     90</a> \item Modify bot behavior so that if a clone is the only `user&#39; in a channel, the clone will cycle \emph{only} once. If deopped by ChanServ, etc. then give up.
<a href="#l91" class="line" id="l91">     91</a> \begin{itemize}
<a href="#l92" class="line" id="l92">     92</a> \item Possibly include a configuration setting that determines if channel registration is possible on the network ({\tt boolean}, on the off-chance that a network with NickServ doesn&#39;t have ChanServ, as it would otherwise be covered by {\tt conf.dalnet}.)
<a href="#l93" class="line" id="l93">     93</a> \end{itemize}
<a href="#l94" class="line" id="l94">     94</a> \item Does {\tt echo} mimic {\tt CTCP ACTION}s as well?
<a href="#l95" class="line" id="l95">     95</a> \item Allow \emph{optional} Cisco passwords (in format IP\{:PW,\}.)
<a href="#l96" class="line" id="l96">     96</a> \item {\tt do\_jupe()}:
<a href="#l97" class="line" id="l97">     97</a> \begin{itemize}
<a href="#l98" class="line" id="l98">     98</a> \item If ghosted, does the affected clone reconnect?
<a href="#l99" class="line" id="l99">     99</a> \end{itemize}
<a href="#l100" class="line" id="l100">    100</a> \end{itemize}
<a href="#l101" class="line" id="l101">    101</a> % }}}
<a href="#l102" class="line" id="l102">    102</a> % {{{ Unknown Priority
<a href="#l103" class="line" id="l103">    103</a> \subsection{Unknown Priority}\label{Unknown Priority}\index{Unknown Priority}
<a href="#l104" class="line" id="l104">    104</a> \begin{itemize}
<a href="#l105" class="line" id="l105">    105</a> \item {\tt do\_jupe()}:
<a href="#l106" class="line" id="l106">    106</a> \begin{itemize}
<a href="#l107" class="line" id="l107">    107</a> \item \_2\_ @ {\tt MONITOR}
<a href="#l108" class="line" id="l108">    108</a> \item Handle overflow.
<a href="#l109" class="line" id="l109">    109</a> \end{itemize}
<a href="#l110" class="line" id="l110">    110</a> \item {\tt .select *\&amp;,}
<a href="#l111" class="line" id="l111">    111</a> \item {\tt .deaf}
<a href="#l112" class="line" id="l112">    112</a> \item Write or find some sort of tool that can differentiate between {\tt SOCKS4} and {\tt SOCKS5} proxies.
<a href="#l113" class="line" id="l113">    113</a> \item Should {\tt static} be used more?
<a href="#l114" class="line" id="l114">    114</a> \end{itemize}
<a href="#l115" class="line" id="l115">    115</a> % }}}
<a href="#l116" class="line" id="l116">    116</a> % }}}
<a href="#l117" class="line" id="l117">    117</a> % {{{ Relevant IRC/IRL logs:
<a href="#l118" class="line" id="l118">    118</a> \section{Relevant IRC/IRL logs:}\label{Relevant IRC/IRL logs:}\index{Relevant IRC/IRL logs:}
<a href="#l119" class="line" id="l119">    119</a> % {{{ Jmax
<a href="#l120" class="line" id="l120">    120</a> \subsection{Jmax}\label{Jmax}\index{Jmax}
<a href="#l121" class="line" id="l121">    121</a> % {{{ Jmax and madvirii.
<a href="#l122" class="line" id="l122">    122</a> \subsubsection{Jmax and madvirii}\label{Jmax and madvirii}\index{Jmax and madvirii}
<a href="#l123" class="line" id="l123">    123</a> 02:32:57 $&lt;$@Jmax$&gt;$ maybe... add line numbers?\\
<a href="#l124" class="line" id="l124">    124</a> 02:33:12 $&lt;$+madvirii$&gt;$ yah, like but it would have to be a system\\
<a href="#l125" class="line" id="l125">    125</a> 02:33:19 $&lt;$@Jmax$&gt;$ or after the line is sent to chan, send a message to the next\\\indent bot\\
<a href="#l126" class="line" id="l126">    126</a> 02:33:20 $&lt;$+madvirii$&gt;$ cuz it would get old editing your fav asciis\\
<a href="#l127" class="line" id="l127">    127</a> 02:33:36 $&lt;$@Jmax$&gt;$ system?\\
<a href="#l128" class="line" id="l128">    128</a> 02:33:44 $&lt;$+madvirii$&gt;$ yah like, read the txt file in line by line in an array, and\\\indent then assign a line number to each bot accordingly, if they got banned, it\\\indent might affect it, unless u design a failsafe, but it seems to be the right direction\\\indent to head in\\
<a href="#l129" class="line" id="l129">    129</a> 02:34:50 $&lt;$@Jmax$&gt;$ if a bot can&#39;t send the message, it&#39;s delegated
<a href="#l130" class="line" id="l130">    130</a> % }}}
<a href="#l131" class="line" id="l131">    131</a> % {{{ Jmax, vx`, and madvirii.
<a href="#l132" class="line" id="l132">    132</a> \subsubsection{Jmax, vx`, and madvirii.}\label{Jmax, vx`, and madvirii.}\index{Jmax, vx`, and madvirii.}
<a href="#l133" class="line" id="l133">    133</a> 02:44:38 $&lt;$@Jmax$&gt;$ if you mean \emph{cat}|(1)ting, then here&#39;s what I have in mind:\\
<a href="#l134" class="line" id="l134">    134</a> 02:44:41 $&lt;$@Jmax$&gt;$ 1) determine latency\\
<a href="#l135" class="line" id="l135">    135</a> 02:44:47 $&lt;$ vx`$&gt;$ if it&#39;s gonna have the ability to scroll an ascii with the whole\\\indent set of bots or some that ie. aren&#39;t banned on the channel\\
<a href="#l136" class="line" id="l136">    136</a> 02:44:50 $&lt;$@Jmax$&gt;$ 2) ignore any bots with high latency, if there&#39;s enough bots\\
<a href="#l137" class="line" id="l137">    137</a> 02:44:56 $&lt;$ vx`$&gt;$ then you wouldn&#39;t want some bots ruining the ascii because of\\\indent slow links\\
<a href="#l138" class="line" id="l138">    138</a> 02:45:38 $&lt;$+madvirii$&gt;$ well, if we determine latency, and then just have the ten\\\indent fastest bots\\
<a href="#l139" class="line" id="l139">    139</a> 02:45:52 $&lt;$@Jmax$&gt;$ no, we can&#39;t just ignore the bots\\
<a href="#l140" class="line" id="l140">    140</a> 02:45:59 $&lt;$ vx`$&gt;$ hardly efficient\\
<a href="#l141" class="line" id="l141">    141</a> 02:46:03 $&lt;$@Jmax$&gt;$ if we only have 10, then it&#39;ll still be limited. esp. if we have\\\indent 100 more\\
<a href="#l142" class="line" id="l142">    142</a> 02:46:34 $&lt;$ vx`$&gt;$ apart from that, low latency links might get a) hit by the other\\\indent bots scrolling b) throttled c) \{banned,muted,shunned,glined\}\\
<a href="#l143" class="line" id="l143">    143</a> 02:47:29 $&lt;$@Jmax$&gt;$ 3) determine which bots are capable of speaking in the\\\indent channel. (not\{muted,banned,shunned\}, etc.)\\
<a href="#l144" class="line" id="l144">    144</a> 02:47:56 $&lt;$ vx`$&gt;$ freenode&#39;s ircd might have some gay features to suppress\\\indent ruining, and you don&#39;t necessarily get numerics from the ircd informing you\\
<a href="#l145" class="line" id="l145">    145</a> 02:48:11 $&lt;$+madvirii$&gt;$ that is a good 3-step process to execute \emph{prior} to even\\\indent attempting to load a file\\
<a href="#l146" class="line" id="l146">    146</a> 02:48:31 $&lt;$@Jmax$&gt;$ 4) pull the file into an array, and assign each line to one of\\\indent those bots\\
<a href="#l147" class="line" id="l147">    147</a> 02:48:51 $&lt;$@Jmax$&gt;$ 5) measure nick length, pad accordingly\\
<a href="#l148" class="line" id="l148">    148</a> 02:50:18 $&lt;$ vx`$&gt;$ but there are some time constraints on that code,\\\indent proportionally to the amount of bots you&#39;re scrolling with\\
<a href="#l149" class="line" id="l149">    149</a> 02:50:28 $&lt;$@Jmax$&gt;$ actually, in step 4, do not assign each line to a bot, maintain\\\indent each list separately, a queue for \{bot,line\}s\\
<a href="#l150" class="line" id="l150">    150</a> 02:55:02 $&lt;$@Jmax$&gt;$ 6) issue the first line to the first bot in queue, and make\\\indent the second bot wait for a successful message. If, during that time, it is\\\indent determined by the first bot that it \emph{cannot} send the message (and it&#39;s not a\\\indent latency issue), the line is re-assigned to the next bot in the queue and\\\indent removed from the queue.\\
<a href="#l151" class="line" id="l151">    151</a> 02:55:34 $&lt;$@Jmax$&gt;$ 7) repeat until the file is complete.\\
<a href="#l152" class="line" id="l152">    152</a> 02:55:52 $&lt;$@Jmax$&gt;$ that will ensure that, if a bot is kicked, the rest of the bots\\\indent take account for it\\
<a href="#l153" class="line" id="l153">    153</a> 02:56:04 $&lt;$+madvirii$&gt;$ so the number of lines in the file queue will determine\\\indent the number of bot instances in the bot queue\\
<a href="#l154" class="line" id="l154">    154</a> 02:56:05 $&lt;$@Jmax$&gt;$ and any lines assigned to that bot are not ignored\\
<a href="#l155" class="line" id="l155">    155</a> 02:56:10 $&lt;$@Jmax$&gt;$ no, completely independent\\
<a href="#l156" class="line" id="l156">    156</a> 02:56:27 $&lt;$ vx`$&gt;$ what do you in case of a line not arriving due to ie. unexpected\\\indent network problems, the link going down completely, etc.\\
<a href="#l157" class="line" id="l157">    157</a> 02:56:39 $&lt;$+madvirii$&gt;$ ok so its just for lines in queue\\
<a href="#l158" class="line" id="l158">    158</a> 02:57:24 $&lt;$@Jmax$&gt;$ well, that&#39;s what the second part of step 6 is for, but that\\\indent doesn&#39;t account for netsplits\\
<a href="#l159" class="line" id="l159">    159</a> 02:57:48 $&lt;$ vx`$&gt;$ or any other network issues for that matter, like the proxy\\\indent going down or lagging, ...\\
<a href="#l160" class="line" id="l160">    160</a> 03:00:02 $&lt;$@Jmax$&gt;$ sure it does, there will be a timeout, there will be the chance\\\indent that the bot is just very very lagged, and wasn&#39;t removed from the queue\\\indent earlier, and sends the message, reaches the timeout, and the other bot\\\indent replaces it, however, the message was still sent, so it will show up later\\
<a href="#l161" class="line" id="l161">    161</a> 03:02:08 $&lt;$ vx`$&gt;$ sure, but out of order and if that&#39;d happen too often it&#39;d ruin\\\indent the whole thing\\
<a href="#l162" class="line" id="l162">    162</a> 03:02:16 $&lt;$@Jmax$&gt;$ right: i think that will be a rarity
<a href="#l163" class="line" id="l163">    163</a> % }}}
<a href="#l164" class="line" id="l164">    164</a> % }}}
<a href="#l165" class="line" id="l165">    165</a> % {{{ LiteralKa blogging to no-one in particular.
<a href="#l166" class="line" id="l166">    166</a> \subsection{LiteralKa blogging to no-one in particular.}\label{LiteralKa blogging to no-one in particular.}\index{LiteralKa blogging to no-one in particular.}
<a href="#l167" class="line" id="l167">    167</a> 13:51:56 $&lt;$\&amp;LiteralKa$&gt;$ Maybe a command to spam a specific type of person in\\\indent a given channel: (non-)\{ops,ircops,voiced\}, all, etc.\\
<a href="#l168" class="line" id="l168">    168</a> 13:53:34 $&lt;$\&amp;LiteralKa$&gt;$ Synchronized ASCII flooding would be p. cool (read:\\\indent \emph{cat}(1)-style file flooding.)\\
<a href="#l169" class="line" id="l169">    169</a> 13:53:48 $&lt;$\&amp;LiteralKa$&gt;$ Like, delegate {\tt x} amount of lines to each bot based on\\\indent connection speed or some other algorithm or something.
<a href="#l170" class="line" id="l170">    170</a> % }}}
<a href="#l171" class="line" id="l171">    171</a> % {{{ Rufas
<a href="#l172" class="line" id="l172">    172</a> \subsection{Rufas}\label{Rufas}\index{Rufas}
<a href="#l173" class="line" id="l173">    173</a> % {{{ Rufas, sparc, and thyme
<a href="#l174" class="line" id="l174">    174</a> \subsubsection{Rufas, sparc, and thyme}\label{Rufas, sparc, and thyme}\index{Rufas, sparc, and thyme}
<a href="#l175" class="line" id="l175">    175</a> 21:38:16 $&lt;$+Rucas$&gt;$ i highly suggest you check out {\tt STUPID}, run it from a very\\\indent fast box and it can DDOS an ircd just by flooding text in chat, {\tt SSH Tunnel\\\indent Utilizing Python IRC Destroyer}\\
<a href="#l176" class="line" id="l176">    176</a> 21:38:54 $&lt;$ sparc$&gt;$ \emph{Rucas}: how fast of a box are we talking\\
<a href="#l177" class="line" id="l177">    177</a> 21:39:00 $&lt;$+Rucas$&gt;$ 100mbit is perfect, basically you need enough bandwidth\\\indent to push all the OTHER boxes at a decent rate, it still does pretty well from\\\indent a standard cable line though\\
<a href="#l178" class="line" id="l178">    178</a> 21:39:42 $&lt;$ thyme$&gt;$ cant do something like: start remote processes on machines\\\indent to avoid having to have one big monsterbox and just send signalling from\\\indent home box\\
<a href="#l179" class="line" id="l179">    179</a> 21:40:09 $&lt;$+Rucas$&gt;$ well the original intent was cooperative flooding so like,\\\indent you&#39;d have 5 hosts and they&#39;d all paste lines of one ascii, so you could spam\\\indent asciis but bots wouldn&#39;t molish you but i never got around to that, because\\\indent of \emph{jenk}&#39;s {\tt irc-rc}
<a href="#l180" class="line" id="l180">    180</a> % }}}
<a href="#l181" class="line" id="l181">    181</a> % {{{ Rufas, incog, and rshxd.
<a href="#l182" class="line" id="l182">    182</a> \subsubsection{Rufas, incog, and rshxd.}\label{Rufas, incog, and rshxd.}\index{Rufas, incog, and rshxd.}
<a href="#l183" class="line" id="l183">    183</a> 21:42:43 $&lt;$ rshxd$&gt;$ \emph{Rucas}: since when did you write {\tt ASIAN}\\
<a href="#l184" class="line" id="l184">    184</a> 21:42:50 $&lt;$\&amp;Rucas$&gt;$ fucing years ago\\
<a href="#l185" class="line" id="l185">    185</a> 21:42:59 $&lt;$ rshxd$&gt;$ I thought \emph{abez} wrote that for you\\
<a href="#l186" class="line" id="l186">    186</a> 21:43:02 $&lt;$\&amp;Rucas$&gt;$ no, i wrote it, and \emph{abez} rewrote part of it\\
<a href="#l187" class="line" id="l187">    187</a> 21:43:04 $&lt;$ incog$&gt;$ before that was {\tt AYSYN}\\
<a href="#l188" class="line" id="l188">    188</a> 21:43:13 $&lt;$\&amp;Rucas$&gt;$ and then \emph{Jmax} rewrote that, and it is on {\tt ASIANv6} or some\\\indent shit, but i wrote {\tt ASIANv1}\\
<a href="#l189" class="line" id="l189">    189</a> 21:43:36 $&lt;$ incog$&gt;$ was it based off \emph{mef}&#39;s shit or all new?\\
<a href="#l190" class="line" id="l190">    190</a> 21:43:42 $&lt;$\&amp;Rucas$&gt;$ all new, i wish i had \emph{mef}&#39;s code, but now i wrote {\tt STUPID}\\\indent which is much nicer than {\tt ASIAN}
<a href="#l191" class="line" id="l191">    191</a> % }}}
<a href="#l192" class="line" id="l192">    192</a> % }}}
<a href="#l193" class="line" id="l193">    193</a> % {{{ The l0de Radio Hour
<a href="#l194" class="line" id="l194">    194</a> \subsection{The l0de Radio Hour}\label{The l0de Radio Hour}\index{The l0de Radio Hour}
<a href="#l195" class="line" id="l195">    195</a> % {{{ Rufas at [S1E12] 16:26
<a href="#l196" class="line" id="l196">    196</a> \subsubsection{Rufas at [S1E12] 16:26}\label{Rufas at [S1E12] 16:26}\index{Rufas at [S1E12] 16:26}
<a href="#l197" class="line" id="l197">    197</a> \emph{l0de}: [If you steal that idea] my lawyers will fuck you so severely that it&#39;s not\\\indent even funny...\\
<a href="#l198" class="line" id="l198">    198</a> \emph{Rufas}: I&#39;m sure they will, just like that guy&#39;s 800 bot botnet running wild on\\\indent EFNet right now.\\
<a href="#l199" class="line" id="l199">    199</a> \emph{l0de}: Holy shit, that&#39;s hillarious--he&#39;s got 800 bots now?\\
<a href="#l200" class="line" id="l200">    200</a> \emph{Rufas}: Yeah, he&#39;s up to 900 now.\\
<a href="#l201" class="line" id="l201">    201</a> \emph{l0de}: 900 fuckin&#39; bots, through a JPEG redirect exploit-type of thing? [...] And\\\indent for our listeners, basically this guy coded an Internet Explorer link that runs\\\indent an mIRC exploit and basically \bf{turns your computar into botnet}\rm\\
<a href="#l202" class="line" id="l202">    202</a> \emph{Rufas}: And he authorized us to reverse engineer it [...] We can use it to assrape\\\indent \emph{\#politics}.
<a href="#l203" class="line" id="l203">    203</a> % }}}
<a href="#l204" class="line" id="l204">    204</a> % {{{ Rufas at [20100409] 30:00
<a href="#l205" class="line" id="l205">    205</a> \subsubsection{Rufas at [20100409] 30:00}\label{Rufas at [20100409] 30:00}\index{Rufas at [20100409] 30:00}
<a href="#l206" class="line" id="l206">    206</a> \emph{l0de}: Alright, so what people really want to hear about from you is the ruin:\\\indent the mega ruin that is going on. And you have this \bf{massive}\rm\symbol{32} fucking botnet\\\indent and you&#39;re annihilating everything that comes into contact with you. I know\\\indent Hardchats was DDoSed massively last night, primarily because of your\\\indent exploits. Why don&#39;t you tell us what happened?\\
<a href="#l207" class="line" id="l207">    207</a> \emph{Rufas}: Well, not a heck of a lot has really changed with what I&#39;ve been doing.\\\indent I&#39;ve used the new tool I wrote a few months ago called {\tt STUPID} but-\\
<a href="#l208" class="line" id="l208">    208</a> \emph{l0de}: Is this a reference to \emph{Max Goldberg}&#39;s {\tt AYSYN}--no it was \emph{mef} that wrote\\\indent {\tt AYSYN} right?\\
<a href="#l209" class="line" id="l209">    209</a> \emph{Rufas}: \emph{mef} wrote {\tt AYSYN} and I wrote {\tt ASIAN} based on that which was {\tt Automated\\\indent Synchronous IRC Attack Network}. And then based on that I made {\tt STUPID},\\\indent which is {\tt SSH Tunnel Utilizing Python IRC Destroyer}--because they all\\\indent have to have some sort of stupid {\tt GNU} acronym to go with them.
<a href="#l210" class="line" id="l210">    210</a> % }}}
<a href="#l211" class="line" id="l211">    211</a> % {{{ sloth at [20100409] 3:07:21
<a href="#l212" class="line" id="l212">    212</a> \subsubsection{sloth at [20100409] 3:07:21}\label{sloth at [20100409] 3:07:21}\index{sloth at [20100409] 3:07:21}
<a href="#l213" class="line" id="l213">    213</a> \emph{sloth}: I&#39;ve gotten a lot of comments about &quot;Oh my God! This is the first IPv6\\\indent botnet I&#39;ve ever seen.&quot;\\
<a href="#l214" class="line" id="l214">    214</a> \emph{sloth}: We are on the cutting edge of IRC flooding: we are pushing it into IPv6\\\indent and people just \bf{don&#39;t even know}\rm.
<a href="#l215" class="line" id="l215">    215</a> % }}}
<a href="#l216" class="line" id="l216">    216</a> % }}}
<a href="#l217" class="line" id="l217">    217</a> % }}}
<a href="#l218" class="line" id="l218">    218</a> % }}}
<a href="#l219" class="line" id="l219">    219</a> \end{document}
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>