<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ducks.txt - ircart - massive collection of organized irc ascii art</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="ircart Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="ircart Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>ircart</h1><span class="desc"> - massive collection of organized irc ascii art</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/ircart.git">git://git.acid.vegas/ircart.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>ducks.txt <span class="desc">(786B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a>                       | | / /
<a href="#l2" class="line" id="l2">      2</a>    .----/           \         /
<a href="#l3" class="line" id="l3">      3</a>    |   /           \__   ____  /
<a href="#l4" class="line" id="l4">      4</a>    |  /\          /   \ /    \  |
<a href="#l5" class="line" id="l5">      5</a>    | /\ \        /     |      \ \
<a href="#l6" class="line" id="l6">      6</a>    |/  \ \______/     /        | |____ 
<a href="#l7" class="line" id="l7">      7</a>         \/______|     |        |(____/\ 
<a href="#l8" class="line" id="l8">      8</a>                /   () | ()     | |   \ \
<a href="#l9" class="line" id="l9">      9</a>                |    __|__      | |    \ \          /
<a href="#l10" class="line" id="l10">     10</a>               _|___/___  \___  | |     \ \_____\/{_//_/
<a href="#l11" class="line" id="l11">     11</a>         __----         ----__\---\_     \/_______ __  {{
<a href="#l12" class="line" id="l12">     12</a>        /                        __ |           \ -\ \@\
<a href="#l13" class="line" id="l13">     13</a>        \____-------------______/  \              \  \
<a href="#l14" class="line" id="l14">     14</a>                 /    /  /      / _/
<a href="#l15" class="line" id="l15">     15</a>                /     \ /      / /
<a href="#l16" class="line" id="l16">     16</a>               /       $      / /
<a href="#l17" class="line" id="l17">     17</a>              /              / /
<a href="#l18" class="line" id="l18">     18</a>             |              | /
<a href="#l19" class="line" id="l19">     19</a>             \______________//
<a href="#l20" class="line" id="l20">     20</a>                \________/    </pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>