<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>resource.h - unrealircd - supernets unrealircd source &amp; configuration</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="unrealircd Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="unrealircd Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>unrealircd</h1><span class="desc"> - supernets unrealircd source &amp; configuration</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/unrealircd.git">git://git.acid.vegas/unrealircd.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a> | <a href="../../../file/LICENSE.html">LICENSE</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>resource.h <span class="desc">(4554B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> //{{NO_DEPENDENCIES}}
<a href="#l2" class="line" id="l2">      2</a> // Microsoft Developer Studio generated include file.
<a href="#l3" class="line" id="l3">      3</a> // Used by Win32GUI.rc
<a href="#l4" class="line" id="l4">      4</a> //
<a href="#l5" class="line" id="l5">      5</a> #define VER_UNREAL                      1
<a href="#l6" class="line" id="l6">      6</a> #define MANIFEST_RESOURCE_ID            2
<a href="#l7" class="line" id="l7">      7</a> #define ICO_MAIN                        129
<a href="#l8" class="line" id="l8">      8</a> #define BMP_LOGO                        130
<a href="#l9" class="line" id="l9">      9</a> #define BMP_BAR                         133
<a href="#l10" class="line" id="l10">     10</a> #define CUR_HAND                        136
<a href="#l11" class="line" id="l11">     11</a> #define MENU_ABOUT                      137
<a href="#l12" class="line" id="l12">     12</a> #define MENU_CONFIG                     141
<a href="#l13" class="line" id="l13">     13</a> #define MENU_REHASH                     144
<a href="#l14" class="line" id="l14">     14</a> #define MENU_SYSTRAY                    145
<a href="#l15" class="line" id="l15">     15</a> #define MENU_CONTEXT                    146
<a href="#l16" class="line" id="l16">     16</a> #define IDB_BITMAP1                     150
<a href="#l17" class="line" id="l17">     17</a> #define IDC_BAR                         1103
<a href="#l18" class="line" id="l18">     18</a> #define IDC_TOOLBAR                     1104
<a href="#l19" class="line" id="l19">     19</a> #define IDC_STATUS                      1105
<a href="#l20" class="line" id="l20">     20</a> #define IDC_TEXT                        1107
<a href="#l21" class="line" id="l21">     21</a> #define IDC_EMAIL                       1108
<a href="#l22" class="line" id="l22">     22</a> #define IDC_URL                         1109
<a href="#l23" class="line" id="l23">     23</a> #define IDC_TREE                        1111
<a href="#l24" class="line" id="l24">     24</a> #define IDC_CHANNELS                    1112
<a href="#l25" class="line" id="l25">     25</a> #define IDC_CLIENTS                     1113
<a href="#l26" class="line" id="l26">     26</a> #define IDC_SERVERS                     1114
<a href="#l27" class="line" id="l27">     27</a> #define IDC_INVISO                      1115
<a href="#l28" class="line" id="l28">     28</a> #define IDC_OPERS                       1116
<a href="#l29" class="line" id="l29">     29</a> #define IDC_UNKNOWN                     1117
<a href="#l30" class="line" id="l30">     30</a> #define IDC_MAXCLIENTS                  1118
<a href="#l31" class="line" id="l31">     31</a> #define IDC_LCLIENTS                    1122
<a href="#l32" class="line" id="l32">     32</a> #define IDC_LSERVERS                    1123
<a href="#l33" class="line" id="l33">     33</a> #define IDC_LMAXCLIENTS                 1124
<a href="#l34" class="line" id="l34">     34</a> #define IDC_UPTIME                      1125
<a href="#l35" class="line" id="l35">     35</a> #define IDC_CONFIGERROR                 1126
<a href="#l36" class="line" id="l36">     36</a> #define IDC_BOLD                        1130
<a href="#l37" class="line" id="l37">     37</a> #define IDC_UNDERLINE                   1131
<a href="#l38" class="line" id="l38">     38</a> #define IDC_FIND                        1132
<a href="#l39" class="line" id="l39">     39</a> #define IDFIND                          1133
<a href="#l40" class="line" id="l40">     40</a> #define IDC_FINDTEXT                    1135
<a href="#l41" class="line" id="l41">     41</a> #define IDC_GOTO                        1135
<a href="#l42" class="line" id="l42">     42</a> #define IDC_MATCHWHOLE                  1137
<a href="#l43" class="line" id="l43">     43</a> #define IDC_MATCHCASE                   1138
<a href="#l44" class="line" id="l44">     44</a> #define IDC_DIRUP                       1139
<a href="#l45" class="line" id="l45">     45</a> #define IDC_DIRDOWN                     1140
<a href="#l46" class="line" id="l46">     46</a> #define IDC_COLOR                       1141
<a href="#l47" class="line" id="l47">     47</a> #define IDC_BGCOLOR			1142
<a href="#l48" class="line" id="l48">     48</a> #define IDC_WHITE                       1163
<a href="#l49" class="line" id="l49">     49</a> #define IDC_BLACK                       1164
<a href="#l50" class="line" id="l50">     50</a> #define IDC_DARKBLUE                    1165
<a href="#l51" class="line" id="l51">     51</a> #define IDC_DARKGREEN                   1166
<a href="#l52" class="line" id="l52">     52</a> #define IDC_PASS                        1166
<a href="#l53" class="line" id="l53">     53</a> #define IDC_RED                         1167
<a href="#l54" class="line" id="l54">     54</a> #define IDC_DARKRED                     1168
<a href="#l55" class="line" id="l55">     55</a> #define IDC_PURPLE                      1169
<a href="#l56" class="line" id="l56">     56</a> #define IDC_ORANGE                      1170
<a href="#l57" class="line" id="l57">     57</a> #define IDC_YELLOW                      1171
<a href="#l58" class="line" id="l58">     58</a> #define IDC_GREEN                       1172
<a href="#l59" class="line" id="l59">     59</a> #define IDC_VDARKGREEN                  1173
<a href="#l60" class="line" id="l60">     60</a> #define IDC_LIGHTBLUE                   1174
<a href="#l61" class="line" id="l61">     61</a> #define IDC_BLUE                        1175
<a href="#l62" class="line" id="l62">     62</a> #define IDC_PINK                        1176
<a href="#l63" class="line" id="l63">     63</a> #define IDC_DARKGRAY                    1177
<a href="#l64" class="line" id="l64">     64</a> #define IDC_GRAY                        1178
<a href="#l65" class="line" id="l65">     65</a> #define IDM_INFO                        40026
<a href="#l66" class="line" id="l66">     66</a> #define IDM_CREDITS                     40027
<a href="#l67" class="line" id="l67">     67</a> #define IDM_DAL                         40028
<a href="#l68" class="line" id="l68">     68</a> #define IDM_LICENSE                     40029
<a href="#l69" class="line" id="l69">     69</a> #define IDM_HELP                        40030
<a href="#l70" class="line" id="l70">     70</a> #define IDM_SAVE                        40031
<a href="#l71" class="line" id="l71">     71</a> #define IDM_REDO                        40032
<a href="#l72" class="line" id="l72">     72</a> #define IDM_SMOTD			40036
<a href="#l73" class="line" id="l73">     73</a> #define IDM_CONF                        40037
<a href="#l74" class="line" id="l74">     74</a> #define IDM_MOTD                        40038
<a href="#l75" class="line" id="l75">     75</a> #define IDM_BOTMOTD                     40039
<a href="#l76" class="line" id="l76">     76</a> #define IDM_OPERMOTD                    40040
<a href="#l77" class="line" id="l77">     77</a> #define IDM_RULES                       40041
<a href="#l78" class="line" id="l78">     78</a> #define IDM_RHALL                       40042
<a href="#l79" class="line" id="l79">     79</a> #define IDM_RHCONF                      40044
<a href="#l80" class="line" id="l80">     80</a> #define IDM_RHMOTD                      40045
<a href="#l81" class="line" id="l81">     81</a> #define IDM_RHOMOTD                     40046
<a href="#l82" class="line" id="l82">     82</a> #define IDM_RHBMOTD                     40047
<a href="#l83" class="line" id="l83">     83</a> #define IDM_RHRULES                     40048
<a href="#l84" class="line" id="l84">     84</a> #define IDM_REHASH                      40049
<a href="#l85" class="line" id="l85">     85</a> #define IDM_STATUS                      40050
<a href="#l86" class="line" id="l86">     86</a> #define IDM_CONFIG                      40051
<a href="#l87" class="line" id="l87">     87</a> #define IDM_ABOUT                       40052
<a href="#l88" class="line" id="l88">     88</a> #define IDM_SHUTDOWN                    40053
<a href="#l89" class="line" id="l89">     89</a> #define IDM_UNDO                        40054
<a href="#l90" class="line" id="l90">     90</a> #define IDM_CUT                         40055
<a href="#l91" class="line" id="l91">     91</a> #define IDM_COPY                        40056
<a href="#l92" class="line" id="l92">     92</a> #define IDM_PASTE                       40057
<a href="#l93" class="line" id="l93">     93</a> #define IDM_DELETE                      40058
<a href="#l94" class="line" id="l94">     94</a> #define IDM_SELECTALL                   40059
<a href="#l95" class="line" id="l95">     95</a> #define IDM_NEW                         40060
<a href="#l96" class="line" id="l96">     96</a> #define IDC_STATIC                      -1
<a href="#l97" class="line" id="l97">     97</a> 
<a href="#l98" class="line" id="l98">     98</a> // Next default values for new objects
<a href="#l99" class="line" id="l99">     99</a> // 
<a href="#l100" class="line" id="l100">    100</a> #ifdef APSTUDIO_INVOKED
<a href="#l101" class="line" id="l101">    101</a> #ifndef APSTUDIO_READONLY_SYMBOLS
<a href="#l102" class="line" id="l102">    102</a> #define _APS_NO_MFC                     1
<a href="#l103" class="line" id="l103">    103</a> #define _APS_NEXT_RESOURCE_VALUE        152
<a href="#l104" class="line" id="l104">    104</a> #define _APS_NEXT_COMMAND_VALUE         40061
<a href="#l105" class="line" id="l105">    105</a> #define _APS_NEXT_CONTROL_VALUE         1167
<a href="#l106" class="line" id="l106">    106</a> #define _APS_NEXT_SYMED_VALUE           104
<a href="#l107" class="line" id="l107">    107</a> #endif
<a href="#l108" class="line" id="l108">    108</a> #endif
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>