<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>bday2.txt - ircart - massive collection of organized irc ascii art</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="ircart Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="ircart Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>ircart</h1><span class="desc"> - massive collection of organized irc ascii art</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/ircart.git">git://git.acid.vegas/ircart.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>bday2.txt <span class="desc">(1201B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> \\\ ,
<a href="#l2" class="line" id="l2">      2</a>                   \ `|
<a href="#l3" class="line" id="l3">      3</a>                    ) (   .-&quot;&quot;-.
<a href="#l4" class="line" id="l4">      4</a>                    | |  /_  {  &#39;.
<a href="#l5" class="line" id="l5">      5</a>                    | | (/ `\   } )
<a href="#l6" class="line" id="l6">      6</a>                    | |  ^/ ^`}   {
<a href="#l7" class="line" id="l7">      7</a>                    \  \ \=  ( {   )
<a href="#l8" class="line" id="l8">      8</a>                     \  \ &#39;-, {   {{
<a href="#l9" class="line" id="l9">      9</a>                      \  \_.&#39;  ) }  )
<a href="#l10" class="line" id="l10">     10</a>                       \.-&#39;   (     (
<a href="#l11" class="line" id="l11">     11</a>                       /&#39;-.&#39;_. ) (  }
<a href="#l12" class="line" id="l12">     12</a>                       \_(    {   _/\
<a href="#l13" class="line" id="l13">     13</a>                        ) &#39;--&#39; `-;\  \
<a href="#l14" class="line" id="l14">     14</a>                    _.-&#39;       /  / /
<a href="#l15" class="line" id="l15">     15</a>             &lt;\/&gt;_.&#39;         .&#39;  / /
<a href="#l16" class="line" id="l16">     16</a>         &lt;\/&gt;&lt;/\&gt;/.  &#39;      /&lt;\// /
<a href="#l17" class="line" id="l17">     17</a>         &lt;/\&gt;  _ |\`- _ . -/|&lt;// (
<a href="#l18" class="line" id="l18">     18</a>      &lt;\/&gt;    - _- `  _.-&#39;`_/- |  \
<a href="#l19" class="line" id="l19">     19</a>      &lt;/\&gt;        -  - -  -     \\\
<a href="#l20" class="line" id="l20">     20</a>       }`&lt;\/&gt;                &lt;\/&gt;`{
<a href="#l21" class="line" id="l21">     21</a>       { &lt;/\&gt;-&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;-&lt;/\&gt; }
<a href="#l22" class="line" id="l22">     22</a>       }      &lt;/\&gt; &lt;/\&gt; &lt;/\&gt;      {
<a href="#l23" class="line" id="l23">     23</a>    &lt;\/&gt;.                         &lt;\/&gt;
<a href="#l24" class="line" id="l24">     24</a>    &lt;/\&gt;                          &lt;/\&gt;
<a href="#l25" class="line" id="l25">     25</a>     {`&lt;\/&gt;                     &lt;\/&gt;`}
<a href="#l26" class="line" id="l26">     26</a>     } &lt;/\&gt;-&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;-&lt;/\&gt; {
<a href="#l27" class="line" id="l27">     27</a>     {      &lt;/\&gt; &lt;/\&gt; &lt;/\&gt; &lt;/\&gt;      }
<a href="#l28" class="line" id="l28">     28</a>     }                               }
<a href="#l29" class="line" id="l29">     29</a>     {           H A P P Y           {
<a href="#l30" class="line" id="l30">     30</a>  &lt;\/&gt;        B I R T H D A Y        &lt;\/&gt;
<a href="#l31" class="line" id="l31">     31</a>  &lt;/\&gt;                               &lt;/\&gt;
<a href="#l32" class="line" id="l32">     32</a>    `&lt;\/&gt;                          &lt;\/&gt;&#39;
<a href="#l33" class="line" id="l33">     33</a> jgs &lt;/\&gt;-&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;_&lt;\/&gt;-&lt;/\&gt;
<a href="#l34" class="line" id="l34">     34</a>          &lt;/\&gt; &lt;/\&gt; &lt;/\&gt; &lt;/\&gt; &lt;/\&gt;
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>