<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>resource.h - anope - supernets anope source code &amp; configuration</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="anope Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="anope Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>anope</h1><span class="desc"> - supernets anope source code &amp; configuration</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/anope.git">git://git.acid.vegas/anope.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>resource.h <span class="desc">(597B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /*
<a href="#l2" class="line" id="l2">      2</a>  *
<a href="#l3" class="line" id="l3">      3</a>  * (C) 2005-2022 Anope Team
<a href="#l4" class="line" id="l4">      4</a>  * Contact us at team@anope.org
<a href="#l5" class="line" id="l5">      5</a>  *
<a href="#l6" class="line" id="l6">      6</a>  * Please read COPYING and README for further details.
<a href="#l7" class="line" id="l7">      7</a>  */
<a href="#l8" class="line" id="l8">      8</a> 
<a href="#l9" class="line" id="l9">      9</a> //{{NO_DEPENDENCIES}}
<a href="#l10" class="line" id="l10">     10</a> // Microsoft Developer Studio generated include file.
<a href="#l11" class="line" id="l11">     11</a> // Used by Win32GUI.rc
<a href="#l12" class="line" id="l12">     12</a> //
<a href="#l13" class="line" id="l13">     13</a> #define VER_ANOPE			1
<a href="#l14" class="line" id="l14">     14</a> #define MANIFEST_RESOURCE_ID		2
<a href="#l15" class="line" id="l15">     15</a> #define ICON_APP			129
<a href="#l16" class="line" id="l16">     16</a> 
<a href="#l17" class="line" id="l17">     17</a> 
<a href="#l18" class="line" id="l18">     18</a> // Next default values for new objects
<a href="#l19" class="line" id="l19">     19</a> //
<a href="#l20" class="line" id="l20">     20</a> #ifdef APSTUDIO_INVOKED
<a href="#l21" class="line" id="l21">     21</a> #ifndef APSTUDIO_READONLY_SYMBOLS
<a href="#l22" class="line" id="l22">     22</a> #define _APS_NO_MFC			1
<a href="#l23" class="line" id="l23">     23</a> #define _APS_NEXT_RESOURCE_VALUE	152
<a href="#l24" class="line" id="l24">     24</a> #define _APS_NEXT_COMMAND_VALUE		40061
<a href="#l25" class="line" id="l25">     25</a> #define _APS_NEXT_CONTROL_VALUE		1167
<a href="#l26" class="line" id="l26">     26</a> #define _APS_NEXT_SYMED_VALUE		104
<a href="#l27" class="line" id="l27">     27</a> #endif
<a href="#l28" class="line" id="l28">     28</a> #endif
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>