<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>control.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>control.c <span class="desc">(26843B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Header includes */
<a href="#l15" class="line" id="l15">     15</a> #include &lt;pthread.h&gt;
<a href="#l16" class="line" id="l16">     16</a> #include &lt;stdio.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;stdlib.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;time.h&gt;
<a href="#l19" class="line" id="l19">     19</a> #include &lt;unistd.h&gt;
<a href="#l20" class="line" id="l20">     20</a> #include &lt;time.h&gt;
<a href="#l21" class="line" id="l21">     21</a> 
<a href="#l22" class="line" id="l22">     22</a> #include &quot;../include/control.h&quot;
<a href="#l23" class="line" id="l23">     23</a> #include &quot;../include/load.h&quot;
<a href="#l24" class="line" id="l24">     24</a> #include &quot;../include/muhstik.h&quot;
<a href="#l25" class="line" id="l25">     25</a> #include &quot;../include/print.h&quot;
<a href="#l26" class="line" id="l26">     26</a> #include &quot;../include/string.h&quot;
<a href="#l27" class="line" id="l27">     27</a> #include &quot;../include/lists.h&quot;
<a href="#l28" class="line" id="l28">     28</a> #include &quot;../include/mass.h&quot;
<a href="#l29" class="line" id="l29">     29</a> /* }}} */
<a href="#l30" class="line" id="l30">     30</a> /* {{{ Variables */
<a href="#l31" class="line" id="l31">     31</a> /* {{{ External variables */
<a href="#l32" class="line" id="l32">     32</a> extern config_t conf;
<a href="#l33" class="line" id="l33">     33</a> extern int mass_ch;
<a href="#l34" class="line" id="l34">     34</a> extern int mass_mode;
<a href="#l35" class="line" id="l35">     35</a> extern char *mass_server;
<a href="#l36" class="line" id="l36">     36</a> extern char *mass_reas;
<a href="#l37" class="line" id="l37">     37</a> extern clone_t *cl[];
<a href="#l38" class="line" id="l38">     38</a> extern char *channel[];
<a href="#l39" class="line" id="l39">     39</a> extern char *chankey[];
<a href="#l40" class="line" id="l40">     40</a> extern queue names_op[];
<a href="#l41" class="line" id="l41">     41</a> extern queue names[];
<a href="#l42" class="line" id="l42">     42</a> extern pthread_mutex_t mutex[];
<a href="#l43" class="line" id="l43">     43</a> /* }}} */
<a href="#l44" class="line" id="l44">     44</a> /*{{{ Global variables */
<a href="#l45" class="line" id="l45">     45</a> int mute;
<a href="#l46" class="line" id="l46">     46</a> char *target;
<a href="#l47" class="line" id="l47">     47</a> int echo_mode;
<a href="#l48" class="line" id="l48">     48</a> /* }}} */
<a href="#l49" class="line" id="l49">     49</a> /* }}} */
<a href="#l50" class="line" id="l50">     50</a> /* {{{ get*() */
<a href="#l51" class="line" id="l51">     51</a> int getchid(char *s)
<a href="#l52" class="line" id="l52">     52</a> {
<a href="#l53" class="line" id="l53">     53</a>      register int i;
<a href="#l54" class="line" id="l54">     54</a> 
<a href="#l55" class="line" id="l55">     55</a>      for (i = 0; i &lt; MAX_CHANS; ++i)
<a href="#l56" class="line" id="l56">     56</a>      {
<a href="#l57" class="line" id="l57">     57</a>           if (channel[i] &amp;&amp; !StrCompare(channel[i], s))
<a href="#l58" class="line" id="l58">     58</a>           {
<a href="#l59" class="line" id="l59">     59</a>                return i;
<a href="#l60" class="line" id="l60">     60</a>           }
<a href="#l61" class="line" id="l61">     61</a>      }
<a href="#l62" class="line" id="l62">     62</a> 
<a href="#l63" class="line" id="l63">     63</a>      return -1;
<a href="#l64" class="line" id="l64">     64</a> }
<a href="#l65" class="line" id="l65">     65</a> 
<a href="#l66" class="line" id="l66">     66</a> clone_t *getop(int chid)
<a href="#l67" class="line" id="l67">     67</a> {
<a href="#l68" class="line" id="l68">     68</a>      register int i;
<a href="#l69" class="line" id="l69">     69</a>      clone_t **pcl;
<a href="#l70" class="line" id="l70">     70</a>      time_t now;
<a href="#l71" class="line" id="l71">     71</a>      now = time(NULL);
<a href="#l72" class="line" id="l72">     72</a> 
<a href="#l73" class="line" id="l73">     73</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l74" class="line" id="l74">     74</a>      {
<a href="#l75" class="line" id="l75">     75</a>           if (is_op(*pcl, chid) &amp;&amp; (*pcl)-&gt;lastsend != now)
<a href="#l76" class="line" id="l76">     76</a>           {
<a href="#l77" class="line" id="l77">     77</a>                return *pcl;
<a href="#l78" class="line" id="l78">     78</a>           }
<a href="#l79" class="line" id="l79">     79</a>      }
<a href="#l80" class="line" id="l80">     80</a> 
<a href="#l81" class="line" id="l81">     81</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l82" class="line" id="l82">     82</a>      {
<a href="#l83" class="line" id="l83">     83</a>           if (is_op(*pcl, chid))
<a href="#l84" class="line" id="l84">     84</a>           {
<a href="#l85" class="line" id="l85">     85</a>                return *pcl;
<a href="#l86" class="line" id="l86">     86</a>           }
<a href="#l87" class="line" id="l87">     87</a>      }
<a href="#l88" class="line" id="l88">     88</a> 
<a href="#l89" class="line" id="l89">     89</a>      return NULL;
<a href="#l90" class="line" id="l90">     90</a> }
<a href="#l91" class="line" id="l91">     91</a> 
<a href="#l92" class="line" id="l92">     92</a> clone_t *getone(char *s)
<a href="#l93" class="line" id="l93">     93</a> {
<a href="#l94" class="line" id="l94">     94</a>      register int i;
<a href="#l95" class="line" id="l95">     95</a>      clone_t **pcl;
<a href="#l96" class="line" id="l96">     96</a> 
<a href="#l97" class="line" id="l97">     97</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l98" class="line" id="l98">     98</a>      {
<a href="#l99" class="line" id="l99">     99</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; !StrCompare((*pcl)-&gt;server, s))
<a href="#l100" class="line" id="l100">    100</a>           {
<a href="#l101" class="line" id="l101">    101</a>                return *pcl;
<a href="#l102" class="line" id="l102">    102</a>           }
<a href="#l103" class="line" id="l103">    103</a>      }
<a href="#l104" class="line" id="l104">    104</a> 
<a href="#l105" class="line" id="l105">    105</a>      return NULL;
<a href="#l106" class="line" id="l106">    106</a> }
<a href="#l107" class="line" id="l107">    107</a> 
<a href="#l108" class="line" id="l108">    108</a> clone_t *getscan()
<a href="#l109" class="line" id="l109">    109</a> {
<a href="#l110" class="line" id="l110">    110</a>      register int i;
<a href="#l111" class="line" id="l111">    111</a>      clone_t **pcl;
<a href="#l112" class="line" id="l112">    112</a> 
<a href="#l113" class="line" id="l113">    113</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l114" class="line" id="l114">    114</a>      {
<a href="#l115" class="line" id="l115">    115</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; !(*pcl)-&gt;scan)
<a href="#l116" class="line" id="l116">    116</a>           {
<a href="#l117" class="line" id="l117">    117</a>                return *pcl;
<a href="#l118" class="line" id="l118">    118</a>           }
<a href="#l119" class="line" id="l119">    119</a>      }
<a href="#l120" class="line" id="l120">    120</a> 
<a href="#l121" class="line" id="l121">    121</a>      return NULL;
<a href="#l122" class="line" id="l122">    122</a> }
<a href="#l123" class="line" id="l123">    123</a> /* }}} */
<a href="#l124" class="line" id="l124">    124</a> /* {{{ join_delayed() */
<a href="#l125" class="line" id="l125">    125</a> void join_delayed(char *buffer)
<a href="#l126" class="line" id="l126">    126</a> {
<a href="#l127" class="line" id="l127">    127</a>      int delay;
<a href="#l128" class="line" id="l128">    128</a>      register int id;
<a href="#l129" class="line" id="l129">    129</a>      clone_t **pcl;
<a href="#l130" class="line" id="l130">    130</a>      time_t now;
<a href="#l131" class="line" id="l131">    131</a> 
<a href="#l132" class="line" id="l132">    132</a>      if (sscanf(buffer, &quot;%*s %s %d&quot;, buffer, &amp;delay) != 2)
<a href="#l133" class="line" id="l133">    133</a>      {
<a href="#l134" class="line" id="l134">    134</a>           return;
<a href="#l135" class="line" id="l135">    135</a>      }
<a href="#l136" class="line" id="l136">    136</a> 
<a href="#l137" class="line" id="l137">    137</a>      if ((mass_ch = getchid(buffer)) == -1)
<a href="#l138" class="line" id="l138">    138</a>      {
<a href="#l139" class="line" id="l139">    139</a>           return;
<a href="#l140" class="line" id="l140">    140</a>      }
<a href="#l141" class="line" id="l141">    141</a> 
<a href="#l142" class="line" id="l142">    142</a>      now = time(NULL);
<a href="#l143" class="line" id="l143">    143</a>      for (id = 0, pcl = cl; id &lt; MAX_CLONES; ++id, ++pcl)
<a href="#l144" class="line" id="l144">    144</a>      {
<a href="#l145" class="line" id="l145">    145</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online)
<a href="#l146" class="line" id="l146">    146</a>           {
<a href="#l147" class="line" id="l147">    147</a>                (*pcl)-&gt;rejoin_time = now + delay * id;
<a href="#l148" class="line" id="l148">    148</a>           }
<a href="#l149" class="line" id="l149">    149</a>      }
<a href="#l150" class="line" id="l150">    150</a> }
<a href="#l151" class="line" id="l151">    151</a> /* }}} */
<a href="#l152" class="line" id="l152">    152</a> /* {{{ Parsing and interpreting */
<a href="#l153" class="line" id="l153">    153</a> /* {{{ Parsing functions */
<a href="#l154" class="line" id="l154">    154</a> void parse_mute(char *buffer, int out)
<a href="#l155" class="line" id="l155">    155</a> {
<a href="#l156" class="line" id="l156">    156</a>      mute = (mute + 1) &amp; 01;
<a href="#l157" class="line" id="l157">    157</a> }
<a href="#l158" class="line" id="l158">    158</a> 
<a href="#l159" class="line" id="l159">    159</a> void parse_join(char *buffer, int out)
<a href="#l160" class="line" id="l160">    160</a> {
<a href="#l161" class="line" id="l161">    161</a>      char tosend[MEDBUF+1];
<a href="#l162" class="line" id="l162">    162</a>      char parm[MEDBUF+1];
<a href="#l163" class="line" id="l163">    163</a>      int i;
<a href="#l164" class="line" id="l164">    164</a>      int delay;
<a href="#l165" class="line" id="l165">    165</a> 
<a href="#l166" class="line" id="l166">    166</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l167" class="line" id="l167">    167</a>      {
<a href="#l168" class="line" id="l168">    168</a>           print(1, 0, out, &quot;Usage: join &lt;chan&gt; [&lt;delay&gt;] [&lt;key&gt;]&quot;);
<a href="#l169" class="line" id="l169">    169</a>           return;
<a href="#l170" class="line" id="l170">    170</a>      }
<a href="#l171" class="line" id="l171">    171</a>      if (occur_table(parm, channel, MAX_CHANS))
<a href="#l172" class="line" id="l172">    172</a>      {
<a href="#l173" class="line" id="l173">    173</a>           print(1, 0, out, &quot;rejoining %s&quot;, parm);
<a href="#l174" class="line" id="l174">    174</a>           snprintf(tosend, sizeof(tosend), &quot;PART %s\n&quot;, parm); /* TODO: Optional PART message/reason. */
<a href="#l175" class="line" id="l175">    175</a>           send2clones(tosend);
<a href="#l176" class="line" id="l176">    176</a>           pthread_mutex_unlock(&amp;mutex[0]);
<a href="#l177" class="line" id="l177">    177</a>           sleep(1);
<a href="#l178" class="line" id="l178">    178</a>           pthread_mutex_lock(&amp;mutex[0]);
<a href="#l179" class="line" id="l179">    179</a>           snprintf(tosend, sizeof(tosend), &quot;JOIN %s\n&quot;, parm);
<a href="#l180" class="line" id="l180">    180</a>           send2clones(tosend);
<a href="#l181" class="line" id="l181">    181</a>           return;
<a href="#l182" class="line" id="l182">    182</a>      }
<a href="#l183" class="line" id="l183">    183</a>      if ((i = add_table(parm, channel, MAX_CHANS)) == -1)
<a href="#l184" class="line" id="l184">    184</a>      {
<a href="#l185" class="line" id="l185">    185</a>           print(1, 0, out, &quot;No more channel available&quot;);
<a href="#l186" class="line" id="l186">    186</a>           return;
<a href="#l187" class="line" id="l187">    187</a>      }
<a href="#l188" class="line" id="l188">    188</a>      switch (sscanf(buffer, &quot;%*s %*s %d %&quot;MEDBUF_TXT&quot;s&quot;, &amp;delay, parm))
<a href="#l189" class="line" id="l189">    189</a>      {
<a href="#l190" class="line" id="l190">    190</a>           case 2:
<a href="#l191" class="line" id="l191">    191</a>                free(chankey[i]);
<a href="#l192" class="line" id="l192">    192</a>                chankey[i] = StrDuplicate(parm);
<a href="#l193" class="line" id="l193">    193</a>                /* FALL THROUGH */
<a href="#l194" class="line" id="l194">    194</a>           case 1:
<a href="#l195" class="line" id="l195">    195</a>                print(1, 0, out, &quot;joining %s with a delay of %d&quot;, parm, delay);
<a href="#l196" class="line" id="l196">    196</a>                join_delayed(buffer);
<a href="#l197" class="line" id="l197">    197</a>                break;
<a href="#l198" class="line" id="l198">    198</a>           default:
<a href="#l199" class="line" id="l199">    199</a>                print(1, 0, out, &quot;joining %s&quot;, parm);
<a href="#l200" class="line" id="l200">    200</a>                send2clones(buffer);
<a href="#l201" class="line" id="l201">    201</a>      }
<a href="#l202" class="line" id="l202">    202</a> }
<a href="#l203" class="line" id="l203">    203</a> 
<a href="#l204" class="line" id="l204">    204</a> void parse_part(char *buffer, int out)
<a href="#l205" class="line" id="l205">    205</a> {
<a href="#l206" class="line" id="l206">    206</a>      char parm[MEDBUF];
<a href="#l207" class="line" id="l207">    207</a>      int chid;
<a href="#l208" class="line" id="l208">    208</a> 
<a href="#l209" class="line" id="l209">    209</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l210" class="line" id="l210">    210</a>      {
<a href="#l211" class="line" id="l211">    211</a>           print(1, 0, out, &quot;Usage: part &lt;chan&gt; [:&lt;reason&gt;]&quot;);
<a href="#l212" class="line" id="l212">    212</a>           return;
<a href="#l213" class="line" id="l213">    213</a>      }
<a href="#l214" class="line" id="l214">    214</a> 
<a href="#l215" class="line" id="l215">    215</a>      if ((chid = remove_table(parm, channel, MAX_CHANS)))
<a href="#l216" class="line" id="l216">    216</a>      {
<a href="#l217" class="line" id="l217">    217</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l218" class="line" id="l218">    218</a>           return;
<a href="#l219" class="line" id="l219">    219</a>      }
<a href="#l220" class="line" id="l220">    220</a> 
<a href="#l221" class="line" id="l221">    221</a>      free(chankey[chid]);
<a href="#l222" class="line" id="l222">    222</a>      chankey[chid] = NULL;
<a href="#l223" class="line" id="l223">    223</a> 
<a href="#l224" class="line" id="l224">    224</a>      clear_queue(&amp;names[chid]);
<a href="#l225" class="line" id="l225">    225</a>      clear_queue(&amp;names_op[chid]);
<a href="#l226" class="line" id="l226">    226</a> 
<a href="#l227" class="line" id="l227">    227</a>      print(1, 0, out, &quot;leaving %s&quot;, parm);
<a href="#l228" class="line" id="l228">    228</a>      send2clones(buffer);
<a href="#l229" class="line" id="l229">    229</a> }
<a href="#l230" class="line" id="l230">    230</a> 
<a href="#l231" class="line" id="l231">    231</a> void parse_mode(char *buffer, int out)
<a href="#l232" class="line" id="l232">    232</a> {
<a href="#l233" class="line" id="l233">    233</a>      char parm[MEDBUF];
<a href="#l234" class="line" id="l234">    234</a>      int chid;
<a href="#l235" class="line" id="l235">    235</a>      clone_t *clone;
<a href="#l236" class="line" id="l236">    236</a> 
<a href="#l237" class="line" id="l237">    237</a>      if (StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l238" class="line" id="l238">    238</a>      {
<a href="#l239" class="line" id="l239">    239</a>           if (!StrCmpPrefix(buffer, &quot;mode&quot;))
<a href="#l240" class="line" id="l240">    240</a>           {
<a href="#l241" class="line" id="l241">    241</a>                print(1, 0, out, &quot;Usage: MODE &lt;dest&gt; &lt;StrParams&gt;&quot;);
<a href="#l242" class="line" id="l242">    242</a>                return;
<a href="#l243" class="line" id="l243">    243</a>           }
<a href="#l244" class="line" id="l244">    244</a>           if (!StrCmpPrefix(buffer, &quot;kick&quot;))
<a href="#l245" class="line" id="l245">    245</a>           {
<a href="#l246" class="line" id="l246">    246</a>                print(1, 0, out, &quot;Usage: KICK &lt;channel&gt; &lt;nick&gt; [:&lt;reason&gt;]&quot;);
<a href="#l247" class="line" id="l247">    247</a>                return;
<a href="#l248" class="line" id="l248">    248</a>           }
<a href="#l249" class="line" id="l249">    249</a>           if (!StrCmpPrefix(buffer, &quot;topic&quot;))
<a href="#l250" class="line" id="l250">    250</a>           {
<a href="#l251" class="line" id="l251">    251</a>                print(1, 0, out, &quot;Usage: TOPIC &lt;channel&gt; :&lt;topic&gt;&quot;);
<a href="#l252" class="line" id="l252">    252</a>                return;
<a href="#l253" class="line" id="l253">    253</a>           }
<a href="#l254" class="line" id="l254">    254</a>      }
<a href="#l255" class="line" id="l255">    255</a>      StrParam(parm, sizeof(parm), buffer, 1);
<a href="#l256" class="line" id="l256">    256</a>      if ((chid = getchid(parm)) == -1)
<a href="#l257" class="line" id="l257">    257</a>      {
<a href="#l258" class="line" id="l258">    258</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l259" class="line" id="l259">    259</a>           return;
<a href="#l260" class="line" id="l260">    260</a>      }
<a href="#l261" class="line" id="l261">    261</a>      if (!(clone = getop(chid)))
<a href="#l262" class="line" id="l262">    262</a>      {
<a href="#l263" class="line" id="l263">    263</a>         print(1, 0, out, &quot;Error: no ops in %s&quot;, parm);
<a href="#l264" class="line" id="l264">    264</a>         return;
<a href="#l265" class="line" id="l265">    265</a>      }
<a href="#l266" class="line" id="l266">    266</a>      send(clone-&gt;sock, buffer, strlen(buffer), 0);
<a href="#l267" class="line" id="l267">    267</a> }
<a href="#l268" class="line" id="l268">    268</a> 
<a href="#l269" class="line" id="l269">    269</a> void parse_privmsg(char *buffer, int out)
<a href="#l270" class="line" id="l270">    270</a> {
<a href="#l271" class="line" id="l271">    271</a>      char parm[MEDBUF];
<a href="#l272" class="line" id="l272">    272</a> 
<a href="#l273" class="line" id="l273">    273</a>      if (StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l274" class="line" id="l274">    274</a>      {
<a href="#l275" class="line" id="l275">    275</a>           StrFirstToken(buffer);
<a href="#l276" class="line" id="l276">    276</a>           print(1, 0, out, &quot;Usage: %s &lt;dest&gt; :&lt;message&gt;&quot;, buffer);
<a href="#l277" class="line" id="l277">    277</a>           return;
<a href="#l278" class="line" id="l278">    278</a>      }
<a href="#l279" class="line" id="l279">    279</a>      send2clones(buffer);
<a href="#l280" class="line" id="l280">    280</a> }
<a href="#l281" class="line" id="l281">    281</a> 
<a href="#l282" class="line" id="l282">    282</a> void parse_kb(char *buffer, int out)
<a href="#l283" class="line" id="l283">    283</a> {
<a href="#l284" class="line" id="l284">    284</a>      char parm[MEDBUF+1];
<a href="#l285" class="line" id="l285">    285</a>      clone_t *clone;
<a href="#l286" class="line" id="l286">    286</a> 
<a href="#l287" class="line" id="l287">    287</a>      if (StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l288" class="line" id="l288">    288</a>      {
<a href="#l289" class="line" id="l289">    289</a>           print(1, 0, out, &quot;Usage: %s &lt;chan&gt; &lt;nick&gt; [:&lt;reason&gt;]&quot;, KICKBAN);
<a href="#l290" class="line" id="l290">    290</a>           return;
<a href="#l291" class="line" id="l291">    291</a>      }
<a href="#l292" class="line" id="l292">    292</a> 
<a href="#l293" class="line" id="l293">    293</a>      StrParam(parm, sizeof(parm), buffer, 1);
<a href="#l294" class="line" id="l294">    294</a>      if ((mass_ch = getchid(parm)) == -1)
<a href="#l295" class="line" id="l295">    295</a>      {
<a href="#l296" class="line" id="l296">    296</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l297" class="line" id="l297">    297</a>           return;
<a href="#l298" class="line" id="l298">    298</a>      }
<a href="#l299" class="line" id="l299">    299</a> 
<a href="#l300" class="line" id="l300">    300</a>      if (!(clone = getop(mass_ch)))
<a href="#l301" class="line" id="l301">    301</a>      {
<a href="#l302" class="line" id="l302">    302</a>           return;
<a href="#l303" class="line" id="l303">    303</a>      }
<a href="#l304" class="line" id="l304">    304</a> 
<a href="#l305" class="line" id="l305">    305</a>      free(mass_reas);
<a href="#l306" class="line" id="l306">    306</a>      if (sscanf(buffer, &quot;%*s %*s %*s :%&quot;MEDBUF_TXT&quot;[^\n]&quot;, parm) != 1)
<a href="#l307" class="line" id="l307">    307</a>      {
<a href="#l308" class="line" id="l308">    308</a>           mass_reas = NULL;
<a href="#l309" class="line" id="l309">    309</a>      }
<a href="#l310" class="line" id="l310">    310</a>      else
<a href="#l311" class="line" id="l311">    311</a>      {
<a href="#l312" class="line" id="l312">    312</a>           mass_reas = StrDuplicate(parm);
<a href="#l313" class="line" id="l313">    313</a>      }
<a href="#l314" class="line" id="l314">    314</a> 
<a href="#l315" class="line" id="l315">    315</a>      if (!StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l316" class="line" id="l316">    316</a>      {
<a href="#l317" class="line" id="l317">    317</a>           kickban(clone, parm);
<a href="#l318" class="line" id="l318">    318</a>           print(1, 0, out, &quot;kickban %s&quot;, SETON);
<a href="#l319" class="line" id="l319">    319</a>      }
<a href="#l320" class="line" id="l320">    320</a> }
<a href="#l321" class="line" id="l321">    321</a> 
<a href="#l322" class="line" id="l322">    322</a> void parse_mkb(char *buffer, int out)
<a href="#l323" class="line" id="l323">    323</a> {
<a href="#l324" class="line" id="l324">    324</a>      char parm[MEDBUF+1];
<a href="#l325" class="line" id="l325">    325</a>      clone_t *clone;
<a href="#l326" class="line" id="l326">    326</a> 
<a href="#l327" class="line" id="l327">    327</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l328" class="line" id="l328">    328</a>      {
<a href="#l329" class="line" id="l329">    329</a>           StrFirstToken(buffer);
<a href="#l330" class="line" id="l330">    330</a>           print(1, 0, out, &quot;Usage: %s &lt;chan&gt; [:&lt;reason&gt;]&quot;, buffer);
<a href="#l331" class="line" id="l331">    331</a>           return;
<a href="#l332" class="line" id="l332">    332</a>      }
<a href="#l333" class="line" id="l333">    333</a> 
<a href="#l334" class="line" id="l334">    334</a>      if ((mass_ch = getchid(parm)) == -1)
<a href="#l335" class="line" id="l335">    335</a>      {
<a href="#l336" class="line" id="l336">    336</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l337" class="line" id="l337">    337</a>           return;
<a href="#l338" class="line" id="l338">    338</a>      }
<a href="#l339" class="line" id="l339">    339</a> 
<a href="#l340" class="line" id="l340">    340</a>      if (!(clone = getop(mass_ch)))
<a href="#l341" class="line" id="l341">    341</a>           return;
<a href="#l342" class="line" id="l342">    342</a> 
<a href="#l343" class="line" id="l343">    343</a>      free(mass_reas);
<a href="#l344" class="line" id="l344">    344</a>      if (sscanf(buffer, &quot;%*s %*s :%&quot;MEDBUF_TXT&quot;[^\n]&quot;, parm) != 1)
<a href="#l345" class="line" id="l345">    345</a>      {
<a href="#l346" class="line" id="l346">    346</a>           mass_reas = NULL;
<a href="#l347" class="line" id="l347">    347</a>      }
<a href="#l348" class="line" id="l348">    348</a>      else
<a href="#l349" class="line" id="l349">    349</a>      {
<a href="#l350" class="line" id="l350">    350</a>           mass_reas = StrDuplicate(parm);
<a href="#l351" class="line" id="l351">    351</a>      }
<a href="#l352" class="line" id="l352">    352</a> 
<a href="#l353" class="line" id="l353">    353</a>      StrFirstToken(buffer);
<a href="#l354" class="line" id="l354">    354</a>      print(1, 0, out, &quot;%s %s on %s&quot;, buffer, SETON, channel[mass_ch]);
<a href="#l355" class="line" id="l355">    355</a> 
<a href="#l356" class="line" id="l356">    356</a>      mass_mode = !StrCmpPrefix(buffer, MASSKICKBAN) ? MKB : MK;
<a href="#l357" class="line" id="l357">    357</a>      init_massdo(mass_ch, mass_mode);
<a href="#l358" class="line" id="l358">    358</a> }
<a href="#l359" class="line" id="l359">    359</a> 
<a href="#l360" class="line" id="l360">    360</a> void parse_to(char *buffer, int out)
<a href="#l361" class="line" id="l361">    361</a> {
<a href="#l362" class="line" id="l362">    362</a>      char parm[MEDBUF];
<a href="#l363" class="line" id="l363">    363</a>      char chan[MINIBUF];
<a href="#l364" class="line" id="l364">    364</a>      clone_t *clone1;
<a href="#l365" class="line" id="l365">    365</a>      clone_t *clone2;
<a href="#l366" class="line" id="l366">    366</a> 
<a href="#l367" class="line" id="l367">    367</a>      if (StrParam(parm, sizeof(parm), buffer, 3))
<a href="#l368" class="line" id="l368">    368</a>      {
<a href="#l369" class="line" id="l369">    369</a>           StrFirstToken(buffer);
<a href="#l370" class="line" id="l370">    370</a>           print(1, 0, out, &quot;Usage: %s &lt;chan&gt; &lt;server1&gt; &lt;server2&gt;&quot;, buffer);
<a href="#l371" class="line" id="l371">    371</a>           print(1, 0, out, &quot;server1 = server to get op nicks&quot;);
<a href="#l372" class="line" id="l372">    372</a>           print(1, 0, out, &quot;server2 = server to change nicks&quot;);
<a href="#l373" class="line" id="l373">    373</a>           return;
<a href="#l374" class="line" id="l374">    374</a>      }
<a href="#l375" class="line" id="l375">    375</a> 
<a href="#l376" class="line" id="l376">    376</a>      if (!(clone2 = getone(parm)))
<a href="#l377" class="line" id="l377">    377</a>      {
<a href="#l378" class="line" id="l378">    378</a>           print(1, 0, out, &quot;no clone online on %s&quot;, parm);
<a href="#l379" class="line" id="l379">    379</a>           return;
<a href="#l380" class="line" id="l380">    380</a>      }
<a href="#l381" class="line" id="l381">    381</a> 
<a href="#l382" class="line" id="l382">    382</a>      StrParam(parm, sizeof(parm), buffer, 2);
<a href="#l383" class="line" id="l383">    383</a>      if (!(clone1 = getone(parm)))
<a href="#l384" class="line" id="l384">    384</a>      {
<a href="#l385" class="line" id="l385">    385</a>           print(1, 0, out, &quot;no clone online on %s&quot;, parm);
<a href="#l386" class="line" id="l386">    386</a>           return;
<a href="#l387" class="line" id="l387">    387</a>      }
<a href="#l388" class="line" id="l388">    388</a> 
<a href="#l389" class="line" id="l389">    389</a>      StrParam(chan, sizeof(chan), buffer, 1);
<a href="#l390" class="line" id="l390">    390</a>      print(1, 0, out, &quot;takeover activated on %s&quot;, chan);
<a href="#l391" class="line" id="l391">    391</a>      mass_mode = TO;
<a href="#l392" class="line" id="l392">    392</a>      mass_server = clone2-&gt;server;
<a href="#l393" class="line" id="l393">    393</a>      init_massdo(mass_ch, mass_mode);
<a href="#l394" class="line" id="l394">    394</a> }
<a href="#l395" class="line" id="l395">    395</a> 
<a href="#l396" class="line" id="l396">    396</a> void parse_mo(char *buffer, int out)
<a href="#l397" class="line" id="l397">    397</a> {
<a href="#l398" class="line" id="l398">    398</a>      char parm[MEDBUF];
<a href="#l399" class="line" id="l399">    399</a>      clone_t *clone;
<a href="#l400" class="line" id="l400">    400</a> 
<a href="#l401" class="line" id="l401">    401</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l402" class="line" id="l402">    402</a>      {
<a href="#l403" class="line" id="l403">    403</a>           StrFirstToken(buffer);
<a href="#l404" class="line" id="l404">    404</a>           print(1, 0, out, &quot;Usage: %s &lt;chan&gt;&quot;, buffer);
<a href="#l405" class="line" id="l405">    405</a>           return;
<a href="#l406" class="line" id="l406">    406</a>      }
<a href="#l407" class="line" id="l407">    407</a> 
<a href="#l408" class="line" id="l408">    408</a>      if ((mass_ch = getchid(parm)) == -1)
<a href="#l409" class="line" id="l409">    409</a>      {
<a href="#l410" class="line" id="l410">    410</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l411" class="line" id="l411">    411</a>           return;
<a href="#l412" class="line" id="l412">    412</a>      }
<a href="#l413" class="line" id="l413">    413</a> 
<a href="#l414" class="line" id="l414">    414</a>      if (!(clone = getop(mass_ch)))
<a href="#l415" class="line" id="l415">    415</a>      {
<a href="#l416" class="line" id="l416">    416</a>           return;
<a href="#l417" class="line" id="l417">    417</a>      }
<a href="#l418" class="line" id="l418">    418</a> 
<a href="#l419" class="line" id="l419">    419</a>      StrFirstToken(buffer);
<a href="#l420" class="line" id="l420">    420</a>      print(1, 0, out, &quot;%s %s on %s&quot;, buffer, SETON, channel[mass_ch]);
<a href="#l421" class="line" id="l421">    421</a> 
<a href="#l422" class="line" id="l422">    422</a>      if (!StrCmpPrefix(buffer, MASSOP))
<a href="#l423" class="line" id="l423">    423</a>      {
<a href="#l424" class="line" id="l424">    424</a>           force_massop();
<a href="#l425" class="line" id="l425">    425</a>           return;
<a href="#l426" class="line" id="l426">    426</a>      }
<a href="#l427" class="line" id="l427">    427</a> 
<a href="#l428" class="line" id="l428">    428</a>      if (!StrCmpPrefix(buffer, MASSDEOP))
<a href="#l429" class="line" id="l429">    429</a>      {
<a href="#l430" class="line" id="l430">    430</a>           mass_mode = MD;
<a href="#l431" class="line" id="l431">    431</a>           init_massdo(mass_ch, mass_mode);
<a href="#l432" class="line" id="l432">    432</a>           return;
<a href="#l433" class="line" id="l433">    433</a>      }
<a href="#l434" class="line" id="l434">    434</a> 
<a href="#l435" class="line" id="l435">    435</a>      send_sock(clone-&gt;sock, &quot;MODE %s +b\n&quot;, channel[mass_ch]);
<a href="#l436" class="line" id="l436">    436</a> }
<a href="#l437" class="line" id="l437">    437</a> 
<a href="#l438" class="line" id="l438">    438</a> void parse_addprot(char *buffer, int out)
<a href="#l439" class="line" id="l439">    439</a> {
<a href="#l440" class="line" id="l440">    440</a>      char parm[MEDBUF];
<a href="#l441" class="line" id="l441">    441</a>      int i;
<a href="#l442" class="line" id="l442">    442</a> 
<a href="#l443" class="line" id="l443">    443</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l444" class="line" id="l444">    444</a>      {
<a href="#l445" class="line" id="l445">    445</a>           print(1, 0, out, &quot;Usage: %s &lt;nick&gt;&quot;, ADDPROT);
<a href="#l446" class="line" id="l446">    446</a>           return;
<a href="#l447" class="line" id="l447">    447</a>      }
<a href="#l448" class="line" id="l448">    448</a>      if (!occur_table(parm, conf.prot, MAX_PROTS))
<a href="#l449" class="line" id="l449">    449</a>      {
<a href="#l450" class="line" id="l450">    450</a>           if ((i = add_table(parm, conf.prot, MAX_PROTS)) != -1)
<a href="#l451" class="line" id="l451">    451</a>           {
<a href="#l452" class="line" id="l452">    452</a>                print(1, 0, out, &quot;[%d] %s protected&quot;, i, parm);
<a href="#l453" class="line" id="l453">    453</a>           }
<a href="#l454" class="line" id="l454">    454</a>           else
<a href="#l455" class="line" id="l455">    455</a>           {
<a href="#l456" class="line" id="l456">    456</a>                print(1, 0, out, &quot;list full&quot;);
<a href="#l457" class="line" id="l457">    457</a>           }
<a href="#l458" class="line" id="l458">    458</a>      }
<a href="#l459" class="line" id="l459">    459</a> }
<a href="#l460" class="line" id="l460">    460</a> 
<a href="#l461" class="line" id="l461">    461</a> void parse_rmprot(char *buffer, int out)
<a href="#l462" class="line" id="l462">    462</a> {
<a href="#l463" class="line" id="l463">    463</a>      char parm[MINIBUF];
<a href="#l464" class="line" id="l464">    464</a>      int i;
<a href="#l465" class="line" id="l465">    465</a> 
<a href="#l466" class="line" id="l466">    466</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l467" class="line" id="l467">    467</a>      {
<a href="#l468" class="line" id="l468">    468</a>           print(1, 0, out, &quot;Usage: %s &lt;ID&gt;&quot;, RMPROT);
<a href="#l469" class="line" id="l469">    469</a>           return;
<a href="#l470" class="line" id="l470">    470</a>      }
<a href="#l471" class="line" id="l471">    471</a>      if ((i = atoi(parm)) &lt; 0)
<a href="#l472" class="line" id="l472">    472</a>      {
<a href="#l473" class="line" id="l473">    473</a>           print(1, 0, out, &quot;protected nick list cleared&quot;);
<a href="#l474" class="line" id="l474">    474</a>           clear_table(conf.prot, MAX_PROTS);
<a href="#l475" class="line" id="l475">    475</a>           return;
<a href="#l476" class="line" id="l476">    476</a>      }
<a href="#l477" class="line" id="l477">    477</a>      if (i &lt; MAX_PROTS &amp;&amp; conf.prot[i])
<a href="#l478" class="line" id="l478">    478</a>      {
<a href="#l479" class="line" id="l479">    479</a>           print(1, 0, out, &quot;%s not protected anymore&quot;, conf.prot[i]);
<a href="#l480" class="line" id="l480">    480</a>           free(conf.prot[i]);
<a href="#l481" class="line" id="l481">    481</a>           conf.prot[i] = NULL;
<a href="#l482" class="line" id="l482">    482</a>           return;
<a href="#l483" class="line" id="l483">    483</a>      }
<a href="#l484" class="line" id="l484">    484</a>      print(1, 0, out, &quot;no such entry&quot;);
<a href="#l485" class="line" id="l485">    485</a> }
<a href="#l486" class="line" id="l486">    486</a> 
<a href="#l487" class="line" id="l487">    487</a> void parse_addop(char *buffer, int out)
<a href="#l488" class="line" id="l488">    488</a> {
<a href="#l489" class="line" id="l489">    489</a>      char parm[MEDBUF];
<a href="#l490" class="line" id="l490">    490</a>      int i;
<a href="#l491" class="line" id="l491">    491</a> 
<a href="#l492" class="line" id="l492">    492</a>      if (StrParam(parm, sizeof(parm), buffer, 1) || !is_pattern(parm))
<a href="#l493" class="line" id="l493">    493</a>      {
<a href="#l494" class="line" id="l494">    494</a>           print(1, 0, out, &quot;Usage: %s &lt;pattern&gt;&quot;, ADDOP);
<a href="#l495" class="line" id="l495">    495</a>           return;
<a href="#l496" class="line" id="l496">    496</a>      }
<a href="#l497" class="line" id="l497">    497</a>      if ((i = add_table(parm, conf.aop, MAX_AOPS)) == -1)
<a href="#l498" class="line" id="l498">    498</a>      {
<a href="#l499" class="line" id="l499">    499</a>           print(1, 0, out, &quot;aop list full&quot;);
<a href="#l500" class="line" id="l500">    500</a>           return;
<a href="#l501" class="line" id="l501">    501</a>      }
<a href="#l502" class="line" id="l502">    502</a>      print(1, 0, out, &quot;[%d] %s added to the aop list&quot;, i, parm);
<a href="#l503" class="line" id="l503">    503</a> }
<a href="#l504" class="line" id="l504">    504</a> 
<a href="#l505" class="line" id="l505">    505</a> void parse_rmop(char *buffer, int out)
<a href="#l506" class="line" id="l506">    506</a> {
<a href="#l507" class="line" id="l507">    507</a>      char parm[MINIBUF];
<a href="#l508" class="line" id="l508">    508</a>      int i;
<a href="#l509" class="line" id="l509">    509</a> 
<a href="#l510" class="line" id="l510">    510</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l511" class="line" id="l511">    511</a>      {
<a href="#l512" class="line" id="l512">    512</a>           print(1, 0, out, &quot;Usage: %s &lt;ID&gt;&quot;, RMOP);
<a href="#l513" class="line" id="l513">    513</a>           return;
<a href="#l514" class="line" id="l514">    514</a>      }
<a href="#l515" class="line" id="l515">    515</a>      if ((i = atoi(parm)) &lt; 0)
<a href="#l516" class="line" id="l516">    516</a>      {
<a href="#l517" class="line" id="l517">    517</a>           print(1, 0, out, &quot;auto op list cleared&quot;);
<a href="#l518" class="line" id="l518">    518</a>           clear_table(conf.aop, MAX_AOPS);
<a href="#l519" class="line" id="l519">    519</a>           return;
<a href="#l520" class="line" id="l520">    520</a>      }
<a href="#l521" class="line" id="l521">    521</a>      if (i &lt; MAX_AOPS &amp;&amp; conf.aop[i])
<a href="#l522" class="line" id="l522">    522</a>      {
<a href="#l523" class="line" id="l523">    523</a>           print(1, 0, out, &quot;%s removed from the aop list&quot;, conf.aop[i]);
<a href="#l524" class="line" id="l524">    524</a>           free(conf.aop[i]);
<a href="#l525" class="line" id="l525">    525</a>           conf.aop[i] = NULL;
<a href="#l526" class="line" id="l526">    526</a>           return;
<a href="#l527" class="line" id="l527">    527</a>      }
<a href="#l528" class="line" id="l528">    528</a>      print(1, 0, out, &quot;no such entry&quot;);
<a href="#l529" class="line" id="l529">    529</a> }
<a href="#l530" class="line" id="l530">    530</a> 
<a href="#l531" class="line" id="l531">    531</a> void parse_addjupe(char *buffer, int out)
<a href="#l532" class="line" id="l532">    532</a> {
<a href="#l533" class="line" id="l533">    533</a>      char parm[MEDBUF];
<a href="#l534" class="line" id="l534">    534</a>      int i;
<a href="#l535" class="line" id="l535">    535</a>      int idx;
<a href="#l536" class="line" id="l536">    536</a>      int mon;
<a href="#l537" class="line" id="l537">    537</a>      unsigned int j;
<a href="#l538" class="line" id="l538">    538</a>      char cmdbuf[BIGBUF];
<a href="#l539" class="line" id="l539">    539</a>      clone_t **pcl;
<a href="#l540" class="line" id="l540">    540</a> 
<a href="#l541" class="line" id="l541">    541</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l542" class="line" id="l542">    542</a>      {
<a href="#l543" class="line" id="l543">    543</a>           print(1, 0, out, &quot;Usage: %s &lt;nick&gt;&quot;, ADDJUPE);
<a href="#l544" class="line" id="l544">    544</a>           return;
<a href="#l545" class="line" id="l545">    545</a>      }
<a href="#l546" class="line" id="l546">    546</a> 
<a href="#l547" class="line" id="l547">    547</a>      if ((idx = occur_table(parm, conf.jupe, MAX_JUPES)) != 0)
<a href="#l548" class="line" id="l548">    548</a>      {
<a href="#l549" class="line" id="l549">    549</a>           print(1, 0, out, &quot;nick already juped as [%d]&quot;, (idx - 1));
<a href="#l550" class="line" id="l550">    550</a>           return;
<a href="#l551" class="line" id="l551">    551</a>      }
<a href="#l552" class="line" id="l552">    552</a> 
<a href="#l553" class="line" id="l553">    553</a>      for (i = mon = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l554" class="line" id="l554">    554</a>      {
<a href="#l555" class="line" id="l555">    555</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; (*pcl)-&gt;monitor_tmax != 0)
<a href="#l556" class="line" id="l556">    556</a>           {
<a href="#l557" class="line" id="l557">    557</a>                for (j = 0; j &lt; (*pcl)-&gt;monitor_tmax; ++j) /* ``unsigned&#39;&#39; is not needed, stops a warning when compiled with `-Wsign-compare&#39; */
<a href="#l558" class="line" id="l558">    558</a>                {
<a href="#l559" class="line" id="l559">    559</a>                     if ((*pcl)-&gt;jupes[j] == NULL)
<a href="#l560" class="line" id="l560">    560</a>                     {
<a href="#l561" class="line" id="l561">    561</a>                          if (idx != -1)
<a href="#l562" class="line" id="l562">    562</a>                          {
<a href="#l563" class="line" id="l563">    563</a>                               if((idx = add_table(parm, conf.jupe, MAX_JUPES)) == -1)
<a href="#l564" class="line" id="l564">    564</a>                               {
<a href="#l565" class="line" id="l565">    565</a>                                    print(1, 0, out, &quot;jupe list full&quot;);
<a href="#l566" class="line" id="l566">    566</a>                                    return;
<a href="#l567" class="line" id="l567">    567</a>                               }
<a href="#l568" class="line" id="l568">    568</a>                               else
<a href="#l569" class="line" id="l569">    569</a>                               {
<a href="#l570" class="line" id="l570">    570</a>                                    print(1, 0, out, &quot;[%d] %s added to the jupe list&quot;, idx, parm);
<a href="#l571" class="line" id="l571">    571</a>                                    idx = -1;
<a href="#l572" class="line" id="l572">    572</a>                               }
<a href="#l573" class="line" id="l573">    573</a>                          }
<a href="#l574" class="line" id="l574">    574</a> 
<a href="#l575" class="line" id="l575">    575</a>                          (*pcl)-&gt;jupes[j] = StrDuplicate(parm);
<a href="#l576" class="line" id="l576">    576</a>                          snprintf(cmdbuf, sizeof(cmdbuf), &quot;MONITOR + %s\r\n&quot;, parm);
<a href="#l577" class="line" id="l577">    577</a>                          send((*pcl)-&gt;sock, cmdbuf, strlen(cmdbuf), 0);
<a href="#l578" class="line" id="l578">    578</a>                          print_prefix((*pcl), 0, 0);
<a href="#l579" class="line" id="l579">    579</a>                          print(1, 0, out, &quot;%s added to my MONITOR list&quot;, parm);
<a href="#l580" class="line" id="l580">    580</a>                          mon++;
<a href="#l581" class="line" id="l581">    581</a>                          break;
<a href="#l582" class="line" id="l582">    582</a>                     }
<a href="#l583" class="line" id="l583">    583</a>                }
<a href="#l584" class="line" id="l584">    584</a>           }
<a href="#l585" class="line" id="l585">    585</a>      }
<a href="#l586" class="line" id="l586">    586</a> 
<a href="#l587" class="line" id="l587">    587</a>      if(mon == 0)
<a href="#l588" class="line" id="l588">    588</a>      {
<a href="#l589" class="line" id="l589">    589</a>           print(1, 0, out, &quot;jupe list full (out of clones that could MONITOR)&quot;);
<a href="#l590" class="line" id="l590">    590</a>      }
<a href="#l591" class="line" id="l591">    591</a> }
<a href="#l592" class="line" id="l592">    592</a> 
<a href="#l593" class="line" id="l593">    593</a> void parse_rmjupe(char *buffer, int out)
<a href="#l594" class="line" id="l594">    594</a> {
<a href="#l595" class="line" id="l595">    595</a>      char parm[MINIBUF];
<a href="#l596" class="line" id="l596">    596</a>      int idx;
<a href="#l597" class="line" id="l597">    597</a> 
<a href="#l598" class="line" id="l598">    598</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l599" class="line" id="l599">    599</a>      {
<a href="#l600" class="line" id="l600">    600</a>           print(1, 0, out, &quot;Usage: %s &lt;ID&gt;&quot;, RMJUPE);
<a href="#l601" class="line" id="l601">    601</a>           return;
<a href="#l602" class="line" id="l602">    602</a>      }
<a href="#l603" class="line" id="l603">    603</a>      if ((idx = atoi(parm)) &lt; 0)
<a href="#l604" class="line" id="l604">    604</a>      {
<a href="#l605" class="line" id="l605">    605</a>           clear_table(conf.jupe, MAX_JUPES);
<a href="#l606" class="line" id="l606">    606</a>           print(1, 0, out, &quot;jupe list cleared&quot;);
<a href="#l607" class="line" id="l607">    607</a>           return;
<a href="#l608" class="line" id="l608">    608</a>      }
<a href="#l609" class="line" id="l609">    609</a>      if (idx &lt; MAX_JUPES &amp;&amp; conf.jupe[idx])
<a href="#l610" class="line" id="l610">    610</a>      {
<a href="#l611" class="line" id="l611">    611</a>           clone_t **pcl = cl;
<a href="#l612" class="line" id="l612">    612</a>           char *nick = conf.jupe[idx], cmdbuf[BIGBUF];
<a href="#l613" class="line" id="l613">    613</a>           int i;
<a href="#l614" class="line" id="l614">    614</a>           unsigned int j;
<a href="#l615" class="line" id="l615">    615</a> 
<a href="#l616" class="line" id="l616">    616</a>           print(1, 0, out, &quot;%s removed from the jupe list&quot;, nick);
<a href="#l617" class="line" id="l617">    617</a>           for (i = 0; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l618" class="line" id="l618">    618</a>           {
<a href="#l619" class="line" id="l619">    619</a>                if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; (*pcl)-&gt;monitor_tmax != 0)
<a href="#l620" class="line" id="l620">    620</a>                {
<a href="#l621" class="line" id="l621">    621</a>                     for (j = 0; j &lt; (*pcl)-&gt;monitor_tmax; ++j) /* `unsigned&#39; is not needed, stops a warning when compiled with `-Wsign-compare&#39; */
<a href="#l622" class="line" id="l622">    622</a>                     {
<a href="#l623" class="line" id="l623">    623</a>                          if (0 == StrCompare((*pcl)-&gt;jupes[j], nick))
<a href="#l624" class="line" id="l624">    624</a>                          {
<a href="#l625" class="line" id="l625">    625</a>                               snprintf(cmdbuf, sizeof(cmdbuf), &quot;MONITOR - %s\r\n&quot;, nick);
<a href="#l626" class="line" id="l626">    626</a>                               send((*pcl)-&gt;sock, cmdbuf, strlen(cmdbuf), 0);
<a href="#l627" class="line" id="l627">    627</a>                               (*pcl)-&gt;jupes[j] = NULL;
<a href="#l628" class="line" id="l628">    628</a>                               print_prefix((*pcl), 0, 0);
<a href="#l629" class="line" id="l629">    629</a>                               print(1, 0, out, &quot;%s removed from my MONITOR list&quot;, nick);
<a href="#l630" class="line" id="l630">    630</a>                               break;
<a href="#l631" class="line" id="l631">    631</a>                          }
<a href="#l632" class="line" id="l632">    632</a>                     }
<a href="#l633" class="line" id="l633">    633</a>                }
<a href="#l634" class="line" id="l634">    634</a>                if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; (*pcl)-&gt;grabbing &amp;&amp; (0 == StrCompare((*pcl)-&gt;nick, nick)))
<a href="#l635" class="line" id="l635">    635</a>                {
<a href="#l636" class="line" id="l636">    636</a>                     (*pcl)-&gt;grabbing = 0;
<a href="#l637" class="line" id="l637">    637</a>                     print_prefix((*pcl), 0, 0);
<a href="#l638" class="line" id="l638">    638</a>                     print(1, 0, out, &quot;I ungrabbed `%s&#39;&quot;, nick);
<a href="#l639" class="line" id="l639">    639</a>                }
<a href="#l640" class="line" id="l640">    640</a>           }
<a href="#l641" class="line" id="l641">    641</a> 
<a href="#l642" class="line" id="l642">    642</a>           free(conf.jupe[idx]);
<a href="#l643" class="line" id="l643">    643</a>           conf.jupe[idx] = NULL;
<a href="#l644" class="line" id="l644">    644</a>           return;
<a href="#l645" class="line" id="l645">    645</a>      }
<a href="#l646" class="line" id="l646">    646</a> 
<a href="#l647" class="line" id="l647">    647</a>      print(1, 0, out, &quot;no such entry&quot;);
<a href="#l648" class="line" id="l648">    648</a> }
<a href="#l649" class="line" id="l649">    649</a> 
<a href="#l650" class="line" id="l650">    650</a> void parse_addshit(char *buffer, int out)
<a href="#l651" class="line" id="l651">    651</a> {
<a href="#l652" class="line" id="l652">    652</a>      char parm[MEDBUF+1];
<a href="#l653" class="line" id="l653">    653</a>      int i;
<a href="#l654" class="line" id="l654">    654</a> 
<a href="#l655" class="line" id="l655">    655</a>      if (sscanf(buffer, &quot;%*s %&quot;MEDBUF_TXT&quot;[^\n]&quot;, parm) != 1 || !is_pattern(parm))
<a href="#l656" class="line" id="l656">    656</a>      {
<a href="#l657" class="line" id="l657">    657</a>           print(1, 0, out, &quot;Usage: %s &lt;pattern&gt; :[&lt;reason&gt;]&quot;, ADDSHIT);
<a href="#l658" class="line" id="l658">    658</a>           return;
<a href="#l659" class="line" id="l659">    659</a>      }
<a href="#l660" class="line" id="l660">    660</a>      if ((i = add_table(parm, conf.shit, MAX_SHITS)) == -1)
<a href="#l661" class="line" id="l661">    661</a>      {
<a href="#l662" class="line" id="l662">    662</a>           print(1, 0, out, &quot;shitlist full&quot;);
<a href="#l663" class="line" id="l663">    663</a>           return;
<a href="#l664" class="line" id="l664">    664</a>      }
<a href="#l665" class="line" id="l665">    665</a>      StrFirstToken(parm);
<a href="#l666" class="line" id="l666">    666</a>      print(1, 0, out, &quot;[%d] %s shitlisted&quot;, i, parm);
<a href="#l667" class="line" id="l667">    667</a> }
<a href="#l668" class="line" id="l668">    668</a> 
<a href="#l669" class="line" id="l669">    669</a> void parse_rmshit(char *buffer, int out)
<a href="#l670" class="line" id="l670">    670</a> {
<a href="#l671" class="line" id="l671">    671</a>      char parm[MINIBUF];
<a href="#l672" class="line" id="l672">    672</a>      int i;
<a href="#l673" class="line" id="l673">    673</a> 
<a href="#l674" class="line" id="l674">    674</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l675" class="line" id="l675">    675</a>      {
<a href="#l676" class="line" id="l676">    676</a>           print(1, 0, out, &quot;Usage: %s &lt;ID&gt;&quot;, RMSHIT);
<a href="#l677" class="line" id="l677">    677</a>           return;
<a href="#l678" class="line" id="l678">    678</a>      }
<a href="#l679" class="line" id="l679">    679</a>      if ((i = atoi(parm)) &lt; 0)
<a href="#l680" class="line" id="l680">    680</a>      {
<a href="#l681" class="line" id="l681">    681</a>           print(1, 0, out, &quot;shitlist cleared&quot;);
<a href="#l682" class="line" id="l682">    682</a>           clear_table(conf.shit, MAX_SHITS);
<a href="#l683" class="line" id="l683">    683</a>           return;
<a href="#l684" class="line" id="l684">    684</a>      }
<a href="#l685" class="line" id="l685">    685</a>      if (i &lt; MAX_SHITS &amp;&amp; conf.shit[i])
<a href="#l686" class="line" id="l686">    686</a>      {
<a href="#l687" class="line" id="l687">    687</a>           StrFirstToken(conf.shit[i]);
<a href="#l688" class="line" id="l688">    688</a>           print(1, 0, out, &quot;%s removed from the shitlist&quot;, conf.shit[i]);
<a href="#l689" class="line" id="l689">    689</a>           free(conf.shit[i]);
<a href="#l690" class="line" id="l690">    690</a>           conf.shit[i] = NULL;
<a href="#l691" class="line" id="l691">    691</a>           return;
<a href="#l692" class="line" id="l692">    692</a>      }
<a href="#l693" class="line" id="l693">    693</a>      print(1, 0, out, &quot;no such entry&quot;);
<a href="#l694" class="line" id="l694">    694</a> }
<a href="#l695" class="line" id="l695">    695</a> 
<a href="#l696" class="line" id="l696">    696</a> void parse_addscan(char *buffer, int out)
<a href="#l697" class="line" id="l697">    697</a> {
<a href="#l698" class="line" id="l698">    698</a>      char parm[MINIBUF];
<a href="#l699" class="line" id="l699">    699</a>      char save[MINIBUF];
<a href="#l700" class="line" id="l700">    700</a>      char server[MINIBUF];
<a href="#l701" class="line" id="l701">    701</a>      int type;
<a href="#l702" class="line" id="l702">    702</a>      int mode;
<a href="#l703" class="line" id="l703">    703</a>      int proxy_port;
<a href="#l704" class="line" id="l704">    704</a>      int server_port;
<a href="#l705" class="line" id="l705">    705</a>      clone_t *clone;
<a href="#l706" class="line" id="l706">    706</a> 
<a href="#l707" class="line" id="l707">    707</a>      if (StrParam(save, sizeof(save), buffer, 5))
<a href="#l708" class="line" id="l708">    708</a>      {
<a href="#l709" class="line" id="l709">    709</a>           print(1, 0, out, &quot;Usage: %s &lt;type&gt; &lt;scan port&gt; &lt;server&gt; &lt;port&gt; &lt;filename&gt; [&lt;mode&gt;]&quot;, ADDSCAN);
<a href="#l710" class="line" id="l710">    710</a>           return;
<a href="#l711" class="line" id="l711">    711</a>      }
<a href="#l712" class="line" id="l712">    712</a>      if (!(clone = getscan()))
<a href="#l713" class="line" id="l713">    713</a>      {
<a href="#l714" class="line" id="l714">    714</a>           print(1, 0, out, &quot;scan: no clone available&quot;);
<a href="#l715" class="line" id="l715">    715</a>           return;
<a href="#l716" class="line" id="l716">    716</a>      }
<a href="#l717" class="line" id="l717">    717</a>      StrParam(server, sizeof(server), buffer, 3);
<a href="#l718" class="line" id="l718">    718</a>      if (sscanf(buffer, &quot;%*s %d&quot;, &amp;type) != 1 || type &lt; 0 || type &gt; 6)
<a href="#l719" class="line" id="l719">    719</a>      {
<a href="#l720" class="line" id="l720">    720</a>           print(1, 0, out, &quot;scan: invalid type&quot;);
<a href="#l721" class="line" id="l721">    721</a>           return;
<a href="#l722" class="line" id="l722">    722</a>      }
<a href="#l723" class="line" id="l723">    723</a>      if ((sscanf(buffer, &quot;%*s %*s %d&quot;, &amp;proxy_port) != 1) || sscanf(buffer, &quot;%*s %*s %*s %*s %d&quot;, &amp;server_port) != 1)
<a href="#l724" class="line" id="l724">    724</a>      {
<a href="#l725" class="line" id="l725">    725</a>           print(1, 0, out, &quot;scan: invalid port&quot;);
<a href="#l726" class="line" id="l726">    726</a>           return;
<a href="#l727" class="line" id="l727">    727</a>      }
<a href="#l728" class="line" id="l728">    728</a>      if (!StrParam(parm, sizeof(parm), buffer, 6))
<a href="#l729" class="line" id="l729">    729</a>      {
<a href="#l730" class="line" id="l730">    730</a>           mode = atoi(parm);
<a href="#l731" class="line" id="l731">    731</a>      }
<a href="#l732" class="line" id="l732">    732</a>      else
<a href="#l733" class="line" id="l733">    733</a>      {
<a href="#l734" class="line" id="l734">    734</a>           mode = M_QUIT;
<a href="#l735" class="line" id="l735">    735</a>      }
<a href="#l736" class="line" id="l736">    736</a>      if (mode &lt; 0 || mode &gt; 2)
<a href="#l737" class="line" id="l737">    737</a>      {
<a href="#l738" class="line" id="l738">    738</a>           print(1, 0, out, &quot;scan: invalid mode&quot;);
<a href="#l739" class="line" id="l739">    739</a>           return;
<a href="#l740" class="line" id="l740">    740</a>      }
<a href="#l741" class="line" id="l741">    741</a>      clone-&gt;scan = (scan_t *)xmalloc(sizeof(scan_t));
<a href="#l742" class="line" id="l742">    742</a>      clone-&gt;scan-&gt;type = type;
<a href="#l743" class="line" id="l743">    743</a>      clone-&gt;scan-&gt;proxy_port = proxy_port;
<a href="#l744" class="line" id="l744">    744</a>      clone-&gt;scan-&gt;server = StrDuplicate(server);
<a href="#l745" class="line" id="l745">    745</a>      clone-&gt;scan-&gt;server_port = server_port;
<a href="#l746" class="line" id="l746">    746</a>      clone-&gt;scan-&gt;save = StrDuplicate(save);
<a href="#l747" class="line" id="l747">    747</a>      clone-&gt;scan-&gt;mode = mode;
<a href="#l748" class="line" id="l748">    748</a>      print(1, 0, out, &quot;[%d] scan activated&quot;, clone-&gt;id);
<a href="#l749" class="line" id="l749">    749</a> }
<a href="#l750" class="line" id="l750">    750</a> 
<a href="#l751" class="line" id="l751">    751</a> void parse_rmscan(char *buffer, int out)
<a href="#l752" class="line" id="l752">    752</a> {
<a href="#l753" class="line" id="l753">    753</a>      char parm[MEDBUF];
<a href="#l754" class="line" id="l754">    754</a>      int i;
<a href="#l755" class="line" id="l755">    755</a> 
<a href="#l756" class="line" id="l756">    756</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l757" class="line" id="l757">    757</a>      {
<a href="#l758" class="line" id="l758">    758</a>           print(1, 0, out, &quot;Usage: %s &lt;ID&gt;&quot;, RMSCAN);
<a href="#l759" class="line" id="l759">    759</a>           return;
<a href="#l760" class="line" id="l760">    760</a>      }
<a href="#l761" class="line" id="l761">    761</a>      if (sscanf(parm, &quot;%d&quot;, &amp;i) == 1)
<a href="#l762" class="line" id="l762">    762</a>      {
<a href="#l763" class="line" id="l763">    763</a>           if (i &lt; MAX_CLONES &amp;&amp; cl[i] &amp;&amp; cl[i]-&gt;scan)
<a href="#l764" class="line" id="l764">    764</a>           {
<a href="#l765" class="line" id="l765">    765</a>                print(1, 0, out, &quot;[%d] scan canceled&quot;, i);
<a href="#l766" class="line" id="l766">    766</a>                free(cl[i]-&gt;scan-&gt;server);
<a href="#l767" class="line" id="l767">    767</a>                free(cl[i]-&gt;scan-&gt;save);
<a href="#l768" class="line" id="l768">    768</a>                free(cl[i]-&gt;scan);
<a href="#l769" class="line" id="l769">    769</a>                cl[i]-&gt;scan = NULL;
<a href="#l770" class="line" id="l770">    770</a>                return;
<a href="#l771" class="line" id="l771">    771</a>           }
<a href="#l772" class="line" id="l772">    772</a>      }
<a href="#l773" class="line" id="l773">    773</a>      print(1, 0, out, &quot;no such entry&quot;);
<a href="#l774" class="line" id="l774">    774</a> }
<a href="#l775" class="line" id="l775">    775</a> 
<a href="#l776" class="line" id="l776">    776</a> void parse_echo(char *buffer, int out)
<a href="#l777" class="line" id="l777">    777</a> {
<a href="#l778" class="line" id="l778">    778</a>      char parm[MEDBUF];
<a href="#l779" class="line" id="l779">    779</a> 
<a href="#l780" class="line" id="l780">    780</a>      free(target);
<a href="#l781" class="line" id="l781">    781</a>      if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l782" class="line" id="l782">    782</a>      {
<a href="#l783" class="line" id="l783">    783</a>           target = StrDuplicate(parm);
<a href="#l784" class="line" id="l784">    784</a>           print(1, 0, out, &quot;echo enabled, echoing `%s&#39;&quot;, target);
<a href="#l785" class="line" id="l785">    785</a>      }
<a href="#l786" class="line" id="l786">    786</a>      else
<a href="#l787" class="line" id="l787">    787</a>      {
<a href="#l788" class="line" id="l788">    788</a>           target = NULL;
<a href="#l789" class="line" id="l789">    789</a>           print(1, 0, out, &quot;echo disabled&quot;);
<a href="#l790" class="line" id="l790">    790</a>      }
<a href="#l791" class="line" id="l791">    791</a> }
<a href="#l792" class="line" id="l792">    792</a> 
<a href="#l793" class="line" id="l793">    793</a> void parse_chankey(char *buffer, int out)
<a href="#l794" class="line" id="l794">    794</a> {
<a href="#l795" class="line" id="l795">    795</a>      char parm[MEDBUF];
<a href="#l796" class="line" id="l796">    796</a>      int i;
<a href="#l797" class="line" id="l797">    797</a> 
<a href="#l798" class="line" id="l798">    798</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l799" class="line" id="l799">    799</a>      {
<a href="#l800" class="line" id="l800">    800</a>           print(1, 0, out, &quot;Usage: %s &lt;chan&gt; &lt;key&gt;&quot;, CHANKEY);
<a href="#l801" class="line" id="l801">    801</a>           return;
<a href="#l802" class="line" id="l802">    802</a>      }
<a href="#l803" class="line" id="l803">    803</a>      if ((i = getchid(parm)) == -1)
<a href="#l804" class="line" id="l804">    804</a>      {
<a href="#l805" class="line" id="l805">    805</a>           print(1, 0, out, &quot;%s: no such chan&quot;, parm);
<a href="#l806" class="line" id="l806">    806</a>           return;
<a href="#l807" class="line" id="l807">    807</a>      }
<a href="#l808" class="line" id="l808">    808</a>      free(chankey[i]);
<a href="#l809" class="line" id="l809">    809</a>      if (!StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l810" class="line" id="l810">    810</a>      {
<a href="#l811" class="line" id="l811">    811</a>           chankey[i] = StrDuplicate(parm);
<a href="#l812" class="line" id="l812">    812</a>           print(1, 0, out, &quot;Using chankey %s on %s&quot;, chankey[i], channel[i]);
<a href="#l813" class="line" id="l813">    813</a>      }
<a href="#l814" class="line" id="l814">    814</a>      else
<a href="#l815" class="line" id="l815">    815</a>      {
<a href="#l816" class="line" id="l816">    816</a>           chankey[i] = NULL;
<a href="#l817" class="line" id="l817">    817</a>           print(1, 0, out, &quot;Chankey disabled on %s&quot;, channel[i]);
<a href="#l818" class="line" id="l818">    818</a>      }
<a href="#l819" class="line" id="l819">    819</a> }
<a href="#l820" class="line" id="l820">    820</a> 
<a href="#l821" class="line" id="l821">    821</a> void parse_nicklist(char *buffer, int out)
<a href="#l822" class="line" id="l822">    822</a> {
<a href="#l823" class="line" id="l823">    823</a>      char parm[MEDBUF];
<a href="#l824" class="line" id="l824">    824</a>      FILE *f;
<a href="#l825" class="line" id="l825">    825</a> 
<a href="#l826" class="line" id="l826">    826</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l827" class="line" id="l827">    827</a>      {
<a href="#l828" class="line" id="l828">    828</a>           print(1, 0, out, &quot;Usage: %s &lt;filename&gt;&quot;, NICKLIST);
<a href="#l829" class="line" id="l829">    829</a>           return;
<a href="#l830" class="line" id="l830">    830</a>      }
<a href="#l831" class="line" id="l831">    831</a> 
<a href="#l832" class="line" id="l832">    832</a>      if (!(f = fopen(parm, &quot;r&quot;)))
<a href="#l833" class="line" id="l833">    833</a>      {
<a href="#l834" class="line" id="l834">    834</a>           print(1, 0, out, &quot;Cannot open the file `%s&#39;&quot;, parm);
<a href="#l835" class="line" id="l835">    835</a>           return;
<a href="#l836" class="line" id="l836">    836</a>      }
<a href="#l837" class="line" id="l837">    837</a> 
<a href="#l838" class="line" id="l838">    838</a>      clear_table(conf.nicks, MAX_NICKS);
<a href="#l839" class="line" id="l839">    839</a>      fill_table(conf.nicks, MAX_NICKS, f);
<a href="#l840" class="line" id="l840">    840</a>      fclose(f);
<a href="#l841" class="line" id="l841">    841</a> 
<a href="#l842" class="line" id="l842">    842</a>      print(1, 0, out, &quot;nicklist loaded&quot;, parm);
<a href="#l843" class="line" id="l843">    843</a> }
<a href="#l844" class="line" id="l844">    844</a> 
<a href="#l845" class="line" id="l845">    845</a> void parse_select(char *buffer, int out)
<a href="#l846" class="line" id="l846">    846</a> {
<a href="#l847" class="line" id="l847">    847</a>      clone_t **pcl;
<a href="#l848" class="line" id="l848">    848</a>      register int i;
<a href="#l849" class="line" id="l849">    849</a>      char parm[MINIBUF];
<a href="#l850" class="line" id="l850">    850</a> 
<a href="#l851" class="line" id="l851">    851</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l852" class="line" id="l852">    852</a>      {
<a href="#l853" class="line" id="l853">    853</a>           print(1, 0, out, &quot;Usage: %s &lt;nick&gt; :&lt;IRC command&gt;&quot;, SELECT);
<a href="#l854" class="line" id="l854">    854</a>           return;
<a href="#l855" class="line" id="l855">    855</a>      }
<a href="#l856" class="line" id="l856">    856</a> 
<a href="#l857" class="line" id="l857">    857</a>      strsep(&amp;buffer, &quot;:&quot;);
<a href="#l858" class="line" id="l858">    858</a>      if (!buffer)
<a href="#l859" class="line" id="l859">    859</a>      {
<a href="#l860" class="line" id="l860">    860</a>           return;
<a href="#l861" class="line" id="l861">    861</a>      }
<a href="#l862" class="line" id="l862">    862</a> 
<a href="#l863" class="line" id="l863">    863</a>      if (parm[0] == &#39;*&#39;)
<a href="#l864" class="line" id="l864">    864</a>      {
<a href="#l865" class="line" id="l865">    865</a>           send2clones(buffer);
<a href="#l866" class="line" id="l866">    866</a>           return;
<a href="#l867" class="line" id="l867">    867</a>      }
<a href="#l868" class="line" id="l868">    868</a> 
<a href="#l869" class="line" id="l869">    869</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l870" class="line" id="l870">    870</a>      {
<a href="#l871" class="line" id="l871">    871</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; !StrCompare((*pcl)-&gt;nick, parm))
<a href="#l872" class="line" id="l872">    872</a>           {
<a href="#l873" class="line" id="l873">    873</a>                send((*pcl)-&gt;sock, buffer, strlen(buffer), 0);
<a href="#l874" class="line" id="l874">    874</a>                return;
<a href="#l875" class="line" id="l875">    875</a>           }
<a href="#l876" class="line" id="l876">    876</a>      }
<a href="#l877" class="line" id="l877">    877</a>      print(1, 0, out, &quot;no such nickname&quot;);
<a href="#l878" class="line" id="l878">    878</a> }
<a href="#l879" class="line" id="l879">    879</a> 
<a href="#l880" class="line" id="l880">    880</a> void parse_load(char *buffer, int out)
<a href="#l881" class="line" id="l881">    881</a> {
<a href="#l882" class="line" id="l882">    882</a>      int type;
<a href="#l883" class="line" id="l883">    883</a>      int proxy_port;
<a href="#l884" class="line" id="l884">    884</a>      int server_port;
<a href="#l885" class="line" id="l885">    885</a>      char parm[MINIBUF];
<a href="#l886" class="line" id="l886">    886</a>      char server[MINIBUF];
<a href="#l887" class="line" id="l887">    887</a>      char proxy[MINIBUF];
<a href="#l888" class="line" id="l888">    888</a> 
<a href="#l889" class="line" id="l889">    889</a>      if (StrParam(parm, sizeof(parm), buffer, 5))
<a href="#l890" class="line" id="l890">    890</a>      {
<a href="#l891" class="line" id="l891">    891</a>           print(1, 0, out, &quot;Usage: %s &lt;type&gt; &lt;proxy&gt; &lt;port&gt; &lt;server&gt; &lt;port&gt;&quot;, LOAD);
<a href="#l892" class="line" id="l892">    892</a>           return;
<a href="#l893" class="line" id="l893">    893</a>      }
<a href="#l894" class="line" id="l894">    894</a>      if (sscanf(buffer, &quot;%*s %d&quot;, &amp;type) != 1 || type &lt; 0 || type &gt; 5)
<a href="#l895" class="line" id="l895">    895</a>      {
<a href="#l896" class="line" id="l896">    896</a>           print(1, 0, out, &quot;load: invalid type&quot;);
<a href="#l897" class="line" id="l897">    897</a>           return;
<a href="#l898" class="line" id="l898">    898</a>      }
<a href="#l899" class="line" id="l899">    899</a>      if (sscanf(buffer, &quot;%*s %*s %*s %d&quot;, &amp;proxy_port) != 1 || sscanf(buffer, &quot;%*s %*s %*s %*s %*s %d&quot;, &amp;server_port) != 1)
<a href="#l900" class="line" id="l900">    900</a>      {
<a href="#l901" class="line" id="l901">    901</a>           print(1, 0, out, &quot;load: invalid port&quot;);
<a href="#l902" class="line" id="l902">    902</a>           return;
<a href="#l903" class="line" id="l903">    903</a>      }
<a href="#l904" class="line" id="l904">    904</a>      StrParam(server, sizeof(server), buffer, 4);
<a href="#l905" class="line" id="l905">    905</a>      StrParam(proxy, sizeof(proxy), buffer, 2);
<a href="#l906" class="line" id="l906">    906</a>      load_host(type, proxy, proxy_port, server, server_port, NULL, NULL, NULL, M_NORMAL);
<a href="#l907" class="line" id="l907">    907</a> }
<a href="#l908" class="line" id="l908">    908</a> 
<a href="#l909" class="line" id="l909">    909</a> void parse_quit(char *buffer, int out)
<a href="#l910" class="line" id="l910">    910</a> {
<a href="#l911" class="line" id="l911">    911</a>      if (!StrCmpPrefix(buffer, &quot;quit :&quot;))
<a href="#l912" class="line" id="l912">    912</a>      {
<a href="#l913" class="line" id="l913">    913</a>           send2clones(buffer);
<a href="#l914" class="line" id="l914">    914</a>           print(1, 0, out, &quot;Exiting...&quot;);
<a href="#l915" class="line" id="l915">    915</a>           sleep(1);
<a href="#l916" class="line" id="l916">    916</a>      }
<a href="#l917" class="line" id="l917">    917</a> 
<a href="#l918" class="line" id="l918">    918</a>      main_exit();
<a href="#l919" class="line" id="l919">    919</a> }
<a href="#l920" class="line" id="l920">    920</a> /*
<a href="#l921" class="line" id="l921">    921</a> void parse_maxconns(char *buffer, int out)
<a href="#l922" class="line" id="l922">    922</a> {
<a href="#l923" class="line" id="l923">    923</a>      char parm[MINIBUF];
<a href="#l924" class="line" id="l924">    924</a>      int i;
<a href="#l925" class="line" id="l925">    925</a> 
<a href="#l926" class="line" id="l926">    926</a>      if (StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l927" class="line" id="l927">    927</a>      {   
<a href="#l928" class="line" id="l928">    928</a>           print(1, 0, out, &quot;Usage: %s &lt;max_conns&gt;&quot;, MAXCONNS);
<a href="#l929" class="line" id="l929">    929</a>           return;
<a href="#l930" class="line" id="l930">    930</a>      }
<a href="#l931" class="line" id="l931">    931</a>      else if(i = atoi(parm) &gt; 0)
<a href="#l932" class="line" id="l932">    932</a>      {
<a href="#l933" class="line" id="l933">    933</a>           print(1, 0, out, &quot;MAX_CONNS set to %d&quot;, i);
<a href="#l934" class="line" id="l934">    934</a>           conf.max_conns = i;
<a href="#l935" class="line" id="l935">    935</a>           return;
<a href="#l936" class="line" id="l936">    936</a>      }
<a href="#l937" class="line" id="l937">    937</a> }
<a href="#l938" class="line" id="l938">    938</a> */
<a href="#l939" class="line" id="l939">    939</a> /* }}} */
<a href="#l940" class="line" id="l940">    940</a> /* {{{ interpret() */
<a href="#l941" class="line" id="l941">    941</a> void interpret(char *buffer, int out)
<a href="#l942" class="line" id="l942">    942</a> {
<a href="#l943" class="line" id="l943">    943</a>      static cmd_t cmd[] =
<a href="#l944" class="line" id="l944">    944</a>           { { &quot;join&quot;,        parse_join              },
<a href="#l945" class="line" id="l945">    945</a>             { &quot;part&quot;,        parse_part              },
<a href="#l946" class="line" id="l946">    946</a>             { SELECT,        parse_select            },
<a href="#l947" class="line" id="l947">    947</a>             { LOAD,          parse_load              },
<a href="#l948" class="line" id="l948">    948</a>             { MUTE,          parse_mute              },
<a href="#l949" class="line" id="l949">    949</a>             { &quot;mode&quot;,        parse_mode              },
<a href="#l950" class="line" id="l950">    950</a>             { &quot;kick&quot;,        parse_mode              },
<a href="#l951" class="line" id="l951">    951</a>             { &quot;topic&quot;,       parse_mode              },
<a href="#l952" class="line" id="l952">    952</a>             { &quot;privmsg&quot;,     parse_privmsg           },
<a href="#l953" class="line" id="l953">    953</a>             { &quot;notice&quot;,      parse_privmsg           },
<a href="#l954" class="line" id="l954">    954</a>             { KICKBAN,       parse_kb                },
<a href="#l955" class="line" id="l955">    955</a>             { MASSKICKBAN,   parse_mkb               },
<a href="#l956" class="line" id="l956">    956</a>             { MASSKICK,      parse_mkb               },
<a href="#l957" class="line" id="l957">    957</a>             { MASSOP,        parse_mo                },
<a href="#l958" class="line" id="l958">    958</a>             { MASSDEOP,      parse_mo                },
<a href="#l959" class="line" id="l959">    959</a>             { MASSUNBAN,     parse_mo                },
<a href="#l960" class="line" id="l960">    960</a>             { TAKEOVER,      parse_to                },
<a href="#l961" class="line" id="l961">    961</a>             { ADDSCAN,       parse_addscan           },
<a href="#l962" class="line" id="l962">    962</a>             { RMSCAN,        parse_rmscan            },
<a href="#l963" class="line" id="l963">    963</a>             { ADDPROT,       parse_addprot           },
<a href="#l964" class="line" id="l964">    964</a>             { RMPROT,        parse_rmprot            },
<a href="#l965" class="line" id="l965">    965</a>             { ADDOP,         parse_addop             },
<a href="#l966" class="line" id="l966">    966</a>             { RMOP,          parse_rmop              },
<a href="#l967" class="line" id="l967">    967</a>             { ADDJUPE,       parse_addjupe           },
<a href="#l968" class="line" id="l968">    968</a>             { RMJUPE,        parse_rmjupe            },
<a href="#l969" class="line" id="l969">    969</a>             { ADDSHIT,       parse_addshit           },
<a href="#l970" class="line" id="l970">    970</a>             { RMSHIT,        parse_rmshit            },
<a href="#l971" class="line" id="l971">    971</a>             { ECHO,          parse_echo              },
<a href="#l972" class="line" id="l972">    972</a>             { CHANKEY,       parse_chankey           },
<a href="#l973" class="line" id="l973">    973</a>             { NICKLIST,      parse_nicklist          },
<a href="#l974" class="line" id="l974">    974</a> /*            { MAXCONNS,      parse_maxconns          }, */
<a href="#l975" class="line" id="l975">    975</a>             { &quot;quit&quot;,        parse_quit              },
<a href="#l976" class="line" id="l976">    976</a>             { NULL,          NULL                    }
<a href="#l977" class="line" id="l977">    977</a>           };
<a href="#l978" class="line" id="l978">    978</a>      cmd_t *pcmd;
<a href="#l979" class="line" id="l979">    979</a> 
<a href="#l980" class="line" id="l980">    980</a>      for (pcmd = cmd; pcmd-&gt;parm; ++pcmd)
<a href="#l981" class="line" id="l981">    981</a>      {
<a href="#l982" class="line" id="l982">    982</a>           if (!StrCmpPrefix(buffer, pcmd-&gt;parm))
<a href="#l983" class="line" id="l983">    983</a>           {
<a href="#l984" class="line" id="l984">    984</a>                pcmd-&gt;function(buffer, out);
<a href="#l985" class="line" id="l985">    985</a>                return;
<a href="#l986" class="line" id="l986">    986</a>           }
<a href="#l987" class="line" id="l987">    987</a>      }
<a href="#l988" class="line" id="l988">    988</a> 
<a href="#l989" class="line" id="l989">    989</a>      if (out &gt; 0 &amp;&amp; (!StrCmpPrefix(buffer, &quot;help&quot;) || buffer[0] == &#39;?&#39;))
<a href="#l990" class="line" id="l990">    990</a>      {
<a href="#l991" class="line" id="l991">    991</a>           usage(out);
<a href="#l992" class="line" id="l992">    992</a>      }
<a href="#l993" class="line" id="l993">    993</a>      else if (conf.nicks[0] &amp;&amp; !StrCmpPrefix(buffer, RANDOM))
<a href="#l994" class="line" id="l994">    994</a>      {
<a href="#l995" class="line" id="l995">    995</a>           conf.use_wordlist = !conf.use_wordlist;
<a href="#l996" class="line" id="l996">    996</a>           print(1, 0, out, &quot;using %s&quot;, conf.use_wordlist ? &quot;the nicks&quot; : &quot;random nicks&quot;);
<a href="#l997" class="line" id="l997">    997</a>      }
<a href="#l998" class="line" id="l998">    998</a>      else if (!StrCmpPrefix(buffer, AGGRESS))
<a href="#l999" class="line" id="l999">    999</a>      {
<a href="#l1000" class="line" id="l1000">   1000</a>           conf.aggressive = !conf.aggressive;
<a href="#l1001" class="line" id="l1001">   1001</a>           print(1, 0, out, &quot;aggressive mode set %s&quot;, conf.aggressive ? &quot;ON&quot; : &quot;OFF&quot;);
<a href="#l1002" class="line" id="l1002">   1002</a>      }
<a href="#l1003" class="line" id="l1003">   1003</a>      else if (!StrCmpPrefix(buffer, PEACE))
<a href="#l1004" class="line" id="l1004">   1004</a>      {
<a href="#l1005" class="line" id="l1005">   1005</a>           conf.peace = !conf.peace;
<a href="#l1006" class="line" id="l1006">   1006</a>           print(1, 0, out, &quot;peace mode set %s&quot;, conf.peace ? &quot;ON&quot; : &quot;OFF&quot;);
<a href="#l1007" class="line" id="l1007">   1007</a>      }
<a href="#l1008" class="line" id="l1008">   1008</a>      else if (out &gt; 0 &amp;&amp; !StrCmpPrefix(buffer, STATUS))
<a href="#l1009" class="line" id="l1009">   1009</a>      {
<a href="#l1010" class="line" id="l1010">   1010</a>           status(out);
<a href="#l1011" class="line" id="l1011">   1011</a>      }
<a href="#l1012" class="line" id="l1012">   1012</a>      else if (!StrCmpPrefix(buffer, NICKS))
<a href="#l1013" class="line" id="l1013">   1013</a>      {
<a href="#l1014" class="line" id="l1014">   1014</a>           send2clones(buffer);
<a href="#l1015" class="line" id="l1015">   1015</a>      }
<a href="#l1016" class="line" id="l1016">   1016</a>      else if (buffer[0] != &#39;\n&#39;)
<a href="#l1017" class="line" id="l1017">   1017</a>      {
<a href="#l1018" class="line" id="l1018">   1018</a>           print(1, 0, out, &quot;muhstik: %s: command not found&quot;, strsep(&amp;buffer, DELIM));
<a href="#l1019" class="line" id="l1019">   1019</a>      }
<a href="#l1020" class="line" id="l1020">   1020</a> }
<a href="#l1021" class="line" id="l1021">   1021</a> /* }}} */
<a href="#l1022" class="line" id="l1022">   1022</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>