<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>init.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>init.c <span class="desc">(12272B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2003, roadr (bigmac@home.sirklabs.hu)         */
<a href="#l3" class="line" id="l3">      3</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l4" class="line" id="l4">      4</a> /*                                                                      */
<a href="#l5" class="line" id="l5">      5</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l6" class="line" id="l6">      6</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l7" class="line" id="l7">      7</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l8" class="line" id="l8">      8</a> /* of the License, or (at your option) any later version.               */
<a href="#l9" class="line" id="l9">      9</a> /*                                                                      */
<a href="#l10" class="line" id="l10">     10</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l11" class="line" id="l11">     11</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l12" class="line" id="l12">     12</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l13" class="line" id="l13">     13</a> /* GNU Library General Public License for more details.                 */
<a href="#l14" class="line" id="l14">     14</a> 
<a href="#l15" class="line" id="l15">     15</a> /* {{{ Header includes */
<a href="#l16" class="line" id="l16">     16</a> #include &lt;pthread.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;stdio.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;stdlib.h&gt;
<a href="#l19" class="line" id="l19">     19</a> #include &lt;unistd.h&gt;
<a href="#l20" class="line" id="l20">     20</a> 
<a href="#l21" class="line" id="l21">     21</a> #include &quot;../include/init.h&quot;
<a href="#l22" class="line" id="l22">     22</a> #include &quot;../include/string.h&quot;
<a href="#l23" class="line" id="l23">     23</a> #include &quot;../include/lists.h&quot;
<a href="#l24" class="line" id="l24">     24</a> #include &quot;../include/print.h&quot;
<a href="#l25" class="line" id="l25">     25</a> /* }}} */
<a href="#l26" class="line" id="l26">     26</a> /*{{{ Global variables */
<a href="#l27" class="line" id="l27">     27</a> char *hostname;
<a href="#l28" class="line" id="l28">     28</a> config_t conf;
<a href="#l29" class="line" id="l29">     29</a> char *channel[MAX_CHANS];
<a href="#l30" class="line" id="l30">     30</a> char *chankey[MAX_CHANS];
<a href="#l31" class="line" id="l31">     31</a> pthread_attr_t attr;
<a href="#l32" class="line" id="l32">     32</a> pthread_mutex_t mutex[MAX_MUTEX];
<a href="#l33" class="line" id="l33">     33</a> /* }}} */
<a href="#l34" class="line" id="l34">     34</a> /* {{{ check_options() */
<a href="#l35" class="line" id="l35">     35</a> void check_options()
<a href="#l36" class="line" id="l36">     36</a> {
<a href="#l37" class="line" id="l37">     37</a>      int i;
<a href="#l38" class="line" id="l38">     38</a> 
<a href="#l39" class="line" id="l39">     39</a>      for (i = 0; i &lt; PROXYS &amp;&amp; !conf.h[i][0]; ++i);
<a href="#l40" class="line" id="l40">     40</a>      {
<a href="#l41" class="line" id="l41">     41</a>           if (i == PROXYS &amp;&amp; !conf.direct[0])
<a href="#l42" class="line" id="l42">     42</a>           {
<a href="#l43" class="line" id="l43">     43</a>                puts(&quot;You must supply a way of connection (proxy, socks, etc).&quot;);
<a href="#l44" class="line" id="l44">     44</a>                exit(EXIT_FAILURE);
<a href="#l45" class="line" id="l45">     45</a>           }
<a href="#l46" class="line" id="l46">     46</a>      }
<a href="#l47" class="line" id="l47">     47</a> 
<a href="#l48" class="line" id="l48">     48</a>      for (i = 0; i &lt; PROXYS; ++i)
<a href="#l49" class="line" id="l49">     49</a>      {
<a href="#l50" class="line" id="l50">     50</a>           if (conf.h[i][0] &amp;&amp; !conf.s[i][0])
<a href="#l51" class="line" id="l51">     51</a>           {
<a href="#l52" class="line" id="l52">     52</a>                puts(&quot;You must supply a server list for each proxy list.&quot;);
<a href="#l53" class="line" id="l53">     53</a>                exit(EXIT_FAILURE);
<a href="#l54" class="line" id="l54">     54</a>           }
<a href="#l55" class="line" id="l55">     55</a>      }
<a href="#l56" class="line" id="l56">     56</a> 
<a href="#l57" class="line" id="l57">     57</a>      for (i = 0; i &lt; PROXYS; ++i)
<a href="#l58" class="line" id="l58">     58</a>      {
<a href="#l59" class="line" id="l59">     59</a>           if (!conf.h[i][0] &amp;&amp; conf.s[i][0])
<a href="#l60" class="line" id="l60">     60</a>           {
<a href="#l61" class="line" id="l61">     61</a>                puts(&quot;You must supply a proxy list for each server list.&quot;);
<a href="#l62" class="line" id="l62">     62</a>                exit(EXIT_FAILURE);
<a href="#l63" class="line" id="l63">     63</a>           }
<a href="#l64" class="line" id="l64">     64</a>      }
<a href="#l65" class="line" id="l65">     65</a> 
<a href="#l66" class="line" id="l66">     66</a>      if (conf.use_wordlist &amp;&amp; !conf.nicks[0])
<a href="#l67" class="line" id="l67">     67</a>      {
<a href="#l68" class="line" id="l68">     68</a>           puts(&quot;No nicknames to use.&quot;);
<a href="#l69" class="line" id="l69">     69</a>           exit(EXIT_FAILURE);
<a href="#l70" class="line" id="l70">     70</a>      }
<a href="#l71" class="line" id="l71">     71</a> }
<a href="#l72" class="line" id="l72">     72</a> /* }}} */
<a href="#l73" class="line" id="l73">     73</a> /* {{{ init_*() */
<a href="#l74" class="line" id="l74">     74</a> void init_threads()
<a href="#l75" class="line" id="l75">     75</a> {
<a href="#l76" class="line" id="l76">     76</a>      int i;
<a href="#l77" class="line" id="l77">     77</a> 
<a href="#l78" class="line" id="l78">     78</a>      if (pthread_attr_init(&amp;attr))
<a href="#l79" class="line" id="l79">     79</a>      {
<a href="#l80" class="line" id="l80">     80</a>           puts(&quot;pthread_attr_init failed&quot;);
<a href="#l81" class="line" id="l81">     81</a>           exit(EXIT_FAILURE);
<a href="#l82" class="line" id="l82">     82</a>      }
<a href="#l83" class="line" id="l83">     83</a>      if (pthread_attr_setdetachstate(&amp;attr, PTHREAD_CREATE_DETACHED))
<a href="#l84" class="line" id="l84">     84</a>      {
<a href="#l85" class="line" id="l85">     85</a>           puts(&quot;pthread_attr_setdetachstate failed&quot;);
<a href="#l86" class="line" id="l86">     86</a>           exit(EXIT_FAILURE);
<a href="#l87" class="line" id="l87">     87</a>      }
<a href="#l88" class="line" id="l88">     88</a> 
<a href="#l89" class="line" id="l89">     89</a>      for (i = 0; i &lt; MAX_MUTEX; ++i)
<a href="#l90" class="line" id="l90">     90</a>      {
<a href="#l91" class="line" id="l91">     91</a>           if (pthread_mutex_init(&amp;mutex[i], NULL))
<a href="#l92" class="line" id="l92">     92</a>           {
<a href="#l93" class="line" id="l93">     93</a>                puts(&quot;pthread_mutex_init failed&quot;);
<a href="#l94" class="line" id="l94">     94</a>                exit(EXIT_FAILURE);
<a href="#l95" class="line" id="l95">     95</a>           }
<a href="#l96" class="line" id="l96">     96</a>      }
<a href="#l97" class="line" id="l97">     97</a> }
<a href="#l98" class="line" id="l98">     98</a> 
<a href="#l99" class="line" id="l99">     99</a> void init_hostname()
<a href="#l100" class="line" id="l100">    100</a> {
<a href="#l101" class="line" id="l101">    101</a>      char name[MEDBUF];
<a href="#l102" class="line" id="l102">    102</a> 
<a href="#l103" class="line" id="l103">    103</a>      if (gethostname(name, sizeof(name)) == -1)
<a href="#l104" class="line" id="l104">    104</a>      {
<a href="#l105" class="line" id="l105">    105</a>           print_error(&quot;gethostname&quot;);
<a href="#l106" class="line" id="l106">    106</a>           exit(EXIT_FAILURE);
<a href="#l107" class="line" id="l107">    107</a>      }
<a href="#l108" class="line" id="l108">    108</a>      StrFirstToken(name);
<a href="#l109" class="line" id="l109">    109</a>      hostname = StrDuplicate(name);
<a href="#l110" class="line" id="l110">    110</a> }
<a href="#l111" class="line" id="l111">    111</a> 
<a href="#l112" class="line" id="l112">    112</a> void init_options(char **argv)
<a href="#l113" class="line" id="l113">    113</a> {
<a href="#l114" class="line" id="l114">    114</a>      FILE *config, *f;
<a href="#l115" class="line" id="l115">    115</a>      unsigned i;
<a href="#l116" class="line" id="l116">    116</a>      unsigned j;
<a href="#l117" class="line" id="l117">    117</a>      char buffer[MEDBUF];
<a href="#l118" class="line" id="l118">    118</a>      char parm[MEDBUF];
<a href="#l119" class="line" id="l119">    119</a> 
<a href="#l120" class="line" id="l120">    120</a>      struct
<a href="#l121" class="line" id="l121">    121</a>      {
<a href="#l122" class="line" id="l122">    122</a>           char *arg;
<a href="#l123" class="line" id="l123">    123</a>           int *ptr;
<a href="#l124" class="line" id="l124">    124</a>      } init_int[] = {
<a href="#l125" class="line" id="l125">    125</a>           { &quot;load&quot;,             &amp;conf.load            },
<a href="#l126" class="line" id="l126">    126</a>           { &quot;group&quot;,            &amp;conf.group           },
<a href="#l127" class="line" id="l127">    127</a>           { &quot;clones&quot;,           &amp;conf.max_clones      },
<a href="#l128" class="line" id="l128">    128</a>           { &quot;wait&quot;,             &amp;conf.wait_socks      },
<a href="#l129" class="line" id="l129">    129</a>           { &quot;rewind&quot;,           &amp;conf.rewind_socks    },
<a href="#l130" class="line" id="l130">    130</a>           { &quot;timeout&quot;,          &amp;conf.timeout         },
<a href="#l131" class="line" id="l131">    131</a>           { &quot;max_reco&quot;,         &amp;conf.max_reco        },
<a href="#l132" class="line" id="l132">    132</a>           { &quot;wait_reco&quot;,        &amp;conf.wait_reco       },
<a href="#l133" class="line" id="l133">    133</a>           { &quot;no_restricted&quot;,    &amp;conf.no_restricted   },
<a href="#l134" class="line" id="l134">    134</a>           { &quot;scan&quot;,             &amp;conf.scan            },
<a href="#l135" class="line" id="l135">    135</a>           { &quot;help&quot;,             &amp;conf.help            },
<a href="#l136" class="line" id="l136">    136</a>           { &quot;verbose&quot;,          &amp;conf.verbose         },
<a href="#l137" class="line" id="l137">    137</a>           { &quot;debug&quot;,            &amp;conf.debug           },
<a href="#l138" class="line" id="l138">    138</a>           { &quot;nocolor&quot;,          &amp;conf.nocolor         },
<a href="#l139" class="line" id="l139">    139</a>           { &quot;dalnet&quot;,           &amp;conf.dalnet          },
<a href="#l140" class="line" id="l140">    140</a>           { &quot;using_wordlist&quot;,   &amp;conf.use_wordlist    },
<a href="#l141" class="line" id="l141">    141</a>           { &quot;nick_length&quot;,      &amp;conf.nick_length     },
<a href="#l142" class="line" id="l142">    142</a>           { &quot;ident_length&quot;,     &amp;conf.ident_length    },
<a href="#l143" class="line" id="l143">    143</a>           { &quot;real_length&quot;,      &amp;conf.real_length     },
<a href="#l144" class="line" id="l144">    144</a>           { &quot;rejoin&quot;,           &amp;conf.rejoin          },
<a href="#l145" class="line" id="l145">    145</a>           { &quot;multi_op&quot;,         &amp;conf.multi_op        },
<a href="#l146" class="line" id="l146">    146</a>           { &quot;multi_kick&quot;,       &amp;conf.multi_kick      },
<a href="#l147" class="line" id="l147">    147</a>           { &quot;multi_deop&quot;,       &amp;conf.multi_deop      },
<a href="#l148" class="line" id="l148">    148</a>           { &quot;aggressive&quot;,       &amp;conf.aggressive      },
<a href="#l149" class="line" id="l149">    149</a>           { &quot;peace&quot;,            &amp;conf.peace           },
<a href="#l150" class="line" id="l150">    150</a>           { &quot;repeat&quot;,           &amp;conf.repeat          },
<a href="#l151" class="line" id="l151">    151</a>           { &quot;notice&quot;,           &amp;conf.notice          },
<a href="#l152" class="line" id="l152">    152</a>           /* { &quot;max_conns&quot;,        &amp;conf.max_conns       }, */
<a href="#l153" class="line" id="l153">    153</a>           { NULL,               NULL                  }
<a href="#l154" class="line" id="l154">    154</a>      };
<a href="#l155" class="line" id="l155">    155</a> 
<a href="#l156" class="line" id="l156">    156</a>      struct
<a href="#l157" class="line" id="l157">    157</a>      {
<a href="#l158" class="line" id="l158">    158</a>           char *arg;
<a href="#l159" class="line" id="l159">    159</a>           FILE **ptr;
<a href="#l160" class="line" id="l160">    160</a>           short min;
<a href="#l161" class="line" id="l161">    161</a>           short max;
<a href="#l162" class="line" id="l162">    162</a>      } init_list[] = {
<a href="#l163" class="line" id="l163">    163</a>           { &quot;sock4_list&quot;,             conf.h[SOCKS4],         0,      MAX_GROUPS   },
<a href="#l164" class="line" id="l164">    164</a>           { &quot;sock4_server_list&quot;,      conf.s[SOCKS4],         0,      MAX_GROUPS   },
<a href="#l165" class="line" id="l165">    165</a>           { &quot;sock5_list&quot;,             conf.h[SOCKS5],         0,      MAX_GROUPS   },
<a href="#l166" class="line" id="l166">    166</a>           { &quot;sock5_server_list&quot;,      conf.s[SOCKS5],         0,      MAX_GROUPS   },
<a href="#l167" class="line" id="l167">    167</a>           { &quot;proxy_list&quot;,             conf.h[PROXY],          0,      MAX_GROUPS   },
<a href="#l168" class="line" id="l168">    168</a>           { &quot;proxy_server_list&quot;,      conf.s[PROXY],          0,      MAX_GROUPS   },
<a href="#l169" class="line" id="l169">    169</a>           { &quot;cisco_list&quot;,             conf.h[CISCO],          0,      MAX_GROUPS   },
<a href="#l170" class="line" id="l170">    170</a>           { &quot;cisco_server_list&quot;,      conf.s[CISCO],          0,      MAX_GROUPS   },
<a href="#l171" class="line" id="l171">    171</a>           { &quot;vhost_list&quot;,             conf.h[VHOST],          0,      MAX_GROUPS   },
<a href="#l172" class="line" id="l172">    172</a>           { &quot;vhost_server_list&quot;,      conf.s[VHOST],          0,      MAX_GROUPS   },
<a href="#l173" class="line" id="l173">    173</a>           { &quot;direct_server_list&quot;,     conf.direct,            0,      2            },
<a href="#l174" class="line" id="l174">    174</a>           { NULL,                     NULL,                   0,      0            }
<a href="#l175" class="line" id="l175">    175</a>      };
<a href="#l176" class="line" id="l176">    176</a> 
<a href="#l177" class="line" id="l177">    177</a>      struct
<a href="#l178" class="line" id="l178">    178</a>      {
<a href="#l179" class="line" id="l179">    179</a>           char *arg;
<a href="#l180" class="line" id="l180">    180</a>           char **ptr;
<a href="#l181" class="line" id="l181">    181</a>           short min;
<a href="#l182" class="line" id="l182">    182</a>           short max;
<a href="#l183" class="line" id="l183">    183</a>      } init_save[] = {
<a href="#l184" class="line" id="l184">    184</a>           { &quot;sock4_save&quot;,             conf.g[SOCKS4],         0,      MAX_GROUPS   },
<a href="#l185" class="line" id="l185">    185</a>           { &quot;sock5_save&quot;,             conf.g[SOCKS5],         0,      MAX_GROUPS   },
<a href="#l186" class="line" id="l186">    186</a>           { &quot;proxy_save&quot;,             conf.g[PROXY],          0,      MAX_GROUPS   },
<a href="#l187" class="line" id="l187">    187</a>           { &quot;vhost_save&quot;,             conf.g[VHOST],          0,      MAX_GROUPS   },
<a href="#l188" class="line" id="l188">    188</a>           { &quot;cisco_save&quot;,             conf.g[CISCO],          0,      MAX_GROUPS   },
<a href="#l189" class="line" id="l189">    189</a>           { NULL,                     NULL,                   0,      0            }
<a href="#l190" class="line" id="l190">    190</a>      };
<a href="#l191" class="line" id="l191">    191</a> 
<a href="#l192" class="line" id="l192">    192</a>      struct
<a href="#l193" class="line" id="l193">    193</a>      {
<a href="#l194" class="line" id="l194">    194</a>           char *arg;
<a href="#l195" class="line" id="l195">    195</a>           char **save;
<a href="#l196" class="line" id="l196">    196</a>           char **ptr;
<a href="#l197" class="line" id="l197">    197</a>           int max;
<a href="#l198" class="line" id="l198">    198</a>      } init_read[] = {
<a href="#l199" class="line" id="l199">    199</a>           { &quot;aop_list&quot;,       &amp;conf.userlist[AOP],   conf.aop,         MAX_AOPS      },
<a href="#l200" class="line" id="l200">    200</a>           { &quot;jupe_list&quot;,      &amp;conf.userlist[JUPE],  conf.jupe,        MAX_JUPES     },
<a href="#l201" class="line" id="l201">    201</a>           { &quot;prot_list&quot;,      &amp;conf.userlist[PROT],  conf.prot,        MAX_PROTS     },
<a href="#l202" class="line" id="l202">    202</a>           { &quot;shit_list&quot;,      &amp;conf.userlist[SHIT],  conf.shit,        MAX_SHITS     },
<a href="#l203" class="line" id="l203">    203</a>           { &quot;nicks&quot;,          NULL,                  conf.nicks,       MAX_NICKS     },
<a href="#l204" class="line" id="l204">    204</a>           { &quot;idents&quot;,         NULL,                  conf.idents,      MAX_IDENTS    },
<a href="#l205" class="line" id="l205">    205</a>           { &quot;realnames&quot;,      NULL,                  conf.names,       MAX_NAMES     },
<a href="#l206" class="line" id="l206">    206</a>           { NULL,             NULL,                  NULL,             0             }
<a href="#l207" class="line" id="l207">    207</a>      };
<a href="#l208" class="line" id="l208">    208</a> 
<a href="#l209" class="line" id="l209">    209</a>      struct
<a href="#l210" class="line" id="l210">    210</a>      {
<a href="#l211" class="line" id="l211">    211</a>           char *arg;
<a href="#l212" class="line" id="l212">    212</a>           char **ptr;
<a href="#l213" class="line" id="l213">    213</a>      } init_str[] = {
<a href="#l214" class="line" id="l214">    214</a>           { &quot;onstart&quot;,        &amp;conf.batch             },
<a href="#l215" class="line" id="l215">    215</a>           { &quot;chan&quot;,           channel                 },
<a href="#l216" class="line" id="l216">    216</a>           { &quot;motd&quot;,           &amp;conf.motd              },
<a href="#l217" class="line" id="l217">    217</a>           { NULL,             NULL                    }
<a href="#l218" class="line" id="l218">    218</a>      };
<a href="#l219" class="line" id="l219">    219</a> 
<a href="#l220" class="line" id="l220">    220</a>      /* Initialize the parameters */
<a href="#l221" class="line" id="l221">    221</a>      conf.load = 2000;
<a href="#l222" class="line" id="l222">    222</a>      conf.group = 1;
<a href="#l223" class="line" id="l223">    223</a>      conf.timeout = 30;
<a href="#l224" class="line" id="l224">    224</a>      conf.max_clones = 1;
<a href="#l225" class="line" id="l225">    225</a> 
<a href="#l226" class="line" id="l226">    226</a>      conf.multi_kick = 1;
<a href="#l227" class="line" id="l227">    227</a>      conf.multi_op = 4;
<a href="#l228" class="line" id="l228">    228</a>      conf.multi_deop = 4;
<a href="#l229" class="line" id="l229">    229</a> 
<a href="#l230" class="line" id="l230">    230</a>      conf.rejoin = 5;
<a href="#l231" class="line" id="l231">    231</a>      conf.dalnet = 1;
<a href="#l232" class="line" id="l232">    232</a>      conf.nick_length = 8;
<a href="#l233" class="line" id="l233">    233</a>      conf.ident_length = 8;
<a href="#l234" class="line" id="l234">    234</a>      conf.real_length = 8;
<a href="#l235" class="line" id="l235">    235</a> 
<a href="#l236" class="line" id="l236">    236</a>      if (!(config = fopen(argv[1], &quot;r&quot;)))
<a href="#l237" class="line" id="l237">    237</a>      {
<a href="#l238" class="line" id="l238">    238</a>           puts(&quot;Cannot open the config file.&quot;);
<a href="#l239" class="line" id="l239">    239</a>           exit(EXIT_FAILURE);
<a href="#l240" class="line" id="l240">    240</a>      }
<a href="#l241" class="line" id="l241">    241</a> 
<a href="#l242" class="line" id="l242">    242</a>      while (!get_a_line(buffer, sizeof(buffer), config))
<a href="#l243" class="line" id="l243">    243</a>      {
<a href="#l244" class="line" id="l244">    244</a>           if (StrParam(parm, sizeof(parm), buffer, 0))
<a href="#l245" class="line" id="l245">    245</a>           {
<a href="#l246" class="line" id="l246">    246</a>                continue;
<a href="#l247" class="line" id="l247">    247</a>           }
<a href="#l248" class="line" id="l248">    248</a> 
<a href="#l249" class="line" id="l249">    249</a>           /* Initialize the integer parameters */
<a href="#l250" class="line" id="l250">    250</a>           for (i = 0; init_int[i].arg; ++i)
<a href="#l251" class="line" id="l251">    251</a>           {
<a href="#l252" class="line" id="l252">    252</a>                if (!StrCompare(init_int[i].arg, parm))
<a href="#l253" class="line" id="l253">    253</a>                {
<a href="#l254" class="line" id="l254">    254</a>                     if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l255" class="line" id="l255">    255</a>                     {
<a href="#l256" class="line" id="l256">    256</a>                          *init_int[i].ptr = atoi(parm);
<a href="#l257" class="line" id="l257">    257</a>                          break;
<a href="#l258" class="line" id="l258">    258</a>                     }
<a href="#l259" class="line" id="l259">    259</a>                }
<a href="#l260" class="line" id="l260">    260</a>           }
<a href="#l261" class="line" id="l261">    261</a>           if (init_int[i].arg)
<a href="#l262" class="line" id="l262">    262</a>           {
<a href="#l263" class="line" id="l263">    263</a>                continue;
<a href="#l264" class="line" id="l264">    264</a>           }
<a href="#l265" class="line" id="l265">    265</a> 
<a href="#l266" class="line" id="l266">    266</a>           /* Initialize the file descriptors */
<a href="#l267" class="line" id="l267">    267</a>           for (i = 0; init_list[i].arg; ++i)
<a href="#l268" class="line" id="l268">    268</a>           {
<a href="#l269" class="line" id="l269">    269</a>                if (!StrCompare(init_list[i].arg, parm))
<a href="#l270" class="line" id="l270">    270</a>                {
<a href="#l271" class="line" id="l271">    271</a>                     if (init_list[i].min &lt; init_list[i].max-1)
<a href="#l272" class="line" id="l272">    272</a>                     {
<a href="#l273" class="line" id="l273">    273</a>                          if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l274" class="line" id="l274">    274</a>                          {
<a href="#l275" class="line" id="l275">    275</a>                               j = init_list[i].min++;
<a href="#l276" class="line" id="l276">    276</a>                               if (!((init_list[i].ptr)[j] = fopen(parm, &quot;r&quot;)))
<a href="#l277" class="line" id="l277">    277</a>                               {
<a href="#l278" class="line" id="l278">    278</a>                                    printf(&quot;Cannot open a %s.\n&quot;, init_list[i].arg);
<a href="#l279" class="line" id="l279">    279</a>                                    exit(EXIT_FAILURE);
<a href="#l280" class="line" id="l280">    280</a>                               }
<a href="#l281" class="line" id="l281">    281</a>                               break;
<a href="#l282" class="line" id="l282">    282</a>                          }
<a href="#l283" class="line" id="l283">    283</a>                     }
<a href="#l284" class="line" id="l284">    284</a>                }
<a href="#l285" class="line" id="l285">    285</a>           }
<a href="#l286" class="line" id="l286">    286</a>           if (init_list[i].arg)
<a href="#l287" class="line" id="l287">    287</a>           {
<a href="#l288" class="line" id="l288">    288</a>                continue;
<a href="#l289" class="line" id="l289">    289</a>           }
<a href="#l290" class="line" id="l290">    290</a> 
<a href="#l291" class="line" id="l291">    291</a>           /* Initialize save filenames */
<a href="#l292" class="line" id="l292">    292</a>           for (i = 0; init_save[i].arg; ++i)
<a href="#l293" class="line" id="l293">    293</a>           {
<a href="#l294" class="line" id="l294">    294</a>                if (!StrCompare(init_save[i].arg, parm))
<a href="#l295" class="line" id="l295">    295</a>                {
<a href="#l296" class="line" id="l296">    296</a>                     if (init_save[i].min &lt; init_save[i].max-1)
<a href="#l297" class="line" id="l297">    297</a>                     {
<a href="#l298" class="line" id="l298">    298</a>                          if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l299" class="line" id="l299">    299</a>                          {
<a href="#l300" class="line" id="l300">    300</a>                               j = init_save[i].min++;
<a href="#l301" class="line" id="l301">    301</a>                               (init_save[i].ptr)[j] = StrDuplicate(parm);
<a href="#l302" class="line" id="l302">    302</a>                               break;
<a href="#l303" class="line" id="l303">    303</a>                          }
<a href="#l304" class="line" id="l304">    304</a>                     }
<a href="#l305" class="line" id="l305">    305</a>                }
<a href="#l306" class="line" id="l306">    306</a>           }
<a href="#l307" class="line" id="l307">    307</a>           if (init_save[i].arg)
<a href="#l308" class="line" id="l308">    308</a>           {
<a href="#l309" class="line" id="l309">    309</a>                continue;
<a href="#l310" class="line" id="l310">    310</a>           }
<a href="#l311" class="line" id="l311">    311</a> 
<a href="#l312" class="line" id="l312">    312</a>           /* Initialize the lists to read */
<a href="#l313" class="line" id="l313">    313</a>           for (i = 0; init_read[i].arg; ++i)
<a href="#l314" class="line" id="l314">    314</a>           {
<a href="#l315" class="line" id="l315">    315</a>                if (!StrCompare(init_read[i].arg, parm))
<a href="#l316" class="line" id="l316">    316</a>                {
<a href="#l317" class="line" id="l317">    317</a>                     if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l318" class="line" id="l318">    318</a>                     {
<a href="#l319" class="line" id="l319">    319</a>                          if (init_read[i].save)
<a href="#l320" class="line" id="l320">    320</a>                          {
<a href="#l321" class="line" id="l321">    321</a>                               *init_read[i].save = StrDuplicate(parm);
<a href="#l322" class="line" id="l322">    322</a>                          }
<a href="#l323" class="line" id="l323">    323</a>                          if ((f = fopen(parm, &quot;r&quot;)))
<a href="#l324" class="line" id="l324">    324</a>                          {
<a href="#l325" class="line" id="l325">    325</a>                               fill_table(init_read[i].ptr, init_read[i].max, f);
<a href="#l326" class="line" id="l326">    326</a>                               fclose(f);
<a href="#l327" class="line" id="l327">    327</a>                          }
<a href="#l328" class="line" id="l328">    328</a>                          else if (!init_read[i].save)
<a href="#l329" class="line" id="l329">    329</a>                          {
<a href="#l330" class="line" id="l330">    330</a>                               printf(&quot;Cannot open the %s.\n&quot;, init_read[i].arg);
<a href="#l331" class="line" id="l331">    331</a>                               exit(EXIT_FAILURE);
<a href="#l332" class="line" id="l332">    332</a>                          }
<a href="#l333" class="line" id="l333">    333</a>                          break;
<a href="#l334" class="line" id="l334">    334</a>                     }
<a href="#l335" class="line" id="l335">    335</a>                }
<a href="#l336" class="line" id="l336">    336</a>           }
<a href="#l337" class="line" id="l337">    337</a>           if (init_read[i].arg)
<a href="#l338" class="line" id="l338">    338</a>           {
<a href="#l339" class="line" id="l339">    339</a>                continue;
<a href="#l340" class="line" id="l340">    340</a>           }
<a href="#l341" class="line" id="l341">    341</a> 
<a href="#l342" class="line" id="l342">    342</a>           /* Initialize the string parameters */
<a href="#l343" class="line" id="l343">    343</a>           for (i = 0; init_str[i].arg; ++i)
<a href="#l344" class="line" id="l344">    344</a>           {
<a href="#l345" class="line" id="l345">    345</a>                if (!StrCompare(init_str[i].arg, parm))
<a href="#l346" class="line" id="l346">    346</a>                {
<a href="#l347" class="line" id="l347">    347</a>                     if (!StrParam(parm, sizeof(parm), buffer, 1))
<a href="#l348" class="line" id="l348">    348</a>                     {
<a href="#l349" class="line" id="l349">    349</a>                          *init_str[i].ptr = StrDuplicate(parm);
<a href="#l350" class="line" id="l350">    350</a>                          break;
<a href="#l351" class="line" id="l351">    351</a>                     }
<a href="#l352" class="line" id="l352">    352</a>                }
<a href="#l353" class="line" id="l353">    353</a>           }
<a href="#l354" class="line" id="l354">    354</a>           if (init_str[i].arg)
<a href="#l355" class="line" id="l355">    355</a>           {
<a href="#l356" class="line" id="l356">    356</a>                continue;
<a href="#l357" class="line" id="l357">    357</a>           }
<a href="#l358" class="line" id="l358">    358</a>      }
<a href="#l359" class="line" id="l359">    359</a> 
<a href="#l360" class="line" id="l360">    360</a>      fclose(config);
<a href="#l361" class="line" id="l361">    361</a> }
<a href="#l362" class="line" id="l362">    362</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>