<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>load.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>load.c <span class="desc">(9356B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2003, roadr (bigmac@home.sirklabs.hu)         */
<a href="#l3" class="line" id="l3">      3</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l4" class="line" id="l4">      4</a> /*                                                                      */
<a href="#l5" class="line" id="l5">      5</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l6" class="line" id="l6">      6</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l7" class="line" id="l7">      7</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l8" class="line" id="l8">      8</a> /* of the License, or (at your option) any later version.               */
<a href="#l9" class="line" id="l9">      9</a> /*                                                                      */
<a href="#l10" class="line" id="l10">     10</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l11" class="line" id="l11">     11</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l12" class="line" id="l12">     12</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l13" class="line" id="l13">     13</a> /* GNU Library General Public License for more details.                 */
<a href="#l14" class="line" id="l14">     14</a> 
<a href="#l15" class="line" id="l15">     15</a> /* {{{ Header includes */
<a href="#l16" class="line" id="l16">     16</a> #include &lt;pthread.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;unistd.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;stdio.h&gt;
<a href="#l19" class="line" id="l19">     19</a> #include &lt;stdlib.h&gt;
<a href="#l20" class="line" id="l20">     20</a> 
<a href="#l21" class="line" id="l21">     21</a> #include &quot;../include/string.h&quot;
<a href="#l22" class="line" id="l22">     22</a> #include &quot;../include/lists.h&quot;
<a href="#l23" class="line" id="l23">     23</a> #include &quot;../include/print.h&quot;
<a href="#l24" class="line" id="l24">     24</a> #include &quot;../include/load.h&quot;
<a href="#l25" class="line" id="l25">     25</a> /* }}} */
<a href="#l26" class="line" id="l26">     26</a> /* {{{ External variables */
<a href="#l27" class="line" id="l27">     27</a> extern clone_t *cl[];
<a href="#l28" class="line" id="l28">     28</a> extern config_t conf;
<a href="#l29" class="line" id="l29">     29</a> extern const char *strtype[];
<a href="#l30" class="line" id="l30">     30</a> extern pthread_mutex_t mutex[];
<a href="#l31" class="line" id="l31">     31</a> /* }}} */
<a href="#l32" class="line" id="l32">     32</a> /* {{{ randget() */
<a href="#l33" class="line" id="l33">     33</a> void randget(clone_t *clone, char **dest, size_t destlen, int uselist, char **list, int max)
<a href="#l34" class="line" id="l34">     34</a> {
<a href="#l35" class="line" id="l35">     35</a>      register unsigned int i; /* ``unsigned&#39;&#39; is not needed, stops a warning when compiled with -Wsign-compare */
<a href="#l36" class="line" id="l36">     36</a>      char *tmp;
<a href="#l37" class="line" id="l37">     37</a> 
<a href="#l38" class="line" id="l38">     38</a>      /* Alphabet used to make random words */
<a href="#l39" class="line" id="l39">     39</a>      static char charset[] = &quot;abcdefghijklmnopqrstuvwxyz&quot;;
<a href="#l40" class="line" id="l40">     40</a>      static size_t len;
<a href="#l41" class="line" id="l41">     41</a> 
<a href="#l42" class="line" id="l42">     42</a>      len = strlen(charset);
<a href="#l43" class="line" id="l43">     43</a>      tmp = (char *)xmalloc(destlen + 1);
<a href="#l44" class="line" id="l44">     44</a> 
<a href="#l45" class="line" id="l45">     45</a>      if (uselist &amp;&amp; list[0])
<a href="#l46" class="line" id="l46">     46</a>      {
<a href="#l47" class="line" id="l47">     47</a>           for (i = 0; i &lt; MAX_NICKS &amp;&amp; list[i]; ++i) {}
<a href="#l48" class="line" id="l48">     48</a>           StrCopy(tmp, list[random() % i], destlen + 1);
<a href="#l49" class="line" id="l49">     49</a>      }
<a href="#l50" class="line" id="l50">     50</a>      else
<a href="#l51" class="line" id="l51">     51</a>      {
<a href="#l52" class="line" id="l52">     52</a>           for (i = 0; i &lt; destlen; ++i)
<a href="#l53" class="line" id="l53">     53</a>           {
<a href="#l54" class="line" id="l54">     54</a>                tmp[i] = charset[random() % len];
<a href="#l55" class="line" id="l55">     55</a>           }
<a href="#l56" class="line" id="l56">     56</a>      }
<a href="#l57" class="line" id="l57">     57</a>      tmp[destlen] = 0;
<a href="#l58" class="line" id="l58">     58</a>      *dest = tmp;
<a href="#l59" class="line" id="l59">     59</a> }
<a href="#l60" class="line" id="l60">     60</a> /* }}} */
<a href="#l61" class="line" id="l61">     61</a> /* {{{ Loading functions */
<a href="#l62" class="line" id="l62">     62</a> int load_clone(clone_t *go)
<a href="#l63" class="line" id="l63">     63</a> {
<a href="#l64" class="line" id="l64">     64</a>      clone_t **pcl;
<a href="#l65" class="line" id="l65">     65</a>      register int id;
<a href="#l66" class="line" id="l66">     66</a> 
<a href="#l67" class="line" id="l67">     67</a>      /* Get a free entry in cl[] */
<a href="#l68" class="line" id="l68">     68</a>      for (id = 0, pcl = cl; *pcl; ++id, ++pcl)
<a href="#l69" class="line" id="l69">     69</a>      {
<a href="#l70" class="line" id="l70">     70</a>           if (id == MAX_CLONES-1)
<a href="#l71" class="line" id="l71">     71</a>           {
<a href="#l72" class="line" id="l72">     72</a>                return 1;
<a href="#l73" class="line" id="l73">     73</a>           }
<a href="#l74" class="line" id="l74">     74</a>      }
<a href="#l75" class="line" id="l75">     75</a> 
<a href="#l76" class="line" id="l76">     76</a>      /* Allocate memory for a new clone structure */
<a href="#l77" class="line" id="l77">     77</a>      if (!(*pcl = (clone_t *)malloc(sizeof(clone_t))))
<a href="#l78" class="line" id="l78">     78</a>      {
<a href="#l79" class="line" id="l79">     79</a>           print_error(&quot;malloc&quot;);
<a href="#l80" class="line" id="l80">     80</a>           return 1;
<a href="#l81" class="line" id="l81">     81</a>      }
<a href="#l82" class="line" id="l82">     82</a> 
<a href="#l83" class="line" id="l83">     83</a>      /* Copy the current clone parameters in it */
<a href="#l84" class="line" id="l84">     84</a>      memcpy(*pcl, go, sizeof(clone_t));
<a href="#l85" class="line" id="l85">     85</a> 
<a href="#l86" class="line" id="l86">     86</a>      /* The id is useful to free the structure on exit */
<a href="#l87" class="line" id="l87">     87</a>      (*pcl)-&gt;id = id;
<a href="#l88" class="line" id="l88">     88</a> 
<a href="#l89" class="line" id="l89">     89</a>      /* Launch the clone */
<a href="#l90" class="line" id="l90">     90</a>      if (main_clone(*pcl))
<a href="#l91" class="line" id="l91">     91</a>      {
<a href="#l92" class="line" id="l92">     92</a>           free_clone(*pcl);
<a href="#l93" class="line" id="l93">     93</a>      }
<a href="#l94" class="line" id="l94">     94</a> 
<a href="#l95" class="line" id="l95">     95</a>      return 0;
<a href="#l96" class="line" id="l96">     96</a> }
<a href="#l97" class="line" id="l97">     97</a> 
<a href="#l98" class="line" id="l98">     98</a> int load_host(int t, char *host, int proxy_port, char *server, int server_port, char *pass, char *ident, char *save, int mode)
<a href="#l99" class="line" id="l99">     99</a> {
<a href="#l100" class="line" id="l100">    100</a>      clone_t go;
<a href="#l101" class="line" id="l101">    101</a> 
<a href="#l102" class="line" id="l102">    102</a>      /* Initialize the current clone structure */
<a href="#l103" class="line" id="l103">    103</a>      memset(&amp;go, 0, sizeof(clone_t));
<a href="#l104" class="line" id="l104">    104</a>      memset(&amp;go.buffer, 0, sizeof(go.buffer));
<a href="#l105" class="line" id="l105">    105</a>      memset(&amp;go.lastbuffer, 0, sizeof(go.lastbuffer));
<a href="#l106" class="line" id="l106">    106</a>      go.sock = -1;
<a href="#l107" class="line" id="l107">    107</a>      go.type = t;
<a href="#l108" class="line" id="l108">    108</a>      go.mode = mode;
<a href="#l109" class="line" id="l109">    109</a> 
<a href="#l110" class="line" id="l110">    110</a>      if (go.type != NOSPOOF)
<a href="#l111" class="line" id="l111">    111</a>      {
<a href="#l112" class="line" id="l112">    112</a>           go.proxy = StrDuplicate(host);
<a href="#l113" class="line" id="l113">    113</a>           go.proxy_port = proxy_port;
<a href="#l114" class="line" id="l114">    114</a>      }
<a href="#l115" class="line" id="l115">    115</a> 
<a href="#l116" class="line" id="l116">    116</a>      go.server = StrDuplicate(server);
<a href="#l117" class="line" id="l117">    117</a>      go.server_port = server_port;
<a href="#l118" class="line" id="l118">    118</a>      go.server_pass = StrDuplicate(pass);
<a href="#l119" class="line" id="l119">    119</a>      go.server_ident = StrDuplicate(ident);
<a href="#l120" class="line" id="l120">    120</a>      go.save = StrDuplicate(save);
<a href="#l121" class="line" id="l121">    121</a> 
<a href="#l122" class="line" id="l122">    122</a>      /* Make the clone&#39;s {nick,ident,realname} from a wordlist or randomly. */
<a href="#l123" class="line" id="l123">    123</a>      randget(&amp;go, &amp;go.nick, conf.nick_length, conf.use_wordlist, conf.nicks, MAX_NICKS);
<a href="#l124" class="line" id="l124">    124</a>      randget(&amp;go, &amp;go.ident, conf.ident_length, 1, conf.idents, MAX_IDENTS);
<a href="#l125" class="line" id="l125">    125</a>      randget(&amp;go, &amp;go.real, conf.real_length, 1, conf.names, MAX_NAMES);
<a href="#l126" class="line" id="l126">    126</a> 
<a href="#l127" class="line" id="l127">    127</a>      return load_clone(&amp;go);
<a href="#l128" class="line" id="l128">    128</a> }
<a href="#l129" class="line" id="l129">    129</a> 
<a href="#l130" class="line" id="l130">    130</a> void loadlist(int t, FILE *hosts, FILE *servers, char *save)
<a href="#l131" class="line" id="l131">    131</a> {
<a href="#l132" class="line" id="l132">    132</a>      int ret;
<a href="#l133" class="line" id="l133">    133</a>      int i = 0;
<a href="#l134" class="line" id="l134">    134</a>      int k = 0;
<a href="#l135" class="line" id="l135">    135</a>      int l = 0;
<a href="#l136" class="line" id="l136">    136</a>      int max_server = 0;
<a href="#l137" class="line" id="l137">    137</a>      int max_proxys = 0;
<a href="#l138" class="line" id="l138">    138</a>      char server[MEDBUF+1];
<a href="#l139" class="line" id="l139">    139</a>      char *serv = NULL;
<a href="#l140" class="line" id="l140">    140</a>      char *pass = NULL;
<a href="#l141" class="line" id="l141">    141</a>      char *ident = NULL;
<a href="#l142" class="line" id="l142">    142</a>      int server_port;
<a href="#l143" class="line" id="l143">    143</a>      char proxy[MEDBUF+1];
<a href="#l144" class="line" id="l144">    144</a>      int proxy_port;
<a href="#l145" class="line" id="l145">    145</a>      char buffer[MEDBUF+1];
<a href="#l146" class="line" id="l146">    146</a>      char parm[MINIBUF];
<a href="#l147" class="line" id="l147">    147</a> 
<a href="#l148" class="line" id="l148">    148</a>      if (!conf.wait_socks &amp;&amp; hosts)
<a href="#l149" class="line" id="l149">    149</a>      {
<a href="#l150" class="line" id="l150">    150</a>           max_proxys = file_length(hosts);
<a href="#l151" class="line" id="l151">    151</a>      }
<a href="#l152" class="line" id="l152">    152</a> 
<a href="#l153" class="line" id="l153">    153</a>      while (1)
<a href="#l154" class="line" id="l154">    154</a>      {
<a href="#l155" class="line" id="l155">    155</a>           if (i == 0)
<a href="#l156" class="line" id="l156">    156</a>           {
<a href="#l157" class="line" id="l157">    157</a>                /* Get the next server on the current server list */
<a href="#l158" class="line" id="l158">    158</a>                if (!fgets(buffer, sizeof(buffer), servers))
<a href="#l159" class="line" id="l159">    159</a>                {
<a href="#l160" class="line" id="l160">    160</a>                     return;
<a href="#l161" class="line" id="l161">    161</a>                }
<a href="#l162" class="line" id="l162">    162</a>                switch (sscanf(buffer, &quot;%&quot;MEDBUF_TXT&quot;[^:\r\n]:%d %d&quot;, server, &amp;server_port, &amp;max_server))
<a href="#l163" class="line" id="l163">    163</a>                {
<a href="#l164" class="line" id="l164">    164</a>                     default:
<a href="#l165" class="line" id="l165">    165</a>                          print(1, 0, 0, &quot;No line to read&quot;);
<a href="#l166" class="line" id="l166">    166</a>                          return;
<a href="#l167" class="line" id="l167">    167</a>                     case 1:
<a href="#l168" class="line" id="l168">    168</a>                          print(1, 0, 0, &quot;%s: server error (host:port)&quot;, server);
<a href="#l169" class="line" id="l169">    169</a>                          return;
<a href="#l170" class="line" id="l170">    170</a>                     case 2:
<a href="#l171" class="line" id="l171">    171</a>                          print(1, 0, 0, &quot;%s: server error (no max)&quot;, server);
<a href="#l172" class="line" id="l172">    172</a>                          return;
<a href="#l173" class="line" id="l173">    173</a>                     case 3:
<a href="#l174" class="line" id="l174">    174</a>                          print(1, 3, 0, &quot;%s server: %s:%d [max=%d]&quot;, strtype[t], server, server_port, max_server);
<a href="#l175" class="line" id="l175">    175</a> 
<a href="#l176" class="line" id="l176">    176</a>                          if (!StrParam(parm, sizeof(parm), buffer, 2))
<a href="#l177" class="line" id="l177">    177</a>                          {
<a href="#l178" class="line" id="l178">    178</a>                               pass = StrDuplicate(parm);
<a href="#l179" class="line" id="l179">    179</a>                          }
<a href="#l180" class="line" id="l180">    180</a> 
<a href="#l181" class="line" id="l181">    181</a>                          if (!StrParam(parm, sizeof(parm), buffer, 3))
<a href="#l182" class="line" id="l182">    182</a>                          {
<a href="#l183" class="line" id="l183">    183</a>                               ident = StrDuplicate(parm);
<a href="#l184" class="line" id="l184">    184</a>                          }
<a href="#l185" class="line" id="l185">    185</a> 
<a href="#l186" class="line" id="l186">    186</a>                          if (t != NOSPOOF &amp;&amp; conf.rewind_socks)
<a href="#l187" class="line" id="l187">    187</a>                          {
<a href="#l188" class="line" id="l188">    188</a>                               rewind(hosts);
<a href="#l189" class="line" id="l189">    189</a>                          }
<a href="#l190" class="line" id="l190">    190</a> 
<a href="#l191" class="line" id="l191">    191</a>                          break;
<a href="#l192" class="line" id="l192">    192</a>                }
<a href="#l193" class="line" id="l193">    193</a>                if (t == NOSPOOF &amp;&amp; max_server &lt;= 0)
<a href="#l194" class="line" id="l194">    194</a>                {
<a href="#l195" class="line" id="l195">    195</a>                     print(1, 0, 0, &quot;%s: server error (max must be &gt; 0)&quot;, server);
<a href="#l196" class="line" id="l196">    196</a>                     return;
<a href="#l197" class="line" id="l197">    197</a>                }
<a href="#l198" class="line" id="l198">    198</a>                serv = StrDuplicate(server);
<a href="#l199" class="line" id="l199">    199</a>           }
<a href="#l200" class="line" id="l200">    200</a> 
<a href="#l201" class="line" id="l201">    201</a>           /* Get the next proxy on the current proxy list, if needed */
<a href="#l202" class="line" id="l202">    202</a>           if (t != NOSPOOF &amp;&amp; k == 0)
<a href="#l203" class="line" id="l203">    203</a>           {
<a href="#l204" class="line" id="l204">    204</a>                while (get_a_line(buffer, sizeof(buffer), hosts))
<a href="#l205" class="line" id="l205">    205</a>                {
<a href="#l206" class="line" id="l206">    206</a>                     if (conf.wait_socks)
<a href="#l207" class="line" id="l207">    207</a>                     {
<a href="#l208" class="line" id="l208">    208</a>                          sleep(2);
<a href="#l209" class="line" id="l209">    209</a>                     }
<a href="#l210" class="line" id="l210">    210</a>                     else
<a href="#l211" class="line" id="l211">    211</a>                     {
<a href="#l212" class="line" id="l212">    212</a>                          return;
<a href="#l213" class="line" id="l213">    213</a>                     }
<a href="#l214" class="line" id="l214">    214</a>                }
<a href="#l215" class="line" id="l215">    215</a>                sscanf(buffer, &quot;%&quot;MEDBUF_TXT&quot;s&quot;, proxy);
<a href="#l216" class="line" id="l216">    216</a>                if (t != VHOST)
<a href="#l217" class="line" id="l217">    217</a>                {
<a href="#l218" class="line" id="l218">    218</a>                     if (strchr(proxy,&#39;:&#39;))
<a href="#l219" class="line" id="l219">    219</a>                     {
<a href="#l220" class="line" id="l220">    220</a>                          sscanf(proxy, &quot;%*[^:]:%d&quot;, &amp;proxy_port); /* XXX: What if ``(t == VHOST)&#39;&#39;? -- Leon */
<a href="#l221" class="line" id="l221">    221</a>                          sscanf(proxy, &quot;%[^:]&quot;, proxy);
<a href="#l222" class="line" id="l222">    222</a>                     }
<a href="#l223" class="line" id="l223">    223</a>                     else switch (t) /* set a default port */
<a href="#l224" class="line" id="l224">    224</a>                     {
<a href="#l225" class="line" id="l225">    225</a>                          case CISCO:
<a href="#l226" class="line" id="l226">    226</a>                               proxy_port = 23;
<a href="#l227" class="line" id="l227">    227</a>                               break;
<a href="#l228" class="line" id="l228">    228</a>                          case SOCKS4:
<a href="#l229" class="line" id="l229">    229</a>                          case SOCKS5:
<a href="#l230" class="line" id="l230">    230</a>                               proxy_port = 1080;
<a href="#l231" class="line" id="l231">    231</a>                               break;
<a href="#l232" class="line" id="l232">    232</a>                          case PROXY:
<a href="#l233" class="line" id="l233">    233</a>                               print(1, 0, 0, &quot;%s: proxy error (host:port)&quot;, proxy);
<a href="#l234" class="line" id="l234">    234</a>                               proxy_port = 8080;
<a href="#l235" class="line" id="l235">    235</a>                               break;
<a href="#l236" class="line" id="l236">    236</a>                     }
<a href="#l237" class="line" id="l237">    237</a>                }
<a href="#l238" class="line" id="l238">    238</a>           }
<a href="#l239" class="line" id="l239">    239</a> 
<a href="#l240" class="line" id="l240">    240</a>           while ((max_server &lt;= 0 || i &lt; max_server) &amp;&amp; (t == NOSPOOF || k &lt; conf.max_clones))
<a href="#l241" class="line" id="l241">    241</a>           {
<a href="#l242" class="line" id="l242">    242</a>                pthread_mutex_lock(&amp;mutex[0]);
<a href="#l243" class="line" id="l243">    243</a>                ret = load_host(t, proxy, proxy_port, serv, server_port, pass, ident, save, M_NORMAL);
<a href="#l244" class="line" id="l244">    244</a>                pthread_mutex_unlock(&amp;mutex[0]);
<a href="#l245" class="line" id="l245">    245</a>                if (ret)
<a href="#l246" class="line" id="l246">    246</a>                {
<a href="#l247" class="line" id="l247">    247</a>                     pthread_exit(0);
<a href="#l248" class="line" id="l248">    248</a>                }
<a href="#l249" class="line" id="l249">    249</a> 
<a href="#l250" class="line" id="l250">    250</a>                ++i, ++k, ++l;
<a href="#l251" class="line" id="l251">    251</a> 
<a href="#l252" class="line" id="l252">    252</a>                if (l == conf.group &amp;&amp; conf.load &gt; 0)
<a href="#l253" class="line" id="l253">    253</a>                {
<a href="#l254" class="line" id="l254">    254</a>                     usleep(conf.load * 1000), l = 0;
<a href="#l255" class="line" id="l255">    255</a>                }
<a href="#l256" class="line" id="l256">    256</a>           }
<a href="#l257" class="line" id="l257">    257</a> 
<a href="#l258" class="line" id="l258">    258</a>           if (i == max_server)
<a href="#l259" class="line" id="l259">    259</a>           {
<a href="#l260" class="line" id="l260">    260</a>                i = 0;
<a href="#l261" class="line" id="l261">    261</a>           }
<a href="#l262" class="line" id="l262">    262</a>           if (k == conf.max_clones)
<a href="#l263" class="line" id="l263">    263</a>           {
<a href="#l264" class="line" id="l264">    264</a>                k = 0;
<a href="#l265" class="line" id="l265">    265</a>           }
<a href="#l266" class="line" id="l266">    266</a> 
<a href="#l267" class="line" id="l267">    267</a>           if (!conf.wait_socks &amp;&amp; hosts &amp;&amp; max_server &lt;= 0)
<a href="#l268" class="line" id="l268">    268</a>           {
<a href="#l269" class="line" id="l269">    269</a>                if (i == max_proxys * conf.max_clones)
<a href="#l270" class="line" id="l270">    270</a>                {
<a href="#l271" class="line" id="l271">    271</a>                     i = 0;
<a href="#l272" class="line" id="l272">    272</a>                }
<a href="#l273" class="line" id="l273">    273</a>           }
<a href="#l274" class="line" id="l274">    274</a>      }
<a href="#l275" class="line" id="l275">    275</a> }
<a href="#l276" class="line" id="l276">    276</a> 
<a href="#l277" class="line" id="l277">    277</a> void load1(int t, FILE *hosts, FILE *servers, char *save)
<a href="#l278" class="line" id="l278">    278</a> {
<a href="#l279" class="line" id="l279">    279</a>      loadlist(t, hosts, servers, save);
<a href="#l280" class="line" id="l280">    280</a>      if (conf.verbose)
<a href="#l281" class="line" id="l281">    281</a>      {
<a href="#l282" class="line" id="l282">    282</a>           print(1, 0, 0, &quot;all %ss loaded.&quot;, strtype[t]);
<a href="#l283" class="line" id="l283">    283</a>      }
<a href="#l284" class="line" id="l284">    284</a> }
<a href="#l285" class="line" id="l285">    285</a> 
<a href="#l286" class="line" id="l286">    286</a> void load2(int t, FILE **p1, FILE **p2, char **p3)
<a href="#l287" class="line" id="l287">    287</a> {
<a href="#l288" class="line" id="l288">    288</a>      FILE **fhost;
<a href="#l289" class="line" id="l289">    289</a>      FILE **fserv;
<a href="#l290" class="line" id="l290">    290</a>      char **csave;
<a href="#l291" class="line" id="l291">    291</a>      for (fhost = p1, fserv = p2, csave = p3; *fhost; ++fhost, ++fserv, ++csave)
<a href="#l292" class="line" id="l292">    292</a>      {
<a href="#l293" class="line" id="l293">    293</a>           load1(t, *fhost, *fserv, *csave);
<a href="#l294" class="line" id="l294">    294</a>      }
<a href="#l295" class="line" id="l295">    295</a> }
<a href="#l296" class="line" id="l296">    296</a> 
<a href="#l297" class="line" id="l297">    297</a> void *load_all(void *arg)
<a href="#l298" class="line" id="l298">    298</a> {
<a href="#l299" class="line" id="l299">    299</a>      int i;
<a href="#l300" class="line" id="l300">    300</a> 
<a href="#l301" class="line" id="l301">    301</a>      for (i = 0; i &lt; PROXYS; ++i)
<a href="#l302" class="line" id="l302">    302</a>      {
<a href="#l303" class="line" id="l303">    303</a>           if (conf.h[i][0])
<a href="#l304" class="line" id="l304">    304</a>           {
<a href="#l305" class="line" id="l305">    305</a>                load2(i, conf.h[i], conf.s[i], conf.g[i]);
<a href="#l306" class="line" id="l306">    306</a>           }
<a href="#l307" class="line" id="l307">    307</a>      }
<a href="#l308" class="line" id="l308">    308</a> 
<a href="#l309" class="line" id="l309">    309</a>      if (conf.direct[0])
<a href="#l310" class="line" id="l310">    310</a>      {
<a href="#l311" class="line" id="l311">    311</a>           load1(NOSPOOF, NULL, conf.direct[0], NULL);
<a href="#l312" class="line" id="l312">    312</a>      }
<a href="#l313" class="line" id="l313">    313</a> 
<a href="#l314" class="line" id="l314">    314</a>      return NULL;
<a href="#l315" class="line" id="l315">    315</a> }
<a href="#l316" class="line" id="l316">    316</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>