<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>mass.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>mass.c <span class="desc">(7030B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Header includes */
<a href="#l15" class="line" id="l15">     15</a> #include &lt;stdio.h&gt;
<a href="#l16" class="line" id="l16">     16</a> #include &lt;stdlib.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;time.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;unistd.h&gt;
<a href="#l19" class="line" id="l19">     19</a> 
<a href="#l20" class="line" id="l20">     20</a> #include &quot;../include/mass.h&quot;
<a href="#l21" class="line" id="l21">     21</a> #include &quot;../include/control.h&quot;
<a href="#l22" class="line" id="l22">     22</a> #include &quot;../include/net.h&quot;
<a href="#l23" class="line" id="l23">     23</a> #include &quot;../include/string.h&quot;
<a href="#l24" class="line" id="l24">     24</a> #include &quot;../include/lists.h&quot;
<a href="#l25" class="line" id="l25">     25</a> /* }}} */
<a href="#l26" class="line" id="l26">     26</a> /* {{{ Variables */
<a href="#l27" class="line" id="l27">     27</a> /* {{{ External Variables */
<a href="#l28" class="line" id="l28">     28</a> extern char *channel[];
<a href="#l29" class="line" id="l29">     29</a> extern char *broth[];
<a href="#l30" class="line" id="l30">     30</a> extern clone_t *cl[];
<a href="#l31" class="line" id="l31">     31</a> extern config_t conf;
<a href="#l32" class="line" id="l32">     32</a> extern queue names_op[];
<a href="#l33" class="line" id="l33">     33</a> extern queue names[];
<a href="#l34" class="line" id="l34">     34</a> /* }}} */
<a href="#l35" class="line" id="l35">     35</a> /*{{{ Global variables */
<a href="#l36" class="line" id="l36">     36</a> int mass_ch;
<a href="#l37" class="line" id="l37">     37</a> int mass_mode;
<a href="#l38" class="line" id="l38">     38</a> char *mass_reas;
<a href="#l39" class="line" id="l39">     39</a> char *mass_server;
<a href="#l40" class="line" id="l40">     40</a> /* }}} */
<a href="#l41" class="line" id="l41">     41</a> /* }}} */
<a href="#l42" class="line" id="l42">     42</a> /* {{{ Massmode functions */
<a href="#l43" class="line" id="l43">     43</a> /* {{{ multimode() */
<a href="#l44" class="line" id="l44">     44</a> void multimode(clone_t *clone, char *chan, char *sign, int n, char *nicks, int uniq)
<a href="#l45" class="line" id="l45">     45</a> {
<a href="#l46" class="line" id="l46">     46</a>      char modes[MINIBUF];
<a href="#l47" class="line" id="l47">     47</a>      int i;
<a href="#l48" class="line" id="l48">     48</a> 
<a href="#l49" class="line" id="l49">     49</a>      memset(modes, 0, sizeof(modes));
<a href="#l50" class="line" id="l50">     50</a> 
<a href="#l51" class="line" id="l51">     51</a>      StrCat(modes, &quot; &quot;, sizeof(modes));
<a href="#l52" class="line" id="l52">     52</a>      StrCat(modes, sign, sizeof(modes));
<a href="#l53" class="line" id="l53">     53</a>      for (i = 0; i &lt; n; ++i)
<a href="#l54" class="line" id="l54">     54</a>      {
<a href="#l55" class="line" id="l55">     55</a>           StrCat(modes, &quot;o&quot;, sizeof(modes));
<a href="#l56" class="line" id="l56">     56</a>      }
<a href="#l57" class="line" id="l57">     57</a> 
<a href="#l58" class="line" id="l58">     58</a>      if (uniq)
<a href="#l59" class="line" id="l59">     59</a>      {
<a href="#l60" class="line" id="l60">     60</a>           send2server(clone, &quot;MODE %s%s%s\n&quot;, chan, modes, nicks);
<a href="#l61" class="line" id="l61">     61</a>      }
<a href="#l62" class="line" id="l62">     62</a>      else
<a href="#l63" class="line" id="l63">     63</a>      {
<a href="#l64" class="line" id="l64">     64</a>           send_sock(clone-&gt;sock, &quot;MODE %s%s%s\n&quot;, chan, modes, nicks);
<a href="#l65" class="line" id="l65">     65</a>      }
<a href="#l66" class="line" id="l66">     66</a> }
<a href="#l67" class="line" id="l67">     67</a> /* }}} */
<a href="#l68" class="line" id="l68">     68</a> /* {{{ (de)opping and kicking functions */
<a href="#l69" class="line" id="l69">     69</a> /* TODO: Deop +{h,a,q}, if possible. */
<a href="#l70" class="line" id="l70">     70</a> void massdeop(clone_t *clone, int chid)
<a href="#l71" class="line" id="l71">     71</a> {
<a href="#l72" class="line" id="l72">     72</a>      int i;
<a href="#l73" class="line" id="l73">     73</a>      int n = 0;
<a href="#l74" class="line" id="l74">     74</a>      char nicks[BIGBUF];
<a href="#l75" class="line" id="l75">     75</a>      queue *list;
<a href="#l76" class="line" id="l76">     76</a> 
<a href="#l77" class="line" id="l77">     77</a>      memset(nicks, 0, sizeof(nicks));
<a href="#l78" class="line" id="l78">     78</a>      list = &amp;names_op[chid];
<a href="#l79" class="line" id="l79">     79</a> 
<a href="#l80" class="line" id="l80">     80</a>      for (i = 0; *list &amp;&amp; i &lt; conf.multi_deop; ++i)
<a href="#l81" class="line" id="l81">     81</a>      {
<a href="#l82" class="line" id="l82">     82</a>           if (is_enemy((*list)-&gt;data))
<a href="#l83" class="line" id="l83">     83</a>           {
<a href="#l84" class="line" id="l84">     84</a>                StrCat(nicks, &quot; &quot;, sizeof(nicks));
<a href="#l85" class="line" id="l85">     85</a>                StrCat(nicks, (*list)-&gt;data, sizeof(nicks));
<a href="#l86" class="line" id="l86">     86</a>                ++n;
<a href="#l87" class="line" id="l87">     87</a>           }
<a href="#l88" class="line" id="l88">     88</a>           rotate_cell(list);
<a href="#l89" class="line" id="l89">     89</a>      }
<a href="#l90" class="line" id="l90">     90</a> 
<a href="#l91" class="line" id="l91">     91</a>      if (n &gt; 0)
<a href="#l92" class="line" id="l92">     92</a>      {
<a href="#l93" class="line" id="l93">     93</a>           multimode(clone, channel[chid], &quot;-&quot;, n, nicks, 1);
<a href="#l94" class="line" id="l94">     94</a>      }
<a href="#l95" class="line" id="l95">     95</a> }
<a href="#l96" class="line" id="l96">     96</a> 
<a href="#l97" class="line" id="l97">     97</a> void massop(clone_t *clone, int chid)
<a href="#l98" class="line" id="l98">     98</a> {
<a href="#l99" class="line" id="l99">     99</a>      register int i;
<a href="#l100" class="line" id="l100">    100</a>      register int j;
<a href="#l101" class="line" id="l101">    101</a>      clone_t **pcl;
<a href="#l102" class="line" id="l102">    102</a>      char nicks[BIGBUF];
<a href="#l103" class="line" id="l103">    103</a> 
<a href="#l104" class="line" id="l104">    104</a>      memset(nicks, 0, sizeof(nicks));
<a href="#l105" class="line" id="l105">    105</a> 
<a href="#l106" class="line" id="l106">    106</a>      for (i = j = 0, pcl = cl; j &lt; conf.multi_op &amp;&amp; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l107" class="line" id="l107">    107</a>      {
<a href="#l108" class="line" id="l108">    108</a>           if ((*pcl) &amp;&amp; (*pcl) != clone &amp;&amp; (*pcl)-&gt;online &amp;&amp; (*pcl)-&gt;needop[chid])
<a href="#l109" class="line" id="l109">    109</a>           {
<a href="#l110" class="line" id="l110">    110</a>                (*pcl)-&gt;needop[chid] = 0;
<a href="#l111" class="line" id="l111">    111</a>                StrCat(nicks, &quot; &quot;, sizeof(nicks));
<a href="#l112" class="line" id="l112">    112</a>                StrCat(nicks, (*pcl)-&gt;nick, sizeof(nicks));
<a href="#l113" class="line" id="l113">    113</a>                ++j;
<a href="#l114" class="line" id="l114">    114</a>           }
<a href="#l115" class="line" id="l115">    115</a>      }
<a href="#l116" class="line" id="l116">    116</a> 
<a href="#l117" class="line" id="l117">    117</a>      if (j &gt; 0)
<a href="#l118" class="line" id="l118">    118</a>      {
<a href="#l119" class="line" id="l119">    119</a>           multimode(clone, channel[chid], &quot;+&quot;, j, nicks, 0);
<a href="#l120" class="line" id="l120">    120</a>      }
<a href="#l121" class="line" id="l121">    121</a> }
<a href="#l122" class="line" id="l122">    122</a> 
<a href="#l123" class="line" id="l123">    123</a> void force_massop()
<a href="#l124" class="line" id="l124">    124</a> {
<a href="#l125" class="line" id="l125">    125</a>      register int i;
<a href="#l126" class="line" id="l126">    126</a>      char **pt;
<a href="#l127" class="line" id="l127">    127</a>      clone_t **pcl;
<a href="#l128" class="line" id="l128">    128</a>      clone_t *one;
<a href="#l129" class="line" id="l129">    129</a> 
<a href="#l130" class="line" id="l130">    130</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l131" class="line" id="l131">    131</a>      {
<a href="#l132" class="line" id="l132">    132</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; !(*pcl)-&gt;restricted &amp;&amp; !(*pcl)-&gt;op[mass_ch] &amp;&amp; (one = getop(mass_ch)))
<a href="#l133" class="line" id="l133">    133</a>           {
<a href="#l134" class="line" id="l134">    134</a>                op(one, mass_ch, (*pcl)-&gt;nick);
<a href="#l135" class="line" id="l135">    135</a>           }
<a href="#l136" class="line" id="l136">    136</a>      }
<a href="#l137" class="line" id="l137">    137</a> 
<a href="#l138" class="line" id="l138">    138</a>      for (i = 0, pt = broth; i &lt; MAX_BROTHERS; ++i, ++pt)
<a href="#l139" class="line" id="l139">    139</a>      {
<a href="#l140" class="line" id="l140">    140</a>           if ((*pt) &amp;&amp; (one = getop(mass_ch)))
<a href="#l141" class="line" id="l141">    141</a>           {
<a href="#l142" class="line" id="l142">    142</a>                op(one, mass_ch, *pt);
<a href="#l143" class="line" id="l143">    143</a>           }
<a href="#l144" class="line" id="l144">    144</a>      }
<a href="#l145" class="line" id="l145">    145</a> }
<a href="#l146" class="line" id="l146">    146</a> 
<a href="#l147" class="line" id="l147">    147</a> void _masskick(clone_t *clone, int chid, queue **list)
<a href="#l148" class="line" id="l148">    148</a> {
<a href="#l149" class="line" id="l149">    149</a>      int n;
<a href="#l150" class="line" id="l150">    150</a>      char buffer[BIGBUF];
<a href="#l151" class="line" id="l151">    151</a> 
<a href="#l152" class="line" id="l152">    152</a>      memset(buffer, 0, sizeof(buffer));
<a href="#l153" class="line" id="l153">    153</a> 
<a href="#l154" class="line" id="l154">    154</a>      for (n = 0; **list &amp;&amp; n &lt; conf.multi_kick; ++n)
<a href="#l155" class="line" id="l155">    155</a>      {
<a href="#l156" class="line" id="l156">    156</a>           if (n &gt; 0)
<a href="#l157" class="line" id="l157">    157</a>           {
<a href="#l158" class="line" id="l158">    158</a>                StrCat(buffer, &quot;,&quot;, BIGBUF);
<a href="#l159" class="line" id="l159">    159</a>           }
<a href="#l160" class="line" id="l160">    160</a>           StrCat(buffer, (**list)-&gt;data, BIGBUF);
<a href="#l161" class="line" id="l161">    161</a>           free_cell(*list);
<a href="#l162" class="line" id="l162">    162</a>      }
<a href="#l163" class="line" id="l163">    163</a> 
<a href="#l164" class="line" id="l164">    164</a>      kick(clone, chid, buffer, mass_reas ? mass_reas : NULL, 0);
<a href="#l165" class="line" id="l165">    165</a> }
<a href="#l166" class="line" id="l166">    166</a> 
<a href="#l167" class="line" id="l167">    167</a> void _massdeop(clone_t *clone, int chid, queue **list)
<a href="#l168" class="line" id="l168">    168</a> {
<a href="#l169" class="line" id="l169">    169</a>      int i;
<a href="#l170" class="line" id="l170">    170</a>      char nicks[BIGBUF];
<a href="#l171" class="line" id="l171">    171</a> 
<a href="#l172" class="line" id="l172">    172</a>      memset(nicks, 0, sizeof(nicks));
<a href="#l173" class="line" id="l173">    173</a> 
<a href="#l174" class="line" id="l174">    174</a>      for (i = 0; **list &amp;&amp; i &lt; conf.multi_deop; ++i)
<a href="#l175" class="line" id="l175">    175</a>      {
<a href="#l176" class="line" id="l176">    176</a>           StrCat(nicks, &quot; &quot;, sizeof(nicks));
<a href="#l177" class="line" id="l177">    177</a>           StrCat(nicks, (**list)-&gt;data, sizeof(nicks));
<a href="#l178" class="line" id="l178">    178</a>           free_cell(*list);
<a href="#l179" class="line" id="l179">    179</a>      }
<a href="#l180" class="line" id="l180">    180</a> 
<a href="#l181" class="line" id="l181">    181</a>      if (i &gt; 0)
<a href="#l182" class="line" id="l182">    182</a>      {
<a href="#l183" class="line" id="l183">    183</a>           multimode(clone, channel[chid], &quot;-&quot;, i, nicks, 0);
<a href="#l184" class="line" id="l184">    184</a>      }
<a href="#l185" class="line" id="l185">    185</a> }
<a href="#l186" class="line" id="l186">    186</a> /* }}} */
<a href="#l187" class="line" id="l187">    187</a> /* {{{ massdo()ing functions */
<a href="#l188" class="line" id="l188">    188</a> void massdo(queue *list, int chid, int mode)
<a href="#l189" class="line" id="l189">    189</a> {
<a href="#l190" class="line" id="l190">    190</a>      int id;
<a href="#l191" class="line" id="l191">    191</a>      clone_t **pcl;
<a href="#l192" class="line" id="l192">    192</a>      int n;
<a href="#l193" class="line" id="l193">    193</a> 
<a href="#l194" class="line" id="l194">    194</a>      for (n = 0; *list &amp;&amp; n &lt; 10; ++n)
<a href="#l195" class="line" id="l195">    195</a>      {
<a href="#l196" class="line" id="l196">    196</a>           for (id = 0, pcl = cl; *list &amp;&amp; id &lt; MAX_CLONES; ++id, ++pcl)
<a href="#l197" class="line" id="l197">    197</a>           {
<a href="#l198" class="line" id="l198">    198</a>                if (is_op(*pcl, chid))
<a href="#l199" class="line" id="l199">    199</a>                {
<a href="#l200" class="line" id="l200">    200</a>                     switch (mode)
<a href="#l201" class="line" id="l201">    201</a>                     {
<a href="#l202" class="line" id="l202">    202</a>                          case MK:
<a href="#l203" class="line" id="l203">    203</a>                               _masskick(*pcl, chid, &amp;list);
<a href="#l204" class="line" id="l204">    204</a>                               break;
<a href="#l205" class="line" id="l205">    205</a>                          case MD:
<a href="#l206" class="line" id="l206">    206</a>                               _massdeop(*pcl, chid, &amp;list);
<a href="#l207" class="line" id="l207">    207</a>                               break;
<a href="#l208" class="line" id="l208">    208</a>                          case MKB:
<a href="#l209" class="line" id="l209">    209</a>                               kickban(*pcl, (*list)-&gt;data);
<a href="#l210" class="line" id="l210">    210</a>                               free_cell(list);
<a href="#l211" class="line" id="l211">    211</a>                               break;
<a href="#l212" class="line" id="l212">    212</a>                     }
<a href="#l213" class="line" id="l213">    213</a>                     (*pcl)-&gt;lastsend = time(NULL);
<a href="#l214" class="line" id="l214">    214</a>                }
<a href="#l215" class="line" id="l215">    215</a>           } /* bracket might be after the `usleep()&#39; -- Leon */
<a href="#l216" class="line" id="l216">    216</a>           usleep(500000);
<a href="#l217" class="line" id="l217">    217</a>      }
<a href="#l218" class="line" id="l218">    218</a> }
<a href="#l219" class="line" id="l219">    219</a> 
<a href="#l220" class="line" id="l220">    220</a> void takeover(queue *list)
<a href="#l221" class="line" id="l221">    221</a> {
<a href="#l222" class="line" id="l222">    222</a>      register int i;
<a href="#l223" class="line" id="l223">    223</a>      clone_t **pcl;
<a href="#l224" class="line" id="l224">    224</a> 
<a href="#l225" class="line" id="l225">    225</a>      for (i = 0, pcl = cl; *list &amp;&amp; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l226" class="line" id="l226">    226</a>      {
<a href="#l227" class="line" id="l227">    227</a>           if ((*pcl) &amp;&amp; (*pcl)-&gt;online &amp;&amp; (*pcl)-&gt;server == mass_server)
<a href="#l228" class="line" id="l228">    228</a>           {
<a href="#l229" class="line" id="l229">    229</a>                send_irc_nick(*pcl, (*list)-&gt;data);
<a href="#l230" class="line" id="l230">    230</a>                free_cell(list);
<a href="#l231" class="line" id="l231">    231</a>           }
<a href="#l232" class="line" id="l232">    232</a>      }
<a href="#l233" class="line" id="l233">    233</a> }
<a href="#l234" class="line" id="l234">    234</a> 
<a href="#l235" class="line" id="l235">    235</a> void *init_massdo(int chid, int mode)
<a href="#l236" class="line" id="l236">    236</a> {
<a href="#l237" class="line" id="l237">    237</a>      queue list1 = NULL;
<a href="#l238" class="line" id="l238">    238</a>      queue list2 = NULL;
<a href="#l239" class="line" id="l239">    239</a>      queue plist;
<a href="#l240" class="line" id="l240">    240</a> 
<a href="#l241" class="line" id="l241">    241</a>      for (plist = names_op[chid]; plist; plist = plist-&gt;next)
<a href="#l242" class="line" id="l242">    242</a>      {
<a href="#l243" class="line" id="l243">    243</a>           if (mode == TO || is_enemy(plist-&gt;data))
<a href="#l244" class="line" id="l244">    244</a>           {
<a href="#l245" class="line" id="l245">    245</a>                add_queue(plist-&gt;data, &amp;list1);
<a href="#l246" class="line" id="l246">    246</a>           }
<a href="#l247" class="line" id="l247">    247</a>      }
<a href="#l248" class="line" id="l248">    248</a>      for (plist = names[chid]; plist; plist = plist-&gt;next)
<a href="#l249" class="line" id="l249">    249</a>      {
<a href="#l250" class="line" id="l250">    250</a>           if (mode != TO &amp;&amp; mode != MD &amp;&amp; is_enemy(plist-&gt;data))
<a href="#l251" class="line" id="l251">    251</a>           {
<a href="#l252" class="line" id="l252">    252</a>                add_queue(plist-&gt;data, &amp;list2);
<a href="#l253" class="line" id="l253">    253</a>           }
<a href="#l254" class="line" id="l254">    254</a>      }
<a href="#l255" class="line" id="l255">    255</a> 
<a href="#l256" class="line" id="l256">    256</a>      switch (mode)
<a href="#l257" class="line" id="l257">    257</a>      {
<a href="#l258" class="line" id="l258">    258</a>           case MKB:
<a href="#l259" class="line" id="l259">    259</a>           case MK:
<a href="#l260" class="line" id="l260">    260</a>                massdo(&amp;list1, chid, mode);
<a href="#l261" class="line" id="l261">    261</a>                massdo(&amp;list2, chid, mode);
<a href="#l262" class="line" id="l262">    262</a>                break;
<a href="#l263" class="line" id="l263">    263</a>           case MD:
<a href="#l264" class="line" id="l264">    264</a>                massdo(&amp;list1, chid, mode);
<a href="#l265" class="line" id="l265">    265</a>                break;
<a href="#l266" class="line" id="l266">    266</a>           case TO:
<a href="#l267" class="line" id="l267">    267</a>                takeover(&amp;list1);
<a href="#l268" class="line" id="l268">    268</a>                break;
<a href="#l269" class="line" id="l269">    269</a>      }
<a href="#l270" class="line" id="l270">    270</a> 
<a href="#l271" class="line" id="l271">    271</a>      clear_queue(&amp;list1);
<a href="#l272" class="line" id="l272">    272</a>      clear_queue(&amp;list2);
<a href="#l273" class="line" id="l273">    273</a> 
<a href="#l274" class="line" id="l274">    274</a>      return NULL;
<a href="#l275" class="line" id="l275">    275</a> }
<a href="#l276" class="line" id="l276">    276</a> /* }}} */
<a href="#l277" class="line" id="l277">    277</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>