<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>muhstik.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>muhstik.c <span class="desc">(11289B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Header includes */
<a href="#l15" class="line" id="l15">     15</a> #include &lt;pthread.h&gt;
<a href="#l16" class="line" id="l16">     16</a> #include &lt;stdio.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;stdlib.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;unistd.h&gt;
<a href="#l19" class="line" id="l19">     19</a> #include &lt;signal.h&gt;
<a href="#l20" class="line" id="l20">     20</a> #include &lt;string.h&gt;
<a href="#l21" class="line" id="l21">     21</a> #include &lt;errno.h&gt;
<a href="#l22" class="line" id="l22">     22</a> #include &lt;sys/time.h&gt;
<a href="#l23" class="line" id="l23">     23</a> #include &lt;time.h&gt;
<a href="#l24" class="line" id="l24">     24</a> 
<a href="#l25" class="line" id="l25">     25</a> #include &quot;../include/muhstik.h&quot;
<a href="#l26" class="line" id="l26">     26</a> #include &quot;../include/clone.h&quot;
<a href="#l27" class="line" id="l27">     27</a> #include &quot;../include/proxy.h&quot;
<a href="#l28" class="line" id="l28">     28</a> #include &quot;../include/control.h&quot;
<a href="#l29" class="line" id="l29">     29</a> #include &quot;../include/print.h&quot;
<a href="#l30" class="line" id="l30">     30</a> #include &quot;../include/load.h&quot;
<a href="#l31" class="line" id="l31">     31</a> #include &quot;../include/string.h&quot;
<a href="#l32" class="line" id="l32">     32</a> /* }}} */
<a href="#l33" class="line" id="l33">     33</a> /* {{{ Variables */
<a href="#l34" class="line" id="l34">     34</a> /* {{{ External variables */
<a href="#l35" class="line" id="l35">     35</a> extern clone_t *cl[];
<a href="#l36" class="line" id="l36">     36</a> extern const char *strtype[];
<a href="#l37" class="line" id="l37">     37</a> extern char *channel[];
<a href="#l38" class="line" id="l38">     38</a> extern pthread_mutex_t mutex[];
<a href="#l39" class="line" id="l39">     39</a> extern pthread_attr_t attr;
<a href="#l40" class="line" id="l40">     40</a> extern int mass_ch;
<a href="#l41" class="line" id="l41">     41</a> extern int maxsock;
<a href="#l42" class="line" id="l42">     42</a> extern config_t conf;
<a href="#l43" class="line" id="l43">     43</a> extern char *hostname;
<a href="#l44" class="line" id="l44">     44</a> /* }}} */
<a href="#l45" class="line" id="l45">     45</a> /* {{{ Global Variables */
<a href="#l46" class="line" id="l46">     46</a> time_t t0;
<a href="#l47" class="line" id="l47">     47</a> pid_t pid;
<a href="#l48" class="line" id="l48">     48</a> /* }}} */
<a href="#l49" class="line" id="l49">     49</a> /* }}} */
<a href="#l50" class="line" id="l50">     50</a> /* {{{ save_list() */
<a href="#l51" class="line" id="l51">     51</a> void save_list(char *filename, char **list, int max)
<a href="#l52" class="line" id="l52">     52</a> {
<a href="#l53" class="line" id="l53">     53</a>      int i;
<a href="#l54" class="line" id="l54">     54</a>      FILE *f;
<a href="#l55" class="line" id="l55">     55</a> 
<a href="#l56" class="line" id="l56">     56</a>      if ((f = fopen(filename, &quot;w&quot;)))
<a href="#l57" class="line" id="l57">     57</a>      {
<a href="#l58" class="line" id="l58">     58</a>           for (i = 0; i &lt; max; ++i)
<a href="#l59" class="line" id="l59">     59</a>           {
<a href="#l60" class="line" id="l60">     60</a>                if (list[i])
<a href="#l61" class="line" id="l61">     61</a>                {
<a href="#l62" class="line" id="l62">     62</a>                     fprintf(f, &quot;%s\n&quot;, list[i]);
<a href="#l63" class="line" id="l63">     63</a>                }
<a href="#l64" class="line" id="l64">     64</a>           }
<a href="#l65" class="line" id="l65">     65</a>           fclose(f);
<a href="#l66" class="line" id="l66">     66</a>      }
<a href="#l67" class="line" id="l67">     67</a> }
<a href="#l68" class="line" id="l68">     68</a> /* }}} */
<a href="#l69" class="line" id="l69">     69</a> /* {{{ main() functions */
<a href="#l70" class="line" id="l70">     70</a> void main_exit()
<a href="#l71" class="line" id="l71">     71</a> {
<a href="#l72" class="line" id="l72">     72</a>      if (conf.userlist[AOP])
<a href="#l73" class="line" id="l73">     73</a>      {
<a href="#l74" class="line" id="l74">     74</a>           save_list(conf.userlist[AOP], conf.aop, MAX_AOPS);
<a href="#l75" class="line" id="l75">     75</a>      }
<a href="#l76" class="line" id="l76">     76</a>      if (conf.userlist[JUPE])
<a href="#l77" class="line" id="l77">     77</a>      {
<a href="#l78" class="line" id="l78">     78</a>           save_list(conf.userlist[JUPE], conf.jupe, MAX_JUPES);
<a href="#l79" class="line" id="l79">     79</a>      }
<a href="#l80" class="line" id="l80">     80</a>      if (conf.userlist[PROT])
<a href="#l81" class="line" id="l81">     81</a>      {
<a href="#l82" class="line" id="l82">     82</a>           save_list(conf.userlist[PROT], conf.prot, MAX_PROTS);
<a href="#l83" class="line" id="l83">     83</a>      }
<a href="#l84" class="line" id="l84">     84</a>      if (conf.userlist[SHIT])
<a href="#l85" class="line" id="l85">     85</a>      {
<a href="#l86" class="line" id="l86">     86</a>           save_list(conf.userlist[SHIT], conf.shit, MAX_SHITS);
<a href="#l87" class="line" id="l87">     87</a>      }
<a href="#l88" class="line" id="l88">     88</a> 
<a href="#l89" class="line" id="l89">     89</a>      exit(EXIT_SUCCESS);
<a href="#l90" class="line" id="l90">     90</a> }
<a href="#l91" class="line" id="l91">     91</a> 
<a href="#l92" class="line" id="l92">     92</a> void segfault(int sig)
<a href="#l93" class="line" id="l93">     93</a> {
<a href="#l94" class="line" id="l94">     94</a>      puts(&quot;Segmentation fault: blog it.&quot;);
<a href="#l95" class="line" id="l95">     95</a>      exit(EXIT_FAILURE);
<a href="#l96" class="line" id="l96">     96</a> }
<a href="#l97" class="line" id="l97">     97</a> 
<a href="#l98" class="line" id="l98">     98</a> int main(int argc, char **argv)
<a href="#l99" class="line" id="l99">     99</a> {
<a href="#l100" class="line" id="l100">    100</a>      pthread_t tid;
<a href="#l101" class="line" id="l101">    101</a> 
<a href="#l102" class="line" id="l102">    102</a>      printf(&quot;muhstik %s, Copyright (C) 2001-2003, Louis Bavoil\n&quot;, VERSION);
<a href="#l103" class="line" id="l103">    103</a>      printf(&quot;               Copyright (C) 2009-2011, Leon Kaiser\n&quot;);
<a href="#l104" class="line" id="l104">    104</a>      printf(&quot;This is free software. See the LICENSE file for more details.\n&quot;);
<a href="#l105" class="line" id="l105">    105</a> 
<a href="#l106" class="line" id="l106">    106</a>      if (argc &lt; 2)
<a href="#l107" class="line" id="l107">    107</a>      {
<a href="#l108" class="line" id="l108">    108</a>           printf(&quot;Usage: %s &lt;config file&gt;\n&quot;, argv[0]);
<a href="#l109" class="line" id="l109">    109</a>           exit(EXIT_FAILURE);
<a href="#l110" class="line" id="l110">    110</a>      }
<a href="#l111" class="line" id="l111">    111</a> 
<a href="#l112" class="line" id="l112">    112</a>      signal(SIGTTIN, SIG_IGN);
<a href="#l113" class="line" id="l113">    113</a>      signal(SIGTTOU, SIG_IGN);
<a href="#l114" class="line" id="l114">    114</a>      signal(SIGALRM, SIG_IGN);
<a href="#l115" class="line" id="l115">    115</a>      signal(SIGPIPE, SIG_IGN);
<a href="#l116" class="line" id="l116">    116</a>      signal(SIGUSR1, SIG_IGN);
<a href="#l117" class="line" id="l117">    117</a>      signal(SIGSEGV, &amp;segfault);
<a href="#l118" class="line" id="l118">    118</a>      signal(SIGINT, SIG_IGN);
<a href="#l119" class="line" id="l119">    119</a> 
<a href="#l120" class="line" id="l120">    120</a>      t0 = time(NULL);
<a href="#l121" class="line" id="l121">    121</a>      pid = getpid();
<a href="#l122" class="line" id="l122">    122</a>      srandom(pid);
<a href="#l123" class="line" id="l123">    123</a> 
<a href="#l124" class="line" id="l124">    124</a>      init_options(argv);
<a href="#l125" class="line" id="l125">    125</a>      check_options();
<a href="#l126" class="line" id="l126">    126</a>      init_threads();
<a href="#l127" class="line" id="l127">    127</a>      init_hostname();
<a href="#l128" class="line" id="l128">    128</a> 
<a href="#l129" class="line" id="l129">    129</a>      if (conf.motd)
<a href="#l130" class="line" id="l130">    130</a>      {
<a href="#l131" class="line" id="l131">    131</a>           print_motd(1);
<a href="#l132" class="line" id="l132">    132</a>      }
<a href="#l133" class="line" id="l133">    133</a>      if (conf.help)
<a href="#l134" class="line" id="l134">    134</a>      {
<a href="#l135" class="line" id="l135">    135</a>           usage(1);
<a href="#l136" class="line" id="l136">    136</a>      }
<a href="#l137" class="line" id="l137">    137</a> 
<a href="#l138" class="line" id="l138">    138</a>      if (pthread_create(&amp;tid, &amp;attr, load_all, NULL))
<a href="#l139" class="line" id="l139">    139</a>      {
<a href="#l140" class="line" id="l140">    140</a>           puts(&quot;pthread_create() failed&quot;);
<a href="#l141" class="line" id="l141">    141</a>           main_exit();
<a href="#l142" class="line" id="l142">    142</a>      }
<a href="#l143" class="line" id="l143">    143</a> 
<a href="#l144" class="line" id="l144">    144</a>      if (conf.batch)
<a href="#l145" class="line" id="l145">    145</a>      {
<a href="#l146" class="line" id="l146">    146</a>           read_batch();
<a href="#l147" class="line" id="l147">    147</a>      }
<a href="#l148" class="line" id="l148">    148</a> 
<a href="#l149" class="line" id="l149">    149</a>      main_loop();
<a href="#l150" class="line" id="l150">    150</a> 
<a href="#l151" class="line" id="l151">    151</a>      return 0;
<a href="#l152" class="line" id="l152">    152</a> }
<a href="#l153" class="line" id="l153">    153</a> /* }}} */
<a href="#l154" class="line" id="l154">    154</a> /* {{{ read_batch() */
<a href="#l155" class="line" id="l155">    155</a> void read_batch()
<a href="#l156" class="line" id="l156">    156</a> {
<a href="#l157" class="line" id="l157">    157</a>      FILE *f;
<a href="#l158" class="line" id="l158">    158</a>      char buffer[BIGBUF];
<a href="#l159" class="line" id="l159">    159</a> 
<a href="#l160" class="line" id="l160">    160</a>      if (!(f = fopen(conf.batch, &quot;r&quot;)))
<a href="#l161" class="line" id="l161">    161</a>      {
<a href="#l162" class="line" id="l162">    162</a>           print(1, 0, 0, &quot;Cannot open the file `%s.&#39;&quot;, conf.batch);
<a href="#l163" class="line" id="l163">    163</a>           return;
<a href="#l164" class="line" id="l164">    164</a>      }
<a href="#l165" class="line" id="l165">    165</a>      while (1)
<a href="#l166" class="line" id="l166">    166</a>      {
<a href="#l167" class="line" id="l167">    167</a>           if (!fgets(buffer, sizeof(buffer), f))
<a href="#l168" class="line" id="l168">    168</a>           {
<a href="#l169" class="line" id="l169">    169</a>                return;
<a href="#l170" class="line" id="l170">    170</a>           }
<a href="#l171" class="line" id="l171">    171</a>           interpret(buffer, 0);
<a href="#l172" class="line" id="l172">    172</a>      }
<a href="#l173" class="line" id="l173">    173</a>      fclose(f);
<a href="#l174" class="line" id="l174">    174</a> }
<a href="#l175" class="line" id="l175">    175</a> /* }}} */
<a href="#l176" class="line" id="l176">    176</a> /* {{{ sock2clone() */
<a href="#l177" class="line" id="l177">    177</a> clone_t *sock2clone(int sock)
<a href="#l178" class="line" id="l178">    178</a> {
<a href="#l179" class="line" id="l179">    179</a>      register int i;
<a href="#l180" class="line" id="l180">    180</a>      clone_t **pcl;
<a href="#l181" class="line" id="l181">    181</a> 
<a href="#l182" class="line" id="l182">    182</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l183" class="line" id="l183">    183</a>      {
<a href="#l184" class="line" id="l184">    184</a>           if (*pcl &amp;&amp; (*pcl)-&gt;sock == sock)
<a href="#l185" class="line" id="l185">    185</a>           {
<a href="#l186" class="line" id="l186">    186</a>                return *pcl;
<a href="#l187" class="line" id="l187">    187</a>           }
<a href="#l188" class="line" id="l188">    188</a>      }
<a href="#l189" class="line" id="l189">    189</a> 
<a href="#l190" class="line" id="l190">    190</a>      return NULL;
<a href="#l191" class="line" id="l191">    191</a> }
<a href="#l192" class="line" id="l192">    192</a> /* }}} */
<a href="#l193" class="line" id="l193">    193</a> /* {{{ init_gateway() */
<a href="#l194" class="line" id="l194">    194</a> int init_gateway(clone_t *clone)
<a href="#l195" class="line" id="l195">    195</a> {
<a href="#l196" class="line" id="l196">    196</a>      int ret = EXIT;
<a href="#l197" class="line" id="l197">    197</a> 
<a href="#l198" class="line" id="l198">    198</a>      clone-&gt;host = clone-&gt;server;
<a href="#l199" class="line" id="l199">    199</a>      clone-&gt;port = clone-&gt;server_port;
<a href="#l200" class="line" id="l200">    200</a> 
<a href="#l201" class="line" id="l201">    201</a>      switch (clone-&gt;type)
<a href="#l202" class="line" id="l202">    202</a>      {
<a href="#l203" class="line" id="l203">    203</a>           case SOCKS4:
<a href="#l204" class="line" id="l204">    204</a>                ret = init_socks4(clone);
<a href="#l205" class="line" id="l205">    205</a>                break;
<a href="#l206" class="line" id="l206">    206</a>           case SOCKS5:
<a href="#l207" class="line" id="l207">    207</a>                ret = init_socks5(clone);
<a href="#l208" class="line" id="l208">    208</a>                break;
<a href="#l209" class="line" id="l209">    209</a>           case PROXY:
<a href="#l210" class="line" id="l210">    210</a>                ret = init_proxy(clone);
<a href="#l211" class="line" id="l211">    211</a>                break;
<a href="#l212" class="line" id="l212">    212</a>           case CISCO:
<a href="#l213" class="line" id="l213">    213</a>                ret = WAIT_CISCO;
<a href="#l214" class="line" id="l214">    214</a>                break;
<a href="#l215" class="line" id="l215">    215</a>      }
<a href="#l216" class="line" id="l216">    216</a>      return ret;
<a href="#l217" class="line" id="l217">    217</a> }
<a href="#l218" class="line" id="l218">    218</a> /* }}} */
<a href="#l219" class="line" id="l219">    219</a> /* {{{ Read/write functions */
<a href="#l220" class="line" id="l220">    220</a> void write_ready(int sok)
<a href="#l221" class="line" id="l221">    221</a> {
<a href="#l222" class="line" id="l222">    222</a>      clone_t *clone;
<a href="#l223" class="line" id="l223">    223</a>      unsigned int len = sizeof(int);
<a href="#l224" class="line" id="l224">    224</a> 
<a href="#l225" class="line" id="l225">    225</a>      if ((clone = sock2clone(sok)))
<a href="#l226" class="line" id="l226">    226</a>      {
<a href="#l227" class="line" id="l227">    227</a>           if (getsockopt(sok, SOL_SOCKET, SO_ERROR, &amp;errno, &amp;len))
<a href="#l228" class="line" id="l228">    228</a>           {
<a href="#l229" class="line" id="l229">    229</a>                print_error(&quot;getsockopt&quot;);
<a href="#l230" class="line" id="l230">    230</a>                clone-&gt;status = EXIT;
<a href="#l231" class="line" id="l231">    231</a>                return;
<a href="#l232" class="line" id="l232">    232</a>           }
<a href="#l233" class="line" id="l233">    233</a>           if (errno != 0)
<a href="#l234" class="line" id="l234">    234</a>           {
<a href="#l235" class="line" id="l235">    235</a>                print_error(&quot;connect&quot;);
<a href="#l236" class="line" id="l236">    236</a>                clone-&gt;status = EXIT;
<a href="#l237" class="line" id="l237">    237</a>                return;
<a href="#l238" class="line" id="l238">    238</a>           }
<a href="#l239" class="line" id="l239">    239</a>           if (clone-&gt;type != NOSPOOF)
<a href="#l240" class="line" id="l240">    240</a>           {
<a href="#l241" class="line" id="l241">    241</a>                print(1, 0, 0, &quot;%s connect()ed: host=%s server=%s&quot;, strtype[clone-&gt;type], clone-&gt;proxy, clone-&gt;server);
<a href="#l242" class="line" id="l242">    242</a>           }
<a href="#l243" class="line" id="l243">    243</a>           else
<a href="#l244" class="line" id="l244">    244</a>           {
<a href="#l245" class="line" id="l245">    245</a>                print(1, 0, 0, &quot;direct connect()ed: server=%s&quot;, clone-&gt;server);
<a href="#l246" class="line" id="l246">    246</a>           }
<a href="#l247" class="line" id="l247">    247</a> 
<a href="#l248" class="line" id="l248">    248</a>           if (clone-&gt;type == NOSPOOF || clone-&gt;type == VHOST)
<a href="#l249" class="line" id="l249">    249</a>           {
<a href="#l250" class="line" id="l250">    250</a>                clone-&gt;status = init_irc(clone);
<a href="#l251" class="line" id="l251">    251</a>           }
<a href="#l252" class="line" id="l252">    252</a>           else
<a href="#l253" class="line" id="l253">    253</a>           {
<a href="#l254" class="line" id="l254">    254</a>                clone-&gt;status = init_gateway(clone);
<a href="#l255" class="line" id="l255">    255</a>           }
<a href="#l256" class="line" id="l256">    256</a> 
<a href="#l257" class="line" id="l257">    257</a>           return;
<a href="#l258" class="line" id="l258">    258</a>      }
<a href="#l259" class="line" id="l259">    259</a> }
<a href="#l260" class="line" id="l260">    260</a> 
<a href="#l261" class="line" id="l261">    261</a> int read_irc(clone_t *clone)
<a href="#l262" class="line" id="l262">    262</a> {
<a href="#l263" class="line" id="l263">    263</a>      char *buf;
<a href="#l264" class="line" id="l264">    264</a>      char *line;
<a href="#l265" class="line" id="l265">    265</a>      int i;
<a href="#l266" class="line" id="l266">    266</a>      int n;
<a href="#l267" class="line" id="l267">    267</a> 
<a href="#l268" class="line" id="l268">    268</a>      i = strlen(clone-&gt;buffer);
<a href="#l269" class="line" id="l269">    269</a>      n = sizeof(clone-&gt;buffer) - 1 - i;
<a href="#l270" class="line" id="l270">    270</a> 
<a href="#l271" class="line" id="l271">    271</a>      if (recv(clone-&gt;sock, clone-&gt;buffer + i, n, 0) &lt;= 0)
<a href="#l272" class="line" id="l272">    272</a>      {
<a href="#l273" class="line" id="l273">    273</a>           buf = clone-&gt;lastbuffer;
<a href="#l274" class="line" id="l274">    274</a>           if (buf[strlen(buf)-1] != &#39;\n&#39;)
<a href="#l275" class="line" id="l275">    275</a>           {
<a href="#l276" class="line" id="l276">    276</a>                StrCat(buf, &quot;\n&quot;, sizeof(clone-&gt;lastbuffer));
<a href="#l277" class="line" id="l277">    277</a>           }
<a href="#l278" class="line" id="l278">    278</a>           if (parse_deco(clone, buf))
<a href="#l279" class="line" id="l279">    279</a>           {
<a href="#l280" class="line" id="l280">    280</a>                return EXIT;
<a href="#l281" class="line" id="l281">    281</a>           }
<a href="#l282" class="line" id="l282">    282</a>           return WAIT_CONNECT;
<a href="#l283" class="line" id="l283">    283</a>      }
<a href="#l284" class="line" id="l284">    284</a>      else
<a href="#l285" class="line" id="l285">    285</a>      {
<a href="#l286" class="line" id="l286">    286</a>           buf = clone-&gt;buffer;
<a href="#l287" class="line" id="l287">    287</a>           while (strchr(buf,&#39;\n&#39;))
<a href="#l288" class="line" id="l288">    288</a>           {
<a href="#l289" class="line" id="l289">    289</a>                line = strsep(&amp;buf, &quot;\r\n&quot;);
<a href="#l290" class="line" id="l290">    290</a>                if (buf == NULL)
<a href="#l291" class="line" id="l291">    291</a>                {
<a href="#l292" class="line" id="l292">    292</a>                     buf = &quot;&quot;;
<a href="#l293" class="line" id="l293">    293</a>                }
<a href="#l294" class="line" id="l294">    294</a>                snprintf(clone-&gt;lastbuffer, sizeof(clone-&gt;lastbuffer), &quot;%s\n&quot;, line);
<a href="#l295" class="line" id="l295">    295</a>                parse_irc(clone, clone-&gt;lastbuffer);
<a href="#l296" class="line" id="l296">    296</a>           }
<a href="#l297" class="line" id="l297">    297</a>           StrCopy(clone-&gt;lastbuffer, clone-&gt;buffer, sizeof(clone-&gt;lastbuffer));
<a href="#l298" class="line" id="l298">    298</a>           StrCopy(clone-&gt;buffer, buf, sizeof(clone-&gt;buffer));
<a href="#l299" class="line" id="l299">    299</a>      }
<a href="#l300" class="line" id="l300">    300</a>      if (conf.no_restricted &amp;&amp; clone-&gt;restricted)
<a href="#l301" class="line" id="l301">    301</a>      {
<a href="#l302" class="line" id="l302">    302</a>           return EXIT;
<a href="#l303" class="line" id="l303">    303</a>      }
<a href="#l304" class="line" id="l304">    304</a>      return WAIT_IRC;
<a href="#l305" class="line" id="l305">    305</a> }
<a href="#l306" class="line" id="l306">    306</a> 
<a href="#l307" class="line" id="l307">    307</a> void read_stdin()
<a href="#l308" class="line" id="l308">    308</a> {
<a href="#l309" class="line" id="l309">    309</a>      char buffer[BIGBUF];
<a href="#l310" class="line" id="l310">    310</a> 
<a href="#l311" class="line" id="l311">    311</a>      memset(buffer, 0, sizeof(buffer));
<a href="#l312" class="line" id="l312">    312</a>      if (!fgets(buffer, sizeof(buffer), stdin))
<a href="#l313" class="line" id="l313">    313</a>      {
<a href="#l314" class="line" id="l314">    314</a>           return;
<a href="#l315" class="line" id="l315">    315</a>      }
<a href="#l316" class="line" id="l316">    316</a> 
<a href="#l317" class="line" id="l317">    317</a>      interpret(buffer, 1);
<a href="#l318" class="line" id="l318">    318</a> }
<a href="#l319" class="line" id="l319">    319</a> 
<a href="#l320" class="line" id="l320">    320</a> void read_ready(int sok)
<a href="#l321" class="line" id="l321">    321</a> {
<a href="#l322" class="line" id="l322">    322</a>      clone_t *clone;
<a href="#l323" class="line" id="l323">    323</a>      int ret = EXIT;
<a href="#l324" class="line" id="l324">    324</a> 
<a href="#l325" class="line" id="l325">    325</a>      if (sok == 0)
<a href="#l326" class="line" id="l326">    326</a>      {
<a href="#l327" class="line" id="l327">    327</a>           read_stdin();
<a href="#l328" class="line" id="l328">    328</a>           return;
<a href="#l329" class="line" id="l329">    329</a>      }
<a href="#l330" class="line" id="l330">    330</a> 
<a href="#l331" class="line" id="l331">    331</a>      if ((clone = sock2clone(sok)))
<a href="#l332" class="line" id="l332">    332</a>      {
<a href="#l333" class="line" id="l333">    333</a>           switch (clone-&gt;status)
<a href="#l334" class="line" id="l334">    334</a>           {
<a href="#l335" class="line" id="l335">    335</a>                case WAIT_SOCKS4:
<a href="#l336" class="line" id="l336">    336</a>                     ret = read_socks4(clone);
<a href="#l337" class="line" id="l337">    337</a>                     break;
<a href="#l338" class="line" id="l338">    338</a>                case WAIT_SOCKS5_1:
<a href="#l339" class="line" id="l339">    339</a>                     ret = init_read_socks5(clone);
<a href="#l340" class="line" id="l340">    340</a>                     break;
<a href="#l341" class="line" id="l341">    341</a>                case WAIT_SOCKS5_2:
<a href="#l342" class="line" id="l342">    342</a>                     ret = read_socks5(clone);
<a href="#l343" class="line" id="l343">    343</a>                     break;
<a href="#l344" class="line" id="l344">    344</a>                case WAIT_PROXY:
<a href="#l345" class="line" id="l345">    345</a>                     ret = read_proxy(clone);
<a href="#l346" class="line" id="l346">    346</a>                     break;
<a href="#l347" class="line" id="l347">    347</a>                case WAIT_CISCO:
<a href="#l348" class="line" id="l348">    348</a>                     ret = read_cisco(clone);
<a href="#l349" class="line" id="l349">    349</a>                     break;
<a href="#l350" class="line" id="l350">    350</a>                case WAIT_IRC:
<a href="#l351" class="line" id="l351">    351</a>                     ret = read_irc(clone);
<a href="#l352" class="line" id="l352">    352</a>                     break;
<a href="#l353" class="line" id="l353">    353</a>           }
<a href="#l354" class="line" id="l354">    354</a> 
<a href="#l355" class="line" id="l355">    355</a>           if (ret == WAIT_IDENT)
<a href="#l356" class="line" id="l356">    356</a>           {
<a href="#l357" class="line" id="l357">    357</a>                ret = init_irc(clone);
<a href="#l358" class="line" id="l358">    358</a>           }
<a href="#l359" class="line" id="l359">    359</a> 
<a href="#l360" class="line" id="l360">    360</a>           clone-&gt;status = ret;
<a href="#l361" class="line" id="l361">    361</a>           return;
<a href="#l362" class="line" id="l362">    362</a>      }
<a href="#l363" class="line" id="l363">    363</a> }
<a href="#l364" class="line" id="l364">    364</a> /* }}} */
<a href="#l365" class="line" id="l365">    365</a> /* {{{ fill_fds() */
<a href="#l366" class="line" id="l366">    366</a> void fill_fds(fd_set *rfds, fd_set *wfds)
<a href="#l367" class="line" id="l367">    367</a> {
<a href="#l368" class="line" id="l368">    368</a>      clone_t **pcl;
<a href="#l369" class="line" id="l369">    369</a>      register int i;
<a href="#l370" class="line" id="l370">    370</a>      time_t now;
<a href="#l371" class="line" id="l371">    371</a> 
<a href="#l372" class="line" id="l372">    372</a>      now = time(NULL);
<a href="#l373" class="line" id="l373">    373</a>      FD_SET(0, rfds);
<a href="#l374" class="line" id="l374">    374</a> 
<a href="#l375" class="line" id="l375">    375</a>      for (i = 0, pcl = cl; i &lt; MAX_CLONES; ++i, ++pcl)
<a href="#l376" class="line" id="l376">    376</a>      {
<a href="#l377" class="line" id="l377">    377</a>           if (*pcl)
<a href="#l378" class="line" id="l378">    378</a>           {
<a href="#l379" class="line" id="l379">    379</a>                if ((*pcl)-&gt;rejoin_time &gt; 0)
<a href="#l380" class="line" id="l380">    380</a>                {
<a href="#l381" class="line" id="l381">    381</a>                     if (!channel[mass_ch])
<a href="#l382" class="line" id="l382">    382</a>                     {
<a href="#l383" class="line" id="l383">    383</a>                          (*pcl)-&gt;rejoin_time = 0;
<a href="#l384" class="line" id="l384">    384</a>                     }
<a href="#l385" class="line" id="l385">    385</a>                     else if ((*pcl)-&gt;rejoin_time &lt;= now)
<a href="#l386" class="line" id="l386">    386</a>                     {
<a href="#l387" class="line" id="l387">    387</a>                          join(*pcl, channel[mass_ch]);
<a href="#l388" class="line" id="l388">    388</a>                          (*pcl)-&gt;rejoin_time = 0;
<a href="#l389" class="line" id="l389">    389</a>                     }
<a href="#l390" class="line" id="l390">    390</a>                }
<a href="#l391" class="line" id="l391">    391</a>                if ((*pcl)-&gt;alarm &gt; 0)
<a href="#l392" class="line" id="l392">    392</a>                {
<a href="#l393" class="line" id="l393">    393</a>                     if ((*pcl)-&gt;alarm &gt; now)
<a href="#l394" class="line" id="l394">    394</a>                     {
<a href="#l395" class="line" id="l395">    395</a>                          continue;
<a href="#l396" class="line" id="l396">    396</a>                     }
<a href="#l397" class="line" id="l397">    397</a>                     (*pcl)-&gt;alarm = 0;
<a href="#l398" class="line" id="l398">    398</a>                }
<a href="#l399" class="line" id="l399">    399</a>                switch ((*pcl)-&gt;status)
<a href="#l400" class="line" id="l400">    400</a>                {
<a href="#l401" class="line" id="l401">    401</a>                     case EXIT:
<a href="#l402" class="line" id="l402">    402</a>                          /* Connection closed */
<a href="#l403" class="line" id="l403">    403</a>                          free_clone(*pcl);
<a href="#l404" class="line" id="l404">    404</a>                          break;
<a href="#l405" class="line" id="l405">    405</a>                     case WAIT_CONNECT:
<a href="#l406" class="line" id="l406">    406</a>                          if (now-(*pcl)-&gt;start &gt; conf.timeout)
<a href="#l407" class="line" id="l407">    407</a>                          {
<a href="#l408" class="line" id="l408">    408</a>                               /* Connection timeout */
<a href="#l409" class="line" id="l409">    409</a>                               free_clone(*pcl);
<a href="#l410" class="line" id="l410">    410</a>                               break;
<a href="#l411" class="line" id="l411">    411</a>                          }
<a href="#l412" class="line" id="l412">    412</a>                          FD_SET((*pcl)-&gt;sock, wfds);
<a href="#l413" class="line" id="l413">    413</a>                          break;
<a href="#l414" class="line" id="l414">    414</a>                     default:
<a href="#l415" class="line" id="l415">    415</a>                          FD_SET((*pcl)-&gt;sock, rfds);
<a href="#l416" class="line" id="l416">    416</a>                          break;
<a href="#l417" class="line" id="l417">    417</a>                }
<a href="#l418" class="line" id="l418">    418</a>           }
<a href="#l419" class="line" id="l419">    419</a>      }
<a href="#l420" class="line" id="l420">    420</a> }
<a href="#l421" class="line" id="l421">    421</a> /* }}} */
<a href="#l422" class="line" id="l422">    422</a> /* {{{ main_loop() */
<a href="#l423" class="line" id="l423">    423</a> void main_loop()
<a href="#l424" class="line" id="l424">    424</a> {
<a href="#l425" class="line" id="l425">    425</a>      fd_set rfds;
<a href="#l426" class="line" id="l426">    426</a>      fd_set wfds;
<a href="#l427" class="line" id="l427">    427</a>      register int sok;
<a href="#l428" class="line" id="l428">    428</a>      struct timeval tv;
<a href="#l429" class="line" id="l429">    429</a> 
<a href="#l430" class="line" id="l430">    430</a>      while (1)
<a href="#l431" class="line" id="l431">    431</a>      {
<a href="#l432" class="line" id="l432">    432</a>           FD_ZERO(&amp;rfds);
<a href="#l433" class="line" id="l433">    433</a>           FD_ZERO(&amp;wfds);
<a href="#l434" class="line" id="l434">    434</a> 
<a href="#l435" class="line" id="l435">    435</a>           pthread_mutex_lock(&amp;mutex[0]);
<a href="#l436" class="line" id="l436">    436</a>           fill_fds(&amp;rfds, &amp;wfds);
<a href="#l437" class="line" id="l437">    437</a>           pthread_mutex_unlock(&amp;mutex[0]);
<a href="#l438" class="line" id="l438">    438</a> 
<a href="#l439" class="line" id="l439">    439</a>           tv.tv_sec = 1;
<a href="#l440" class="line" id="l440">    440</a>           tv.tv_usec = 0;
<a href="#l441" class="line" id="l441">    441</a> 
<a href="#l442" class="line" id="l442">    442</a>           if (select(maxsock + 1, &amp;rfds, &amp;wfds, NULL, &amp;tv) == -1)
<a href="#l443" class="line" id="l443">    443</a>           {
<a href="#l444" class="line" id="l444">    444</a>                print_error(&quot;select&quot;);
<a href="#l445" class="line" id="l445">    445</a>                main_exit();
<a href="#l446" class="line" id="l446">    446</a>           }
<a href="#l447" class="line" id="l447">    447</a> 
<a href="#l448" class="line" id="l448">    448</a>           for (sok = 0; sok &lt;= maxsock; ++sok)
<a href="#l449" class="line" id="l449">    449</a>           {
<a href="#l450" class="line" id="l450">    450</a>                if (FD_ISSET(sok, &amp;wfds))
<a href="#l451" class="line" id="l451">    451</a>                {
<a href="#l452" class="line" id="l452">    452</a>                     pthread_mutex_lock(&amp;mutex[0]);
<a href="#l453" class="line" id="l453">    453</a>                     write_ready(sok);
<a href="#l454" class="line" id="l454">    454</a>                     pthread_mutex_unlock(&amp;mutex[0]);
<a href="#l455" class="line" id="l455">    455</a>                }
<a href="#l456" class="line" id="l456">    456</a>           }
<a href="#l457" class="line" id="l457">    457</a> 
<a href="#l458" class="line" id="l458">    458</a>           for (sok = maxsock; sok &gt;= 0; --sok)
<a href="#l459" class="line" id="l459">    459</a>           {
<a href="#l460" class="line" id="l460">    460</a>                if (FD_ISSET(sok, &amp;rfds))
<a href="#l461" class="line" id="l461">    461</a>                {
<a href="#l462" class="line" id="l462">    462</a>                     pthread_mutex_lock(&amp;mutex[0]);
<a href="#l463" class="line" id="l463">    463</a>                     read_ready(sok);
<a href="#l464" class="line" id="l464">    464</a>                     pthread_mutex_unlock(&amp;mutex[0]);
<a href="#l465" class="line" id="l465">    465</a>                }
<a href="#l466" class="line" id="l466">    466</a>           }
<a href="#l467" class="line" id="l467">    467</a>      }
<a href="#l468" class="line" id="l468">    468</a> }
<a href="#l469" class="line" id="l469">    469</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>