<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>net.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>net.c <span class="desc">(5443B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Header includes */
<a href="#l15" class="line" id="l15">     15</a> #include &lt;fcntl.h&gt;
<a href="#l16" class="line" id="l16">     16</a> #include &lt;stdio.h&gt;
<a href="#l17" class="line" id="l17">     17</a> #include &lt;stdlib.h&gt;
<a href="#l18" class="line" id="l18">     18</a> #include &lt;unistd.h&gt;
<a href="#l19" class="line" id="l19">     19</a> #include &lt;stdarg.h&gt;
<a href="#l20" class="line" id="l20">     20</a> 
<a href="#l21" class="line" id="l21">     21</a> #include &quot;../include/net.h&quot;
<a href="#l22" class="line" id="l22">     22</a> #include &quot;../include/proxy.h&quot;
<a href="#l23" class="line" id="l23">     23</a> #include &quot;../include/string.h&quot;
<a href="#l24" class="line" id="l24">     24</a> #include &quot;../include/print.h&quot;
<a href="#l25" class="line" id="l25">     25</a> /* }}} */
<a href="#l26" class="line" id="l26">     26</a> /* {{{ Variables */
<a href="#l27" class="line" id="l27">     27</a> /* {{{ Global Variables */
<a href="#l28" class="line" id="l28">     28</a> int maxsock;
<a href="#l29" class="line" id="l29">     29</a> /* }}} */
<a href="#l30" class="line" id="l30">     30</a> /* }}} */
<a href="#l31" class="line" id="l31">     31</a> /* {{{ Hard-wired, compile-time constants */
<a href="#l32" class="line" id="l32">     32</a> #ifndef INADDR_NONE
<a href="#l33" class="line" id="l33">     33</a> #define INADDR_NONE -1
<a href="#l34" class="line" id="l34">     34</a> #endif
<a href="#l35" class="line" id="l35">     35</a> 
<a href="#l36" class="line" id="l36">     36</a> #define MAX_HOSTNAME 256
<a href="#l37" class="line" id="l37">     37</a> /* }}} */
<a href="#l38" class="line" id="l38">     38</a> /* {{{ lookup_*() */
<a href="#l39" class="line" id="l39">     39</a> /* ``he-&gt;h_addrtype == AF_INET6`` */
<a href="#l40" class="line" id="l40">     40</a> int lookup_host(char *host, struct in_addr *addr)
<a href="#l41" class="line" id="l41">     41</a> {
<a href="#l42" class="line" id="l42">     42</a>      struct hostent *he;
<a href="#l43" class="line" id="l43">     43</a> 
<a href="#l44" class="line" id="l44">     44</a>      if ((he = gethostbyname(host)) == NULL)
<a href="#l45" class="line" id="l45">     45</a>      {
<a href="#l46" class="line" id="l46">     46</a>           return 1; /* In ``telnet.c&#39;&#39; it was ``return 0;&#39;&#39;... -- Leon */
<a href="#l47" class="line" id="l47">     47</a>      }
<a href="#l48" class="line" id="l48">     48</a> 
<a href="#l49" class="line" id="l49">     49</a>      memcpy(addr, he-&gt;h_addr, he-&gt;h_length);
<a href="#l50" class="line" id="l50">     50</a>      return 0; /* In ``telnet.c&#39;&#39; it was ``return 1;&#39;&#39;... -- Leon */
<a href="#l51" class="line" id="l51">     51</a> }
<a href="#l52" class="line" id="l52">     52</a> 
<a href="#l53" class="line" id="l53">     53</a> int lookup_ip(char *host, struct in_addr *addr)
<a href="#l54" class="line" id="l54">     54</a> { /* XXX: Does this support IPv6 IPs? -- Leon */
<a href="#l55" class="line" id="l55">     55</a>      /* Use inet_addr for portability to Solaris */
<a href="#l56" class="line" id="l56">     56</a>      /* Fuck Solaris -- Leon */
<a href="#l57" class="line" id="l57">     57</a>      return (((*addr).s_addr = inet_addr(host)) == INADDR_NONE);
<a href="#l58" class="line" id="l58">     58</a> }
<a href="#l59" class="line" id="l59">     59</a> /* }}} */
<a href="#l60" class="line" id="l60">     60</a> /* {{{ DNS-related functions */
<a href="#l61" class="line" id="l61">     61</a> int resolve(char *host, struct in_addr *addr)
<a href="#l62" class="line" id="l62">     62</a> {
<a href="#l63" class="line" id="l63">     63</a>      return (lookup_host(host,addr) &amp;&amp; lookup_ip(host,addr));
<a href="#l64" class="line" id="l64">     64</a> }
<a href="#l65" class="line" id="l65">     65</a> 
<a href="#l66" class="line" id="l66">     66</a> void host2ip(char *s, char *host, int size)
<a href="#l67" class="line" id="l67">     67</a> { /* TODO: Support IPv6 IPs, I guess. -- Leon */
<a href="#l68" class="line" id="l68">     68</a>      struct in_addr addr;
<a href="#l69" class="line" id="l69">     69</a>      u_char *p;
<a href="#l70" class="line" id="l70">     70</a> 
<a href="#l71" class="line" id="l71">     71</a>      if (resolve(host, &amp;addr))
<a href="#l72" class="line" id="l72">     72</a>      {
<a href="#l73" class="line" id="l73">     73</a>           StrCopy(s, host, size);
<a href="#l74" class="line" id="l74">     74</a>           return;
<a href="#l75" class="line" id="l75">     75</a>      }
<a href="#l76" class="line" id="l76">     76</a>      p = (u_char *) &amp;addr.s_addr;
<a href="#l77" class="line" id="l77">     77</a>      snprintf(s, size, &quot;%d.%d.%d.%d&quot;, p[0], p[1], p[2], p[3]);
<a href="#l78" class="line" id="l78">     78</a> }
<a href="#l79" class="line" id="l79">     79</a> /* }}} */
<a href="#l80" class="line" id="l80">     80</a> /* {{{ net_*() */
<a href="#l81" class="line" id="l81">     81</a> /* {{{ net_set-type shit */
<a href="#l82" class="line" id="l82">     82</a> void net_set_socket_options(int sock)
<a href="#l83" class="line" id="l83">     83</a> {
<a href="#l84" class="line" id="l84">     84</a>      int sw;
<a href="#l85" class="line" id="l85">     85</a>      sw = 1;
<a href="#l86" class="line" id="l86">     86</a>      setsockopt(sock, SOL_SOCKET, SO_REUSEADDR, (void *) &amp;sw, sizeof(sw));
<a href="#l87" class="line" id="l87">     87</a>      sw = 1;
<a href="#l88" class="line" id="l88">     88</a>      setsockopt(sock, SOL_SOCKET, SO_KEEPALIVE, (void *) &amp;sw, sizeof(sw));
<a href="#l89" class="line" id="l89">     89</a>      sw = 0;
<a href="#l90" class="line" id="l90">     90</a>      setsockopt(sock, SOL_SOCKET, SO_LINGER, (void *) &amp;sw, sizeof(sw));
<a href="#l91" class="line" id="l91">     91</a> }
<a href="#l92" class="line" id="l92">     92</a> 
<a href="#l93" class="line" id="l93">     93</a> void set_nonblocking(int sock)
<a href="#l94" class="line" id="l94">     94</a> {
<a href="#l95" class="line" id="l95">     95</a>      int opts;
<a href="#l96" class="line" id="l96">     96</a> 
<a href="#l97" class="line" id="l97">     97</a>      opts = fcntl(sock, F_GETFL);
<a href="#l98" class="line" id="l98">     98</a>      if (opts &lt; 0)
<a href="#l99" class="line" id="l99">     99</a>      {
<a href="#l100" class="line" id="l100">    100</a>           print_error(&quot;fcntl(F_GETFL)&quot;);
<a href="#l101" class="line" id="l101">    101</a>           exit(EXIT_FAILURE);
<a href="#l102" class="line" id="l102">    102</a>      }
<a href="#l103" class="line" id="l103">    103</a> 
<a href="#l104" class="line" id="l104">    104</a>      opts = (opts | O_NONBLOCK);
<a href="#l105" class="line" id="l105">    105</a>      if (fcntl(sock, F_SETFL, opts) &lt; 0)
<a href="#l106" class="line" id="l106">    106</a>      {
<a href="#l107" class="line" id="l107">    107</a>           print_error(&quot;fcntl(F_SETFL)&quot;);
<a href="#l108" class="line" id="l108">    108</a>           exit(EXIT_FAILURE);
<a href="#l109" class="line" id="l109">    109</a>      }
<a href="#l110" class="line" id="l110">    110</a> }
<a href="#l111" class="line" id="l111">    111</a> /* }}} */
<a href="#l112" class="line" id="l112">    112</a> /* {{{ net_store*() */
<a href="#l113" class="line" id="l113">    113</a> netstore *net_store_new()
<a href="#l114" class="line" id="l114">    114</a> {
<a href="#l115" class="line" id="l115">    115</a>      netstore *ns;
<a href="#l116" class="line" id="l116">    116</a>      ns = xmalloc(sizeof(netstore));
<a href="#l117" class="line" id="l117">    117</a>      memset(ns, 0, sizeof(netstore));
<a href="#l118" class="line" id="l118">    118</a>      return ns;
<a href="#l119" class="line" id="l119">    119</a> }
<a href="#l120" class="line" id="l120">    120</a> 
<a href="#l121" class="line" id="l121">    121</a> void net_store_destroy(netstore *ns)
<a href="#l122" class="line" id="l122">    122</a> {
<a href="#l123" class="line" id="l123">    123</a>      if (ns-&gt;ip6_hostent)
<a href="#l124" class="line" id="l124">    124</a>      {
<a href="#l125" class="line" id="l125">    125</a>           freeaddrinfo(ns-&gt;ip6_hostent);
<a href="#l126" class="line" id="l126">    126</a>      }
<a href="#l127" class="line" id="l127">    127</a>      free(ns);
<a href="#l128" class="line" id="l128">    128</a> }
<a href="#l129" class="line" id="l129">    129</a> /* }}} */
<a href="#l130" class="line" id="l130">    130</a> /* {{{ net_socket() */
<a href="#l131" class="line" id="l131">    131</a> int net_socket(int *sock, int type)
<a href="#l132" class="line" id="l132">    132</a> {
<a href="#l133" class="line" id="l133">    133</a>      if ((*sock = socket(type, SOCK_STREAM, IPPROTO_TCP)) == -1)
<a href="#l134" class="line" id="l134">    134</a>      {
<a href="#l135" class="line" id="l135">    135</a>           return 1;
<a href="#l136" class="line" id="l136">    136</a>      }
<a href="#l137" class="line" id="l137">    137</a>      maxsock = max(*sock, maxsock);
<a href="#l138" class="line" id="l138">    138</a>      net_set_socket_options(*sock);
<a href="#l139" class="line" id="l139">    139</a>      set_nonblocking(*sock);
<a href="#l140" class="line" id="l140">    140</a>      return 0;
<a href="#l141" class="line" id="l141">    141</a> }
<a href="#l142" class="line" id="l142">    142</a> /* }}} */
<a href="#l143" class="line" id="l143">    143</a> /* {{{ Resloving, connecting, binding functions */
<a href="#l144" class="line" id="l144">    144</a> int net_resolve(netstore *ns, char *hostname, unsigned short port)
<a href="#l145" class="line" id="l145">    145</a> {
<a href="#l146" class="line" id="l146">    146</a>      struct addrinfo hints;
<a href="#l147" class="line" id="l147">    147</a>      char portstring[MAX_HOSTNAME];
<a href="#l148" class="line" id="l148">    148</a> 
<a href="#l149" class="line" id="l149">    149</a>      snprintf(portstring, MAX_HOSTNAME, &quot;%d&quot;, port);
<a href="#l150" class="line" id="l150">    150</a>      memset(&amp;hints, 0, sizeof (struct addrinfo));
<a href="#l151" class="line" id="l151">    151</a>      hints.ai_family = PF_UNSPEC; /* support IPv6 and IPv4 */
<a href="#l152" class="line" id="l152">    152</a>      hints.ai_flags = AI_CANONNAME;
<a href="#l153" class="line" id="l153">    153</a>      hints.ai_socktype = SOCK_STREAM;
<a href="#l154" class="line" id="l154">    154</a> 
<a href="#l155" class="line" id="l155">    155</a>      return getaddrinfo(hostname, port ? portstring : NULL, &amp;hints, &amp;ns-&gt;ip6_hostent);
<a href="#l156" class="line" id="l156">    156</a> }
<a href="#l157" class="line" id="l157">    157</a> 
<a href="#l158" class="line" id="l158">    158</a> int net_connect(netstore *ns, int *sock, char *vhost)
<a href="#l159" class="line" id="l159">    159</a> {
<a href="#l160" class="line" id="l160">    160</a>      struct addrinfo *res;
<a href="#l161" class="line" id="l161">    161</a>      struct addrinfo *res0;
<a href="#l162" class="line" id="l162">    162</a> 
<a href="#l163" class="line" id="l163">    163</a>      res0 = ns-&gt;ip6_hostent;
<a href="#l164" class="line" id="l164">    164</a>      for (res = res0; res; res = res-&gt;ai_next)
<a href="#l165" class="line" id="l165">    165</a>      {
<a href="#l166" class="line" id="l166">    166</a>           switch (res-&gt;ai_family)
<a href="#l167" class="line" id="l167">    167</a>           {
<a href="#l168" class="line" id="l168">    168</a>                case AF_INET:
<a href="#l169" class="line" id="l169">    169</a>                case AF_INET6:
<a href="#l170" class="line" id="l170">    170</a>                     if (net_socket(sock, res-&gt;ai_family))
<a href="#l171" class="line" id="l171">    171</a>                     {
<a href="#l172" class="line" id="l172">    172</a>                          return -1;
<a href="#l173" class="line" id="l173">    173</a>                     }
<a href="#l174" class="line" id="l174">    174</a> 
<a href="#l175" class="line" id="l175">    175</a>                     if (vhost &amp;&amp; init_vhost(*sock, vhost))
<a href="#l176" class="line" id="l176">    176</a>                     {
<a href="#l177" class="line" id="l177">    177</a>                          return -1;
<a href="#l178" class="line" id="l178">    178</a>                     }
<a href="#l179" class="line" id="l179">    179</a> 
<a href="#l180" class="line" id="l180">    180</a>                     return connect(*sock, res-&gt;ai_addr, res-&gt;ai_addrlen);
<a href="#l181" class="line" id="l181">    181</a>           }
<a href="#l182" class="line" id="l182">    182</a>      }
<a href="#l183" class="line" id="l183">    183</a>      return -1;
<a href="#l184" class="line" id="l184">    184</a> }
<a href="#l185" class="line" id="l185">    185</a> 
<a href="#l186" class="line" id="l186">    186</a> int net_bind(netstore *ns, int sock)
<a href="#l187" class="line" id="l187">    187</a> {
<a href="#l188" class="line" id="l188">    188</a>      return bind(sock, ns-&gt;ip6_hostent-&gt;ai_addr, ns-&gt;ip6_hostent-&gt;ai_addrlen);
<a href="#l189" class="line" id="l189">    189</a> }
<a href="#l190" class="line" id="l190">    190</a> /* }}} */
<a href="#l191" class="line" id="l191">    191</a> /* }}} */
<a href="#l192" class="line" id="l192">    192</a> /* {{{ send_sock() */
<a href="#l193" class="line" id="l193">    193</a> void send_sock(int sock, const char *fmt, ...)
<a href="#l194" class="line" id="l194">    194</a> {
<a href="#l195" class="line" id="l195">    195</a>      char buffer[BIGBUF];
<a href="#l196" class="line" id="l196">    196</a>      int n;
<a href="#l197" class="line" id="l197">    197</a>      va_list ap;
<a href="#l198" class="line" id="l198">    198</a> 
<a href="#l199" class="line" id="l199">    199</a>      va_start(ap, fmt);
<a href="#l200" class="line" id="l200">    200</a>      n = vsnprintf(buffer, sizeof(buffer), fmt, ap);
<a href="#l201" class="line" id="l201">    201</a>      va_end(ap);
<a href="#l202" class="line" id="l202">    202</a> 
<a href="#l203" class="line" id="l203">    203</a>      send(sock, buffer, strlen(buffer), 0);
<a href="#l204" class="line" id="l204">    204</a> }
<a href="#l205" class="line" id="l205">    205</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>