<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>proxy.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>proxy.c <span class="desc">(13622B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Relevant Information:
<a href="#l15" class="line" id="l15">     15</a>  * NOTE: Much of the following miles upon miles of utterly worthless blogging
<a href="#l16" class="line" id="l16">     16</a>  *        was taken from the BOPM source code.
<a href="#l17" class="line" id="l17">     17</a>  *
<a href="#l18" class="line" id="l18">     18</a>  *  Cisco Routers: Cisco routers with a default password. Also pretty much
<a href="#l19" class="line" id="l19">     19</a>  *                   anything else that will let you `telnet&#39; to anywhere else
<a href="#l20" class="line" id="l20">     20</a>  *                   on the Internet. These are (apparently) always on port 23.
<a href="#l21" class="line" id="l21">     21</a>  *
<a href="#l22" class="line" id="l22">     22</a>  *  HTTP/1.1 {POST,CONNECT}:
<a href="#l23" class="line" id="l23">     23</a>  *
<a href="#l24" class="line" id="l24">     24</a>  *  HTTP POST: The HTTP POST protocol used to often be dismissed when writing
<a href="#l25" class="line" id="l25">     25</a>  *              the access controls for proxies until a massive series of GNAA
<a href="#l26" class="line" id="l26">     26</a>  *              crapfloods.
<a href="#l27" class="line" id="l27">     27</a>  *             HTTP POST Offers only the opportunity to send a single block of
<a href="#l28" class="line" id="l28">     28</a>  *              data, but enough of them at once can still make for a
<a href="#l29" class="line" id="l29">     29</a>  *              devastating flood (see: `GNAA&#39;.) Found on the same ports that
<a href="#l30" class="line" id="l30">     30</a>  *              HTTP CONNECT proxies inhabit.
<a href="#l31" class="line" id="l31">     31</a>  *             Note that if an ircd has &quot;ping cookies&quot; then clients from HTTP
<a href="#l32" class="line" id="l32">     32</a>  *              POST proxies cannot connect to the network anyway.
<a href="#l33" class="line" id="l33">     33</a>  *
<a href="#l34" class="line" id="l34">     34</a>  *  HTTP CONNECT: A very common proxy protocol supported by widely known
<a href="#l35" class="line" id="l35">     35</a>  *                 software such as Squid and Apache. The most common sort of
<a href="#l36" class="line" id="l36">     36</a>  *                 insecure proxy and found on a multitude of weird ports too.
<a href="#l37" class="line" id="l37">     37</a>  *                Offers transparent two way TCP connections.
<a href="#l38" class="line" id="l38">     38</a>  *
<a href="#l39" class="line" id="l39">     39</a>  *             [RFC2616] Hypertext Transfer Protocol -- HTTP/1.1                     @  &lt;http://tools.ietf.org/txt/rfc2616.txt&gt;
<a href="#l40" class="line" id="l40">     40</a>  *             [RFC2617] HTTP Authentication: Basic and Digest Access Authentication @  &lt;http://tools.ietf.org/txt/rfc2617.txt&gt;
<a href="#l41" class="line" id="l41">     41</a>  *
<a href="#l42" class="line" id="l42">     42</a>  *  SOCKS{4,5}: Well known proxy protocols, probably the second most common for
<a href="#l43" class="line" id="l43">     43</a>  *               insecure proxies, also offers transparent two way TCP
<a href="#l44" class="line" id="l44">     44</a>  *               connections. Largely confined to port 1080.
<a href="#l45" class="line" id="l45">     45</a>  *
<a href="#l46" class="line" id="l46">     46</a>  *  SOCKS4:
<a href="#l47" class="line" id="l47">     47</a>  *             idk                                                                   @  &lt;http://socks.permeo.com/protocol/socks4.protocol&gt;
<a href="#l48" class="line" id="l48">     48</a>  *             SOCKS: A protocol for TCP proxy across firewalls                      @  &lt;http://www.digitalcybersoft.com/ProxyList/socks4.shtml&gt;
<a href="#l49" class="line" id="l49">     49</a>  *             SOCKS 4A: A Simple Extension to SOCKS 4 Protocol                      @  &lt;http://www.digitalcybersoft.com/ProxyList/socks4a.shtml&gt;
<a href="#l50" class="line" id="l50">     50</a>  *
<a href="#l51" class="line" id="l51">     51</a>  *  SOCKS5:
<a href="#l52" class="line" id="l52">     52</a>  *             [RFC1928] SOCKS Protocol Version 5                                    @  &lt;http://tools.ietf.org/txt/rfc1928.txt&gt;
<a href="#l53" class="line" id="l53">     53</a>  *             [RFC1929] Username/Password Authentication for SOCKS V5               @  &lt;http://tools.ietf.org/txt/rfc1929.txt&gt;
<a href="#l54" class="line" id="l54">     54</a>  *             [RFC1961] GSS-API Authentication Method for SOCKS Version 5           @  &lt;http://tools.ietf.org/txt/rfc1961.txt&gt;
<a href="#l55" class="line" id="l55">     55</a>  *             Challenge-Handshake Authentication Protocol for SOCKS V5              @  &lt;http://www.tools.ietf.org/html/draft-ietf-aft-socks-chap&gt;
<a href="#l56" class="line" id="l56">     56</a>  *
<a href="#l57" class="line" id="l57">     57</a>  *  TOR:
<a href="#l58" class="line" id="l58">     58</a>  *             idk                                                                   @  &lt;http://www.sectoor.de/tor.php&gt;
<a href="#l59" class="line" id="l59">     59</a>  *             Tor&#39;s extensions to the SOCKS protocol                                @  &lt;https://git.torproject.org/checkout/tor/master/doc/spec/socks-extensions.txt&gt;
<a href="#l60" class="line" id="l60">     60</a>  *             Design For A Tor DNS-based Exit List                                  @  &lt;https://git.torproject.org/checkout/tor/master/doc/contrib/torel-design.txt&gt;
<a href="#l61" class="line" id="l61">     61</a>  *
<a href="#l62" class="line" id="l62">     62</a>  *  Misc:
<a href="#l63" class="line" id="l63">     63</a>  *             [RFC3089] A SOCKS-based IPv6/IPv4 Gateway Mechanism                   @  &lt;http://tools.ietf.org/txt/rfc3089.txt&gt;
<a href="#l64" class="line" id="l64">     64</a>  }}} */
<a href="#l65" class="line" id="l65">     65</a> /* {{{ Header includes */
<a href="#l66" class="line" id="l66">     66</a> #include &lt;stdio.h&gt;
<a href="#l67" class="line" id="l67">     67</a> #include &lt;stdlib.h&gt;
<a href="#l68" class="line" id="l68">     68</a> #include &lt;time.h&gt;
<a href="#l69" class="line" id="l69">     69</a> #include &lt;unistd.h&gt;
<a href="#l70" class="line" id="l70">     70</a> 
<a href="#l71" class="line" id="l71">     71</a> #include &quot;../include/proxy.h&quot;
<a href="#l72" class="line" id="l72">     72</a> #include &quot;../include/print.h&quot;
<a href="#l73" class="line" id="l73">     73</a> #include &quot;../include/net.h&quot;
<a href="#l74" class="line" id="l74">     74</a> #include &quot;../include/string.h&quot;
<a href="#l75" class="line" id="l75">     75</a> #include &quot;../include/print.h&quot;
<a href="#l76" class="line" id="l76">     76</a> /* }}} */
<a href="#l77" class="line" id="l77">     77</a> /* {{{ Variables */
<a href="#l78" class="line" id="l78">     78</a> /* {{{ External variables */
<a href="#l79" class="line" id="l79">     79</a> extern config_t conf;
<a href="#l80" class="line" id="l80">     80</a> extern clone_t *cl[];
<a href="#l81" class="line" id="l81">     81</a> /* }}} */
<a href="#l82" class="line" id="l82">     82</a> /* {{{ Constants */
<a href="#l83" class="line" id="l83">     83</a> const char *strtype[] =
<a href="#l84" class="line" id="l84">     84</a> {
<a href="#l85" class="line" id="l85">     85</a>      &quot;SOCKS4&quot;,
<a href="#l86" class="line" id="l86">     86</a>      &quot;SOCKS5&quot;,
<a href="#l87" class="line" id="l87">     87</a>      &quot;proxy&quot;,
<a href="#l88" class="line" id="l88">     88</a>      &quot;cisco&quot;,
<a href="#l89" class="line" id="l89">     89</a>      &quot;vhost&quot;,
<a href="#l90" class="line" id="l90">     90</a>      &quot;direct&quot;
<a href="#l91" class="line" id="l91">     91</a> };
<a href="#l92" class="line" id="l92">     92</a> /* }}} */
<a href="#l93" class="line" id="l93">     93</a> /* }}} */
<a href="#l94" class="line" id="l94">     94</a> /* {{{ connect_clone() */
<a href="#l95" class="line" id="l95">     95</a> int connect_clone(clone_t *clone, char *host, unsigned short port)
<a href="#l96" class="line" id="l96">     96</a> {
<a href="#l97" class="line" id="l97">     97</a>      char *vhost = NULL;
<a href="#l98" class="line" id="l98">     98</a>      netstore *ns = net_store_new();
<a href="#l99" class="line" id="l99">     99</a> 
<a href="#l100" class="line" id="l100">    100</a>      if (clone-&gt;type == VHOST)
<a href="#l101" class="line" id="l101">    101</a>      {
<a href="#l102" class="line" id="l102">    102</a>           vhost = clone-&gt;proxy;
<a href="#l103" class="line" id="l103">    103</a>      }
<a href="#l104" class="line" id="l104">    104</a> 
<a href="#l105" class="line" id="l105">    105</a>      if (net_resolve(ns, host, port))
<a href="#l106" class="line" id="l106">    106</a>      {
<a href="#l107" class="line" id="l107">    107</a>           print(1, 4, 0, &quot;%s: %s: nslookup failed&quot;, strtype[clone-&gt;type], host);
<a href="#l108" class="line" id="l108">    108</a>           net_store_destroy(ns);
<a href="#l109" class="line" id="l109">    109</a>           return 1;
<a href="#l110" class="line" id="l110">    110</a>      }
<a href="#l111" class="line" id="l111">    111</a>      if (net_connect(ns, &amp;clone-&gt;sock, vhost))
<a href="#l112" class="line" id="l112">    112</a>      {
<a href="#l113" class="line" id="l113">    113</a>           if (errno != EINPROGRESS)
<a href="#l114" class="line" id="l114">    114</a>           {
<a href="#l115" class="line" id="l115">    115</a>                net_store_destroy(ns);
<a href="#l116" class="line" id="l116">    116</a>                return 1;
<a href="#l117" class="line" id="l117">    117</a>           }
<a href="#l118" class="line" id="l118">    118</a>      }
<a href="#l119" class="line" id="l119">    119</a>      clone-&gt;start = time(NULL);
<a href="#l120" class="line" id="l120">    120</a>      net_store_destroy(ns);
<a href="#l121" class="line" id="l121">    121</a>      return 0;
<a href="#l122" class="line" id="l122">    122</a> }
<a href="#l123" class="line" id="l123">    123</a> /* }}} */
<a href="#l124" class="line" id="l124">    124</a> /* {{{ init_*() */
<a href="#l125" class="line" id="l125">    125</a> int init_irc(clone_t *clone)
<a href="#l126" class="line" id="l126">    126</a> {
<a href="#l127" class="line" id="l127">    127</a>      send_irc_nick(clone, clone-&gt;nick);
<a href="#l128" class="line" id="l128">    128</a>      register_clone(clone);
<a href="#l129" class="line" id="l129">    129</a>      return WAIT_IRC;
<a href="#l130" class="line" id="l130">    130</a> }
<a href="#l131" class="line" id="l131">    131</a> 
<a href="#l132" class="line" id="l132">    132</a> int init_vhost(int sock, char *vhost)
<a href="#l133" class="line" id="l133">    133</a> {
<a href="#l134" class="line" id="l134">    134</a>      netstore *ns = net_store_new();
<a href="#l135" class="line" id="l135">    135</a> 
<a href="#l136" class="line" id="l136">    136</a>      if (net_resolve(ns, vhost, 0))
<a href="#l137" class="line" id="l137">    137</a>      {
<a href="#l138" class="line" id="l138">    138</a>           print(1, 4, 0, &quot;vhost: %s: nslookup failed&quot;, vhost);
<a href="#l139" class="line" id="l139">    139</a>           net_store_destroy(ns);
<a href="#l140" class="line" id="l140">    140</a>           return 1;
<a href="#l141" class="line" id="l141">    141</a>      }
<a href="#l142" class="line" id="l142">    142</a>      if (net_bind(ns, sock))
<a href="#l143" class="line" id="l143">    143</a>      {
<a href="#l144" class="line" id="l144">    144</a>           print(1, 0, 0, &quot;vhost: bind: %s&quot;, strerror(errno));
<a href="#l145" class="line" id="l145">    145</a>           net_store_destroy(ns);
<a href="#l146" class="line" id="l146">    146</a>           return 1;
<a href="#l147" class="line" id="l147">    147</a>      }
<a href="#l148" class="line" id="l148">    148</a> 
<a href="#l149" class="line" id="l149">    149</a>      net_store_destroy(ns);
<a href="#l150" class="line" id="l150">    150</a>      return 0;
<a href="#l151" class="line" id="l151">    151</a> }
<a href="#l152" class="line" id="l152">    152</a> /* {{{ SOCKS{4,5} */
<a href="#l153" class="line" id="l153">    153</a> /* {{{ CONNECT request byte order for SOCKS4
<a href="#l154" class="line" id="l154">    154</a>  *
<a href="#l155" class="line" id="l155">    155</a>  *              +----+----+----+----+----+----+----+----+----+----+....+----+
<a href="#l156" class="line" id="l156">    156</a>  *              | VN | CD | DSTPORT |      DSTIP        | USERID       |NULL|
<a href="#l157" class="line" id="l157">    157</a>  *              +----+----+----+----+----+----+----+----+----+----+....+----+
<a href="#l158" class="line" id="l158">    158</a>  * # of bytes:	   1    1      2              4           variable       1
<a href="#l159" class="line" id="l159">    159</a>  *
<a href="#l160" class="line" id="l160">    160</a>  *
<a href="#l161" class="line" id="l161">    161</a>  * Responses:
<a href="#l162" class="line" id="l162">    162</a>  *              +----+----+----+----+----+----+----+----+
<a href="#l163" class="line" id="l163">    163</a>  *              | VN | CD | DSTPORT |      DSTIP        |
<a href="#l164" class="line" id="l164">    164</a>  *              +----+----+----+----+----+----+----+----+
<a href="#l165" class="line" id="l165">    165</a>  * # of bytes:	  1    1      2              4
<a href="#l166" class="line" id="l166">    166</a>  *
<a href="#l167" class="line" id="l167">    167</a>  * VN is the version of the reply code and should be 0. CD is the result
<a href="#l168" class="line" id="l168">    168</a>  * code with one of the following values:
<a href="#l169" class="line" id="l169">    169</a>  *
<a href="#l170" class="line" id="l170">    170</a>  * 90: Request granted.
<a href="#l171" class="line" id="l171">    171</a>  * 91: Request rejected or failed.
<a href="#l172" class="line" id="l172">    172</a>  * 92: Request rejected because SOCKS server cannot connect to identd on the
<a href="#l173" class="line" id="l173">    173</a>  *      client.
<a href="#l174" class="line" id="l174">    174</a>  * 93: Request rejected because the client program and identd report different
<a href="#l175" class="line" id="l175">    175</a>  *      user-IDs.
<a href="#l176" class="line" id="l176">    176</a>  *
<a href="#l177" class="line" id="l177">    177</a>  }}} */
<a href="#l178" class="line" id="l178">    178</a> int init_socks4(clone_t *clone)
<a href="#l179" class="line" id="l179">    179</a> {
<a href="#l180" class="line" id="l180">    180</a>      char buffer[9];
<a href="#l181" class="line" id="l181">    181</a>      struct in_addr addr;
<a href="#l182" class="line" id="l182">    182</a>      unsigned short port;
<a href="#l183" class="line" id="l183">    183</a> 
<a href="#l184" class="line" id="l184">    184</a>      port = htons(clone-&gt;port);
<a href="#l185" class="line" id="l185">    185</a>      if (resolve(clone-&gt;host, &amp;addr))
<a href="#l186" class="line" id="l186">    186</a>      {
<a href="#l187" class="line" id="l187">    187</a>           print(1, 4, 0, &quot;%s: %s: nslookup failed&quot;, strtype[clone-&gt;type], clone-&gt;host);
<a href="#l188" class="line" id="l188">    188</a>           clone-&gt;status = EXIT;
<a href="#l189" class="line" id="l189">    189</a>      }
<a href="#l190" class="line" id="l190">    190</a>      memcpy(&amp;buffer[2], &amp;port, 2);
<a href="#l191" class="line" id="l191">    191</a>      memcpy(&amp;buffer[4], &amp;addr.s_addr, 4);
<a href="#l192" class="line" id="l192">    192</a>      buffer[0] = 4;
<a href="#l193" class="line" id="l193">    193</a>      buffer[1] = 1;
<a href="#l194" class="line" id="l194">    194</a>      buffer[8] = 0;
<a href="#l195" class="line" id="l195">    195</a>      send(clone-&gt;sock, buffer, 9, 0);
<a href="#l196" class="line" id="l196">    196</a>      return WAIT_SOCKS4;
<a href="#l197" class="line" id="l197">    197</a> }
<a href="#l198" class="line" id="l198">    198</a> 
<a href="#l199" class="line" id="l199">    199</a> /* {{{ Send version authentication selection message to SOCKS5
<a href="#l200" class="line" id="l200">    200</a>  *
<a href="#l201" class="line" id="l201">    201</a>  *       +----+----------+----------+
<a href="#l202" class="line" id="l202">    202</a>  *       |VER | NMETHODS | METHODS  |
<a href="#l203" class="line" id="l203">    203</a>  *       +----+----------+----------+
<a href="#l204" class="line" id="l204">    204</a>  *       | 1  |    1     | 1 to 255 |
<a href="#l205" class="line" id="l205">    205</a>  *       +----+----------+----------+
<a href="#l206" class="line" id="l206">    206</a>  *
<a href="#l207" class="line" id="l207">    207</a>  *  VER always contains 5, for SOCKSv5
<a href="#l208" class="line" id="l208">    208</a>  *  Method 0 is &#39;No authentication required&#39;
<a href="#l209" class="line" id="l209">    209</a>  *
<a href="#l210" class="line" id="l210">    210</a>  *
<a href="#l211" class="line" id="l211">    211</a>  *
<a href="#l212" class="line" id="l212">    212</a>  *  The SOCKS request is formed as follows:
<a href="#l213" class="line" id="l213">    213</a>  *
<a href="#l214" class="line" id="l214">    214</a>  *        +----+-----+-------+------+----------+----------+
<a href="#l215" class="line" id="l215">    215</a>  *       |VER | CMD |  RSV  | ATYP | DST.ADDR | DST.PORT |
<a href="#l216" class="line" id="l216">    216</a>  *       +----+-----+-------+------+----------+----------+
<a href="#l217" class="line" id="l217">    217</a>  *       | 1  |  1  | X&#39;00&#39; |  1   | Variable |    2     |
<a href="#l218" class="line" id="l218">    218</a>  *       +----+-----+-------+------+----------+----------+
<a href="#l219" class="line" id="l219">    219</a>  *
<a href="#l220" class="line" id="l220">    220</a>  *
<a href="#l221" class="line" id="l221">    221</a>  *         o  VER    protocol version: X&#39;05&#39;
<a href="#l222" class="line" id="l222">    222</a>  *         o  CMD
<a href="#l223" class="line" id="l223">    223</a>  *            o  CONNECT X&#39;01&#39;
<a href="#l224" class="line" id="l224">    224</a>  *            o  BIND X&#39;02&#39;
<a href="#l225" class="line" id="l225">    225</a>  *            o  UDP ASSOCIATE X&#39;03&#39;
<a href="#l226" class="line" id="l226">    226</a>  *         o  RSV    RESERVED
<a href="#l227" class="line" id="l227">    227</a>  *         o  ATYP   address type of following address
<a href="#l228" class="line" id="l228">    228</a>  *            o  IP V4 address: X&#39;01&#39;
<a href="#l229" class="line" id="l229">    229</a>  *            o  DOMAINNAME: X&#39;03&#39;
<a href="#l230" class="line" id="l230">    230</a>  *            o  IP V6 address: X&#39;04&#39;
<a href="#l231" class="line" id="l231">    231</a>  *         o  DST.ADDR       desired destination address
<a href="#l232" class="line" id="l232">    232</a>  *         o  DST.PORT desired destination port in network octet
<a href="#l233" class="line" id="l233">    233</a>  *            order
<a href="#l234" class="line" id="l234">    234</a>  *
<a href="#l235" class="line" id="l235">    235</a>  }}} */
<a href="#l236" class="line" id="l236">    236</a> struct sock5_connect1
<a href="#l237" class="line" id="l237">    237</a> {
<a href="#l238" class="line" id="l238">    238</a>      char version;
<a href="#l239" class="line" id="l239">    239</a>      char nmethods;
<a href="#l240" class="line" id="l240">    240</a>      char method;
<a href="#l241" class="line" id="l241">    241</a> };
<a href="#l242" class="line" id="l242">    242</a> 
<a href="#l243" class="line" id="l243">    243</a> int init_socks5(clone_t *clone)
<a href="#l244" class="line" id="l244">    244</a> {
<a href="#l245" class="line" id="l245">    245</a>      struct sock5_connect1 sc1;
<a href="#l246" class="line" id="l246">    246</a> 
<a href="#l247" class="line" id="l247">    247</a>      sc1.version = 5;
<a href="#l248" class="line" id="l248">    248</a>      sc1.nmethods = 1;
<a href="#l249" class="line" id="l249">    249</a>      sc1.method = 0;
<a href="#l250" class="line" id="l250">    250</a>      send(clone-&gt;sock, (char *) &amp;sc1, 3, 0);
<a href="#l251" class="line" id="l251">    251</a> 
<a href="#l252" class="line" id="l252">    252</a>      return WAIT_SOCKS5_1;
<a href="#l253" class="line" id="l253">    253</a> }
<a href="#l254" class="line" id="l254">    254</a> 
<a href="#l255" class="line" id="l255">    255</a> int init_read_socks5(clone_t *clone)
<a href="#l256" class="line" id="l256">    256</a> {
<a href="#l257" class="line" id="l257">    257</a>      unsigned short port;
<a href="#l258" class="line" id="l258">    258</a>      unsigned char *sc2;
<a href="#l259" class="line" id="l259">    259</a>      unsigned int addrlen;
<a href="#l260" class="line" id="l260">    260</a>      unsigned int packetlen;
<a href="#l261" class="line" id="l261">    261</a>      char buf[10];
<a href="#l262" class="line" id="l262">    262</a> 
<a href="#l263" class="line" id="l263">    263</a>      if (recv(clone-&gt;sock, buf, 2, 0) &lt; 2)
<a href="#l264" class="line" id="l264">    264</a>      {
<a href="#l265" class="line" id="l265">    265</a>           return EXIT;
<a href="#l266" class="line" id="l266">    266</a>      }
<a href="#l267" class="line" id="l267">    267</a> 
<a href="#l268" class="line" id="l268">    268</a>      if (buf[0] != 5 &amp;&amp; buf[1] != 0)
<a href="#l269" class="line" id="l269">    269</a>      {
<a href="#l270" class="line" id="l270">    270</a>           return EXIT;
<a href="#l271" class="line" id="l271">    271</a>      }
<a href="#l272" class="line" id="l272">    272</a> 
<a href="#l273" class="line" id="l273">    273</a>      port = htons(clone-&gt;port);
<a href="#l274" class="line" id="l274">    274</a>      addrlen = strlen(clone-&gt;host);
<a href="#l275" class="line" id="l275">    275</a>      packetlen = 4 + 1 + addrlen + 2;
<a href="#l276" class="line" id="l276">    276</a>      sc2 = xmalloc(packetlen);
<a href="#l277" class="line" id="l277">    277</a>      sc2[0] = 5;                                                  /* version */
<a href="#l278" class="line" id="l278">    278</a>      sc2[1] = 1;                                                  /* command */
<a href="#l279" class="line" id="l279">    279</a>      sc2[2] = 0;                                                  /* reserved */
<a href="#l280" class="line" id="l280">    280</a>      sc2[3] = 3;                                                  /* address type */
<a href="#l281" class="line" id="l281">    281</a>      sc2[4] = (unsigned char) addrlen;                            /* hostname length */
<a href="#l282" class="line" id="l282">    282</a>      memcpy(sc2 + 5, clone-&gt;host, addrlen);
<a href="#l283" class="line" id="l283">    283</a>      memcpy(sc2 + 5 + addrlen, &amp;port, sizeof(unsigned short));
<a href="#l284" class="line" id="l284">    284</a> 
<a href="#l285" class="line" id="l285">    285</a>      send(clone-&gt;sock, sc2, packetlen, 0);
<a href="#l286" class="line" id="l286">    286</a>      free(sc2);
<a href="#l287" class="line" id="l287">    287</a> 
<a href="#l288" class="line" id="l288">    288</a>      return WAIT_SOCKS5_2;
<a href="#l289" class="line" id="l289">    289</a> }
<a href="#l290" class="line" id="l290">    290</a> /* }}} */
<a href="#l291" class="line" id="l291">    291</a> int init_proxy(clone_t *clone)
<a href="#l292" class="line" id="l292">    292</a> {
<a href="#l293" class="line" id="l293">    293</a>      send_sock(clone-&gt;sock, &quot;CONNECT %s:%d HTTP/1.0\r\n\r\n&quot;, clone-&gt;host, clone-&gt;port);
<a href="#l294" class="line" id="l294">    294</a>      return WAIT_PROXY;
<a href="#l295" class="line" id="l295">    295</a> }
<a href="#l296" class="line" id="l296">    296</a> /* }}} */
<a href="#l297" class="line" id="l297">    297</a> /* {{{ readline() */
<a href="#l298" class="line" id="l298">    298</a> int readline(int s, char *buffer, size_t buffer_size)
<a href="#l299" class="line" id="l299">    299</a> {
<a href="#l300" class="line" id="l300">    300</a>      char c;
<a href="#l301" class="line" id="l301">    301</a>      unsigned int i = 0; /* ``unsigned&#39;&#39; is not needed, stops a warning when compiled with -Wextra */
<a href="#l302" class="line" id="l302">    302</a> 
<a href="#l303" class="line" id="l303">    303</a>      do {
<a href="#l304" class="line" id="l304">    304</a>           if (1 &gt; read(s, &amp;c, 1))
<a href="#l305" class="line" id="l305">    305</a>           {
<a href="#l306" class="line" id="l306">    306</a>                return 0;
<a href="#l307" class="line" id="l307">    307</a>           }
<a href="#l308" class="line" id="l308">    308</a>           if (i &lt; (buffer_size - 1))
<a href="#l309" class="line" id="l309">    309</a>           {
<a href="#l310" class="line" id="l310">    310</a>                buffer[i++] = c;
<a href="#l311" class="line" id="l311">    311</a>           }
<a href="#l312" class="line" id="l312">    312</a>      } while (c != &#39;\n&#39;);
<a href="#l313" class="line" id="l313">    313</a>      buffer[i] = 0;
<a href="#l314" class="line" id="l314">    314</a> 
<a href="#l315" class="line" id="l315">    315</a>      return i;
<a href="#l316" class="line" id="l316">    316</a> }
<a href="#l317" class="line" id="l317">    317</a> /* }}} */
<a href="#l318" class="line" id="l318">    318</a> /* {{{ Cisco-related, compile-time, constants */
<a href="#l319" class="line" id="l319">    319</a> #define CISCO_GREET &quot;User Access Verification&quot;
<a href="#l320" class="line" id="l320">    320</a> #define CISCO_PWD &quot;cisco&quot;
<a href="#l321" class="line" id="l321">    321</a> /* }}} */
<a href="#l322" class="line" id="l322">    322</a> /* {{{ read_*() */
<a href="#l323" class="line" id="l323">    323</a> /**
<a href="#l324" class="line" id="l324">    324</a>  * read_cisco(): Cisco scanning
<a href="#l325" class="line" id="l325">    325</a>  *
<a href="#l326" class="line" id="l326">    326</a>  * Attempt to connect using `CISCO_PWD&#39; as a password, then give command for
<a href="#l327" class="line" id="l327">    327</a>  *  telnet(1) to the scanip/scanport
<a href="#l328" class="line" id="l328">    328</a>  */
<a href="#l329" class="line" id="l329">    329</a> int read_cisco(clone_t *clone)
<a href="#l330" class="line" id="l330">    330</a> {
<a href="#l331" class="line" id="l331">    331</a>      char buf[MEDBUF];
<a href="#l332" class="line" id="l332">    332</a> 
<a href="#l333" class="line" id="l333">    333</a>      memset(buf, 0, sizeof(buf));
<a href="#l334" class="line" id="l334">    334</a>      if (!readline(clone-&gt;sock, buf, MEDBUF))
<a href="#l335" class="line" id="l335">    335</a>      {
<a href="#l336" class="line" id="l336">    336</a>           return EXIT;
<a href="#l337" class="line" id="l337">    337</a>      }
<a href="#l338" class="line" id="l338">    338</a> 
<a href="#l339" class="line" id="l339">    339</a>      if (StrCmpPrefix(buf, CISCO_GREET))
<a href="#l340" class="line" id="l340">    340</a>      {
<a href="#l341" class="line" id="l341">    341</a>           return WAIT_CISCO;
<a href="#l342" class="line" id="l342">    342</a>      }
<a href="#l343" class="line" id="l343">    343</a> 
<a href="#l344" class="line" id="l344">    344</a>      send_sock(clone-&gt;sock, &quot;%s\n&quot;, CISCO_PWD);
<a href="#l345" class="line" id="l345">    345</a>      send_sock(clone-&gt;sock, &quot;telnet %s %d\n&quot;, clone-&gt;host, clone-&gt;port);
<a href="#l346" class="line" id="l346">    346</a>      return WAIT_IDENT;
<a href="#l347" class="line" id="l347">    347</a> }
<a href="#l348" class="line" id="l348">    348</a> 
<a href="#l349" class="line" id="l349">    349</a> int read_proxy(clone_t *clone)
<a href="#l350" class="line" id="l350">    350</a> {
<a href="#l351" class="line" id="l351">    351</a>      char buf[MEDBUF];
<a href="#l352" class="line" id="l352">    352</a> 
<a href="#l353" class="line" id="l353">    353</a>      memset(buf, 0, sizeof(buf));
<a href="#l354" class="line" id="l354">    354</a>      if (!readline(clone-&gt;sock, buf, MEDBUF))
<a href="#l355" class="line" id="l355">    355</a>      {
<a href="#l356" class="line" id="l356">    356</a>           return EXIT;
<a href="#l357" class="line" id="l357">    357</a>      }
<a href="#l358" class="line" id="l358">    358</a> 
<a href="#l359" class="line" id="l359">    359</a>      if (memcmp(buf, &quot;HTTP/&quot;, 5) || memcmp(buf + 9, &quot;200&quot;, 3))
<a href="#l360" class="line" id="l360">    360</a>      {
<a href="#l361" class="line" id="l361">    361</a>           if (conf.debug)
<a href="#l362" class="line" id="l362">    362</a>           {
<a href="#l363" class="line" id="l363">    363</a>                print(0, 2, 0, &quot;[%s;%s] PROXY: %s&quot;, clone-&gt;nick, clone-&gt;proxy, buf);
<a href="#l364" class="line" id="l364">    364</a>           }
<a href="#l365" class="line" id="l365">    365</a>           return EXIT;
<a href="#l366" class="line" id="l366">    366</a>      }
<a href="#l367" class="line" id="l367">    367</a> 
<a href="#l368" class="line" id="l368">    368</a>      return WAIT_IDENT;
<a href="#l369" class="line" id="l369">    369</a> }
<a href="#l370" class="line" id="l370">    370</a> 
<a href="#l371" class="line" id="l371">    371</a> int read_socks4(clone_t *clone)
<a href="#l372" class="line" id="l372">    372</a> {
<a href="#l373" class="line" id="l373">    373</a>      char buffer[9];
<a href="#l374" class="line" id="l374">    374</a> 
<a href="#l375" class="line" id="l375">    375</a>      if (recv(clone-&gt;sock, buffer, 8, 0) &lt; 8)
<a href="#l376" class="line" id="l376">    376</a>      {
<a href="#l377" class="line" id="l377">    377</a>           return EXIT;
<a href="#l378" class="line" id="l378">    378</a>      }
<a href="#l379" class="line" id="l379">    379</a> 
<a href="#l380" class="line" id="l380">    380</a>      if (buffer[1] != 0x5A)
<a href="#l381" class="line" id="l381">    381</a>      {
<a href="#l382" class="line" id="l382">    382</a>           if (conf.debug)
<a href="#l383" class="line" id="l383">    383</a>           {
<a href="#l384" class="line" id="l384">    384</a>                print(1, 2, 0, &quot;[%s;%s] SOCKS4: Connection refused&quot;, clone-&gt;nick, clone-&gt;proxy);
<a href="#l385" class="line" id="l385">    385</a>           }
<a href="#l386" class="line" id="l386">    386</a>           return EXIT;
<a href="#l387" class="line" id="l387">    387</a>      }
<a href="#l388" class="line" id="l388">    388</a> 
<a href="#l389" class="line" id="l389">    389</a>      if (conf.debug)
<a href="#l390" class="line" id="l390">    390</a>      {
<a href="#l391" class="line" id="l391">    391</a>           print(1, 2, 0, &quot;[%s;%s] SOCKS4: Success&quot;, clone-&gt;nick, clone-&gt;proxy);
<a href="#l392" class="line" id="l392">    392</a>      }
<a href="#l393" class="line" id="l393">    393</a>      return WAIT_IDENT;
<a href="#l394" class="line" id="l394">    394</a> }
<a href="#l395" class="line" id="l395">    395</a> 
<a href="#l396" class="line" id="l396">    396</a> int read_socks5(clone_t *clone)
<a href="#l397" class="line" id="l397">    397</a> {
<a href="#l398" class="line" id="l398">    398</a>      unsigned char buf[MEDBUF];
<a href="#l399" class="line" id="l399">    399</a>      unsigned int packetlen;
<a href="#l400" class="line" id="l400">    400</a> 
<a href="#l401" class="line" id="l401">    401</a>      /* consume all of the reply */
<a href="#l402" class="line" id="l402">    402</a>      if (recv(clone-&gt;sock, buf, 4, 0) &lt; 4)
<a href="#l403" class="line" id="l403">    403</a>      {
<a href="#l404" class="line" id="l404">    404</a>           if (conf.debug)
<a href="#l405" class="line" id="l405">    405</a>           {
<a href="#l406" class="line" id="l406">    406</a>                print(1, 2, 0, &quot;[%s;%s] SOCKS5: Permission denied&quot;, clone-&gt;nick, clone-&gt;proxy);
<a href="#l407" class="line" id="l407">    407</a>           }
<a href="#l408" class="line" id="l408">    408</a>           return EXIT;
<a href="#l409" class="line" id="l409">    409</a>      }
<a href="#l410" class="line" id="l410">    410</a> 
<a href="#l411" class="line" id="l411">    411</a>      if (buf[0] != 5 &amp;&amp; buf[1] != 0)
<a href="#l412" class="line" id="l412">    412</a>      {
<a href="#l413" class="line" id="l413">    413</a>           return EXIT;
<a href="#l414" class="line" id="l414">    414</a>      }
<a href="#l415" class="line" id="l415">    415</a> 
<a href="#l416" class="line" id="l416">    416</a>      if (buf[3] == 1)
<a href="#l417" class="line" id="l417">    417</a>      {
<a href="#l418" class="line" id="l418">    418</a>           if (recv(clone-&gt;sock, buf, 6, 0) != 6)
<a href="#l419" class="line" id="l419">    419</a>           {
<a href="#l420" class="line" id="l420">    420</a>                return EXIT;
<a href="#l421" class="line" id="l421">    421</a>           }
<a href="#l422" class="line" id="l422">    422</a>      }
<a href="#l423" class="line" id="l423">    423</a>      else if (buf[3] == 4)
<a href="#l424" class="line" id="l424">    424</a>      {
<a href="#l425" class="line" id="l425">    425</a>           if (recv(clone-&gt;sock, buf, 18, 0) != 18)
<a href="#l426" class="line" id="l426">    426</a>           {
<a href="#l427" class="line" id="l427">    427</a>                return EXIT;
<a href="#l428" class="line" id="l428">    428</a>           }
<a href="#l429" class="line" id="l429">    429</a>      }
<a href="#l430" class="line" id="l430">    430</a>      else if (buf[3] == 3)
<a href="#l431" class="line" id="l431">    431</a>      {
<a href="#l432" class="line" id="l432">    432</a>           if (recv(clone-&gt;sock, buf, 1, 0) != 1)
<a href="#l433" class="line" id="l433">    433</a>           {
<a href="#l434" class="line" id="l434">    434</a>                return EXIT;
<a href="#l435" class="line" id="l435">    435</a>           }
<a href="#l436" class="line" id="l436">    436</a>           packetlen = buf[0] + 2;
<a href="#l437" class="line" id="l437">    437</a>           if (recv(clone-&gt;sock, buf, packetlen, 0) != packetlen)
<a href="#l438" class="line" id="l438">    438</a>           {
<a href="#l439" class="line" id="l439">    439</a>                return EXIT;
<a href="#l440" class="line" id="l440">    440</a>           }
<a href="#l441" class="line" id="l441">    441</a>      }
<a href="#l442" class="line" id="l442">    442</a> 
<a href="#l443" class="line" id="l443">    443</a>      if (conf.debug)
<a href="#l444" class="line" id="l444">    444</a>      {
<a href="#l445" class="line" id="l445">    445</a>           print(1, 2, 0, &quot;[%s;%s] SOCKS5: Success&quot;, clone-&gt;nick, clone-&gt;proxy);
<a href="#l446" class="line" id="l446">    446</a>      }
<a href="#l447" class="line" id="l447">    447</a>      return WAIT_IDENT;
<a href="#l448" class="line" id="l448">    448</a> }
<a href="#l449" class="line" id="l449">    449</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>