<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>string.c - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>string.c <span class="desc">(4607B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> /* Muhstik, Copyright (C) 2001-2002, Louis Bavoil &lt;mulder@gmx.fr&gt;       */
<a href="#l2" class="line" id="l2">      2</a> /*                        2009-2011, Leon Kaiser &lt;literalka@gnaa.eu&gt;    */
<a href="#l3" class="line" id="l3">      3</a> /*                                                                      */
<a href="#l4" class="line" id="l4">      4</a> /* This program is free software; you can redistribute it and/or        */
<a href="#l5" class="line" id="l5">      5</a> /* modify it under the terms of the GNU Library General Public License  */
<a href="#l6" class="line" id="l6">      6</a> /* as published by the Free Software Foundation; either version 2       */
<a href="#l7" class="line" id="l7">      7</a> /* of the License, or (at your option) any later version.               */
<a href="#l8" class="line" id="l8">      8</a> /*                                                                      */
<a href="#l9" class="line" id="l9">      9</a> /* This program is distributed in the hope that it will be useful,      */
<a href="#l10" class="line" id="l10">     10</a> /* but WITHOUT ANY WARRANTY; without even the implied warranty of       */
<a href="#l11" class="line" id="l11">     11</a> /* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        */
<a href="#l12" class="line" id="l12">     12</a> /* GNU Library General Public License for more details.                 */
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> /* {{{ Header includes */
<a href="#l15" class="line" id="l15">     15</a> #include &lt;stdio.h&gt;
<a href="#l16" class="line" id="l16">     16</a> #include &lt;stdlib.h&gt;
<a href="#l17" class="line" id="l17">     17</a> 
<a href="#l18" class="line" id="l18">     18</a> #include &quot;../include/clone.h&quot;
<a href="#l19" class="line" id="l19">     19</a> #include &quot;../include/string.h&quot;
<a href="#l20" class="line" id="l20">     20</a> #include &quot;../include/print.h&quot;
<a href="#l21" class="line" id="l21">     21</a> /* }}} */
<a href="#l22" class="line" id="l22">     22</a> /* {{{ External variables */
<a href="#l23" class="line" id="l23">     23</a> extern config_t conf;
<a href="#l24" class="line" id="l24">     24</a> /* }}} */
<a href="#l25" class="line" id="l25">     25</a> /* {{{ xmalloc() */
<a href="#l26" class="line" id="l26">     26</a> void *xmalloc(size_t size)
<a href="#l27" class="line" id="l27">     27</a> {
<a href="#l28" class="line" id="l28">     28</a>      void *ret;
<a href="#l29" class="line" id="l29">     29</a>      if (!(ret = malloc(size)))
<a href="#l30" class="line" id="l30">     30</a>      {
<a href="#l31" class="line" id="l31">     31</a>           print_error(&quot;malloc&quot;);
<a href="#l32" class="line" id="l32">     32</a>           exit(EXIT_FAILURE);
<a href="#l33" class="line" id="l33">     33</a>      }
<a href="#l34" class="line" id="l34">     34</a>      return ret;
<a href="#l35" class="line" id="l35">     35</a> }
<a href="#l36" class="line" id="l36">     36</a> /* }}} */
<a href="#l37" class="line" id="l37">     37</a> /* {{{ Str*() */
<a href="#l38" class="line" id="l38">     38</a> char *StrDuplicate(char *src)
<a href="#l39" class="line" id="l39">     39</a> {
<a href="#l40" class="line" id="l40">     40</a>      char *dest;
<a href="#l41" class="line" id="l41">     41</a> 
<a href="#l42" class="line" id="l42">     42</a>      if (!src)
<a href="#l43" class="line" id="l43">     43</a>      {
<a href="#l44" class="line" id="l44">     44</a>           return NULL;
<a href="#l45" class="line" id="l45">     45</a>      }
<a href="#l46" class="line" id="l46">     46</a> 
<a href="#l47" class="line" id="l47">     47</a>      if (!(dest = strdup(src)))
<a href="#l48" class="line" id="l48">     48</a>      {
<a href="#l49" class="line" id="l49">     49</a>           print_error(&quot;malloc&quot;);
<a href="#l50" class="line" id="l50">     50</a>           exit(EXIT_FAILURE);
<a href="#l51" class="line" id="l51">     51</a>      }
<a href="#l52" class="line" id="l52">     52</a>      return dest;
<a href="#l53" class="line" id="l53">     53</a> }
<a href="#l54" class="line" id="l54">     54</a> 
<a href="#l55" class="line" id="l55">     55</a> inline int StrCompare(char *s1, char *s2)
<a href="#l56" class="line" id="l56">     56</a> {
<a href="#l57" class="line" id="l57">     57</a>      return (s1 &amp;&amp; s2) ? strcasecmp(s1,s2) : 1;
<a href="#l58" class="line" id="l58">     58</a> }
<a href="#l59" class="line" id="l59">     59</a> 
<a href="#l60" class="line" id="l60">     60</a> inline int StrCmpPrefix(char *s1, char *s2)
<a href="#l61" class="line" id="l61">     61</a> {
<a href="#l62" class="line" id="l62">     62</a>      return (s1 &amp;&amp; s2) ? strncasecmp(s1,s2,strlen(s2)) : 1;
<a href="#l63" class="line" id="l63">     63</a> }
<a href="#l64" class="line" id="l64">     64</a> 
<a href="#l65" class="line" id="l65">     65</a> inline void StrFirstToken(char *s)
<a href="#l66" class="line" id="l66">     66</a> {
<a href="#l67" class="line" id="l67">     67</a>      sscanf(s, &quot;%s&quot;, s);
<a href="#l68" class="line" id="l68">     68</a> }
<a href="#l69" class="line" id="l69">     69</a> 
<a href="#l70" class="line" id="l70">     70</a> inline void StrCopy(char *s1, char *s2, size_t n)
<a href="#l71" class="line" id="l71">     71</a> {
<a href="#l72" class="line" id="l72">     72</a>      strncpy(s1, s2, n);
<a href="#l73" class="line" id="l73">     73</a>      s1[n-1] = 0;
<a href="#l74" class="line" id="l74">     74</a> }
<a href="#l75" class="line" id="l75">     75</a> 
<a href="#l76" class="line" id="l76">     76</a> inline void StrCat(char *s1, char *s2, size_t n)
<a href="#l77" class="line" id="l77">     77</a> {
<a href="#l78" class="line" id="l78">     78</a>      if (strlen(s1) + strlen(s2) + 1 &lt;= n)
<a href="#l79" class="line" id="l79">     79</a>      {
<a href="#l80" class="line" id="l80">     80</a>           strcat(s1, s2);
<a href="#l81" class="line" id="l81">     81</a>      }
<a href="#l82" class="line" id="l82">     82</a> }
<a href="#l83" class="line" id="l83">     83</a> 
<a href="#l84" class="line" id="l84">     84</a> #ifdef NO_STRSEP
<a href="#l85" class="line" id="l85">     85</a> 
<a href="#l86" class="line" id="l86">     86</a> char *strsep(char **stringp, const char *delim)
<a href="#l87" class="line" id="l87">     87</a> {
<a href="#l88" class="line" id="l88">     88</a>      char *res;
<a href="#l89" class="line" id="l89">     89</a> 
<a href="#l90" class="line" id="l90">     90</a>      if (!stringp || !*stringp || !**stringp)
<a href="#l91" class="line" id="l91">     91</a>      {
<a href="#l92" class="line" id="l92">     92</a>           return NULL;
<a href="#l93" class="line" id="l93">     93</a>      }
<a href="#l94" class="line" id="l94">     94</a> 
<a href="#l95" class="line" id="l95">     95</a>      res = *stringp;
<a href="#l96" class="line" id="l96">     96</a>      while (**stringp &amp;&amp; !strchr(delim, **stringp))
<a href="#l97" class="line" id="l97">     97</a>      {
<a href="#l98" class="line" id="l98">     98</a>           (*stringp)++;
<a href="#l99" class="line" id="l99">     99</a>      }
<a href="#l100" class="line" id="l100">    100</a> 
<a href="#l101" class="line" id="l101">    101</a>      if (**stringp)
<a href="#l102" class="line" id="l102">    102</a>      {
<a href="#l103" class="line" id="l103">    103</a>           **stringp = &#39;\0&#39;;
<a href="#l104" class="line" id="l104">    104</a>           (*stringp)++;
<a href="#l105" class="line" id="l105">    105</a>      }
<a href="#l106" class="line" id="l106">    106</a> 
<a href="#l107" class="line" id="l107">    107</a>      return res;
<a href="#l108" class="line" id="l108">    108</a> }
<a href="#l109" class="line" id="l109">    109</a> 
<a href="#l110" class="line" id="l110">    110</a> #endif
<a href="#l111" class="line" id="l111">    111</a> 
<a href="#l112" class="line" id="l112">    112</a> int StrParam(char *parm, size_t size, char *s, int i)
<a href="#l113" class="line" id="l113">    113</a> {
<a href="#l114" class="line" id="l114">    114</a>      register unsigned int k = 0; /* ``unsigned&#39;&#39; is not needed, stops a warning when compiled with -Wsign-compare */
<a href="#l115" class="line" id="l115">    115</a> 
<a href="#l116" class="line" id="l116">    116</a>      memset(parm, 0, size);
<a href="#l117" class="line" id="l117">    117</a> 
<a href="#l118" class="line" id="l118">    118</a>      while (i &gt;= 0 &amp;&amp; k &lt; size)
<a href="#l119" class="line" id="l119">    119</a>      {
<a href="#l120" class="line" id="l120">    120</a>           if (*s == 0 || *s == &#39;\n&#39; || *s == &#39;\r&#39;)
<a href="#l121" class="line" id="l121">    121</a>           {
<a href="#l122" class="line" id="l122">    122</a>                break;
<a href="#l123" class="line" id="l123">    123</a>           }
<a href="#l124" class="line" id="l124">    124</a> 
<a href="#l125" class="line" id="l125">    125</a>           if (*s == &#39; &#39;)
<a href="#l126" class="line" id="l126">    126</a>           {
<a href="#l127" class="line" id="l127">    127</a>                --i;
<a href="#l128" class="line" id="l128">    128</a>           }
<a href="#l129" class="line" id="l129">    129</a>           else if (i == 0)
<a href="#l130" class="line" id="l130">    130</a>           {
<a href="#l131" class="line" id="l131">    131</a>                parm[k++] = *s;
<a href="#l132" class="line" id="l132">    132</a>           }
<a href="#l133" class="line" id="l133">    133</a>           ++s;
<a href="#l134" class="line" id="l134">    134</a>      }
<a href="#l135" class="line" id="l135">    135</a> 
<a href="#l136" class="line" id="l136">    136</a>      return (i &gt; 0 || parm[0] == 0) ? 1 : 0;
<a href="#l137" class="line" id="l137">    137</a> }
<a href="#l138" class="line" id="l138">    138</a> /* }}} */
<a href="#l139" class="line" id="l139">    139</a> /* {{{ Booleans */
<a href="#l140" class="line" id="l140">    140</a> int is_in(char *w, char *s)
<a href="#l141" class="line" id="l141">    141</a> {
<a href="#l142" class="line" id="l142">    142</a>      char *parm;
<a href="#l143" class="line" id="l143">    143</a> 
<a href="#l144" class="line" id="l144">    144</a>      while ((parm = strsep(&amp;s, DELIM)))
<a href="#l145" class="line" id="l145">    145</a>      {
<a href="#l146" class="line" id="l146">    146</a>           if (!StrCompare(parm, w))
<a href="#l147" class="line" id="l147">    147</a>           {
<a href="#l148" class="line" id="l148">    148</a>                return 1;
<a href="#l149" class="line" id="l149">    149</a>           }
<a href="#l150" class="line" id="l150">    150</a>      }
<a href="#l151" class="line" id="l151">    151</a> 
<a href="#l152" class="line" id="l152">    152</a>      return 0;
<a href="#l153" class="line" id="l153">    153</a> }
<a href="#l154" class="line" id="l154">    154</a> 
<a href="#l155" class="line" id="l155">    155</a> int is_nick(char *s)
<a href="#l156" class="line" id="l156">    156</a> {
<a href="#l157" class="line" id="l157">    157</a>     return ((NULL == strchr(s, &#39;,&#39;)) &amp;&amp; (strlen(s) &lt;= (unsigned) conf.nick_length)); /* ``unsigned&#39;&#39; is not needed, stops a warning when compiled with -Wsign-compare */
<a href="#l158" class="line" id="l158">    158</a> }
<a href="#l159" class="line" id="l159">    159</a> 
<a href="#l160" class="line" id="l160">    160</a> int is_pattern(char *s)
<a href="#l161" class="line" id="l161">    161</a> {
<a href="#l162" class="line" id="l162">    162</a>      while ((*s != &#39;\0&#39;) &amp;&amp; (*s != &#39;!&#39;) &amp;&amp; (*s != &#39;*&#39;))
<a href="#l163" class="line" id="l163">    163</a>      {
<a href="#l164" class="line" id="l164">    164</a>           ++s;
<a href="#l165" class="line" id="l165">    165</a>      }
<a href="#l166" class="line" id="l166">    166</a>      return (*s == &#39;*&#39;) || (*s == &#39;!&#39;);
<a href="#l167" class="line" id="l167">    167</a> }
<a href="#l168" class="line" id="l168">    168</a> /* }}} */
<a href="#l169" class="line" id="l169">    169</a> /* {{{ match_pattern() */
<a href="#l170" class="line" id="l170">    170</a> int match_pattern(char *pattern, char *string)
<a href="#l171" class="line" id="l171">    171</a> {
<a href="#l172" class="line" id="l172">    172</a>      if (!string || !pattern)
<a href="#l173" class="line" id="l173">    173</a>      {
<a href="#l174" class="line" id="l174">    174</a>           return 0;
<a href="#l175" class="line" id="l175">    175</a>      }
<a href="#l176" class="line" id="l176">    176</a> 
<a href="#l177" class="line" id="l177">    177</a>      while (1)
<a href="#l178" class="line" id="l178">    178</a>      {
<a href="#l179" class="line" id="l179">    179</a>           if (!*string &amp;&amp; !*pattern)
<a href="#l180" class="line" id="l180">    180</a>           {
<a href="#l181" class="line" id="l181">    181</a>                return 1;
<a href="#l182" class="line" id="l182">    182</a>           }
<a href="#l183" class="line" id="l183">    183</a> 
<a href="#l184" class="line" id="l184">    184</a>           if (!*string || !*pattern)
<a href="#l185" class="line" id="l185">    185</a>           {
<a href="#l186" class="line" id="l186">    186</a>                return 0;
<a href="#l187" class="line" id="l187">    187</a>           }
<a href="#l188" class="line" id="l188">    188</a> 
<a href="#l189" class="line" id="l189">    189</a>           if ((*string == *pattern) || (*string &amp;&amp; *pattern == &#39;?&#39;))
<a href="#l190" class="line" id="l190">    190</a>           {
<a href="#l191" class="line" id="l191">    191</a>                ++string;
<a href="#l192" class="line" id="l192">    192</a>                ++pattern;
<a href="#l193" class="line" id="l193">    193</a>           }
<a href="#l194" class="line" id="l194">    194</a>           else if (*pattern == &#39;*&#39;)
<a href="#l195" class="line" id="l195">    195</a>           {
<a href="#l196" class="line" id="l196">    196</a>                if (*string == *(pattern + 1))
<a href="#l197" class="line" id="l197">    197</a>                {
<a href="#l198" class="line" id="l198">    198</a>                     ++pattern;
<a href="#l199" class="line" id="l199">    199</a>                }
<a href="#l200" class="line" id="l200">    200</a>                else if (*(pattern + 1) == *(string + 1))
<a href="#l201" class="line" id="l201">    201</a>                {
<a href="#l202" class="line" id="l202">    202</a>                     ++string;
<a href="#l203" class="line" id="l203">    203</a>                     ++pattern;
<a href="#l204" class="line" id="l204">    204</a>                }
<a href="#l205" class="line" id="l205">    205</a>                else
<a href="#l206" class="line" id="l206">    206</a>                {
<a href="#l207" class="line" id="l207">    207</a>                     ++string;
<a href="#l208" class="line" id="l208">    208</a>                }
<a href="#l209" class="line" id="l209">    209</a>           }
<a href="#l210" class="line" id="l210">    210</a>           else
<a href="#l211" class="line" id="l211">    211</a>           {
<a href="#l212" class="line" id="l212">    212</a>                return 0;
<a href="#l213" class="line" id="l213">    213</a>           }
<a href="#l214" class="line" id="l214">    214</a>      }
<a href="#l215" class="line" id="l215">    215</a> }
<a href="#l216" class="line" id="l216">    216</a> /* }}} */
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>