<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>globals.h - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>globals.h <span class="desc">(1681B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> #ifndef GLOBAL_H
<a href="#l2" class="line" id="l2">      2</a> #define GLOBAL_H
<a href="#l3" class="line" id="l3">      3</a> 
<a href="#l4" class="line" id="l4">      4</a> #define VERSION &quot;4.2.3&quot;
<a href="#l5" class="line" id="l5">      5</a> /*
<a href="#l6" class="line" id="l6">      6</a>  * The above `#define&#39; _must_ be line number 4 for the `pre-commit&#39; hook to
<a href="#l7" class="line" id="l7">      7</a>  *     work, and the MOTD file to stay intact.
<a href="#l8" class="line" id="l8">      8</a>  */
<a href="#l9" class="line" id="l9">      9</a> 
<a href="#l10" class="line" id="l10">     10</a> /* {{{ List lengths */
<a href="#l11" class="line" id="l11">     11</a> #define MAX_AOPS 128
<a href="#l12" class="line" id="l12">     12</a> #define MAX_PROTS 128
<a href="#l13" class="line" id="l13">     13</a> #define MAX_JUPES 128
<a href="#l14" class="line" id="l14">     14</a> #define MAX_SHITS 128
<a href="#l15" class="line" id="l15">     15</a> #define MAX_CHANS 64
<a href="#l16" class="line" id="l16">     16</a> #define MAX_NICKS 1024
<a href="#l17" class="line" id="l17">     17</a> #define MAX_IDENTS 1024
<a href="#l18" class="line" id="l18">     18</a> #define MAX_NAMES 1024
<a href="#l19" class="line" id="l19">     19</a> #define MAX_GROUPS 16
<a href="#l20" class="line" id="l20">     20</a> #define MAX_CLONES 1024
<a href="#l21" class="line" id="l21">     21</a> #define MAX_BROTHERS 1024
<a href="#l22" class="line" id="l22">     22</a> #define MAX_MUTEX 2
<a href="#l23" class="line" id="l23">     23</a> /* }}} */
<a href="#l24" class="line" id="l24">     24</a> /* {{{ Internal commands */
<a href="#l25" class="line" id="l25">     25</a> #define ADDOP &quot;+aop&quot;
<a href="#l26" class="line" id="l26">     26</a> #define RMOP &quot;-aop&quot;
<a href="#l27" class="line" id="l27">     27</a> #define ADDPROT &quot;+prot&quot;
<a href="#l28" class="line" id="l28">     28</a> #define RMPROT &quot;-prot&quot;
<a href="#l29" class="line" id="l29">     29</a> #define ADDJUPE &quot;+jupe&quot;
<a href="#l30" class="line" id="l30">     30</a> #define RMJUPE &quot;-jupe&quot;
<a href="#l31" class="line" id="l31">     31</a> #define ADDSHIT &quot;+shit&quot;
<a href="#l32" class="line" id="l32">     32</a> #define RMSHIT &quot;-shit&quot;
<a href="#l33" class="line" id="l33">     33</a> #define ADDSCAN &quot;+scan&quot;
<a href="#l34" class="line" id="l34">     34</a> #define RMSCAN &quot;-scan&quot;
<a href="#l35" class="line" id="l35">     35</a> #define KICKBAN &quot;kb&quot;
<a href="#l36" class="line" id="l36">     36</a> #define MASSKICK &quot;mk&quot;
<a href="#l37" class="line" id="l37">     37</a> #define MASSKICKBAN &quot;mkb&quot;
<a href="#l38" class="line" id="l38">     38</a> #define TAKEOVER &quot;to&quot;
<a href="#l39" class="line" id="l39">     39</a> #define MASSOP &quot;mo&quot;
<a href="#l40" class="line" id="l40">     40</a> #define MASSDEOP &quot;md&quot;
<a href="#l41" class="line" id="l41">     41</a> #define MASSUNBAN &quot;mu&quot;
<a href="#l42" class="line" id="l42">     42</a> #define NICKS &quot;nicks&quot;
<a href="#l43" class="line" id="l43">     43</a> #define NICKLIST &quot;nicklist&quot;
<a href="#l44" class="line" id="l44">     44</a> #define ECHO &quot;echo&quot;
<a href="#l45" class="line" id="l45">     45</a> #define CHANKEY &quot;chankey&quot;
<a href="#l46" class="line" id="l46">     46</a> #define STATUS &quot;stat&quot;
<a href="#l47" class="line" id="l47">     47</a> #define MUTE &quot;mute&quot;
<a href="#l48" class="line" id="l48">     48</a> #define PEACE &quot;peace&quot;
<a href="#l49" class="line" id="l49">     49</a> #define AGGRESS &quot;agg&quot;
<a href="#l50" class="line" id="l50">     50</a> #define RANDOM &quot;random&quot;
<a href="#l51" class="line" id="l51">     51</a> #define KILL &quot;kill&quot;
<a href="#l52" class="line" id="l52">     52</a> #define SELECT &quot;select&quot;
<a href="#l53" class="line" id="l53">     53</a> #define LOAD &quot;load&quot;
<a href="#l54" class="line" id="l54">     54</a> /* }}} */
<a href="#l55" class="line" id="l55">     55</a> /* {{{ Messages */
<a href="#l56" class="line" id="l56">     56</a> #define KICK_REAS &quot;/!\\ this channel has moved to irc.gnaa.eu #gnaa /!\\&quot;
<a href="#l57" class="line" id="l57">     57</a> #define SHIT_REAS &quot;/!\\ this channel has moved to irc.gnaa.eu #gnaa /!\\&quot;
<a href="#l58" class="line" id="l58">     58</a> #define SETON &quot;activated&quot;
<a href="#l59" class="line" id="l59">     59</a> #define CLOSE &quot;+milk 1488 killjews&quot;
<a href="#l60" class="line" id="l60">     60</a> /* }}} */
<a href="#l61" class="line" id="l61">     61</a> /* {{{ Buffer sizes */
<a href="#l62" class="line" id="l62">     62</a> #define MINIBUF 32
<a href="#l63" class="line" id="l63">     63</a> #define MINIBUF_TXT &quot;32&quot;
<a href="#l64" class="line" id="l64">     64</a> #define MEDBUF 128
<a href="#l65" class="line" id="l65">     65</a> #define MEDBUF_TXT &quot;128&quot;
<a href="#l66" class="line" id="l66">     66</a> #define BIGBUF 1024
<a href="#l67" class="line" id="l67">     67</a> #define BIGBUF_TXT &quot;1024&quot;
<a href="#l68" class="line" id="l68">     68</a> /* }}} */
<a href="#l69" class="line" id="l69">     69</a> 
<a href="#l70" class="line" id="l70">     70</a> /* To avoid mixing sleep() and usleep() */
<a href="#l71" class="line" id="l71">     71</a> #define sleep(t)\
<a href="#l72" class="line" id="l72">     72</a> usleep (t*1000000)
<a href="#l73" class="line" id="l73">     73</a> 
<a href="#l74" class="line" id="l74">     74</a> #endif
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>