<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>prox.tcl - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>prox.tcl <span class="desc">(5933B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> # {{{ pub  [CS ] SOCKS proxy gathering off phpBB [et al] sources and {DNS,R,...}BL matching
<a href="#l2" class="line" id="l2">      2</a> array unset {v:sites} {}
<a href="#l3" class="line" id="l3">      3</a> # {{{ RBL to query
<a href="#l4" class="line" id="l4">      4</a> set {v:sites:rbl} [list		\
<a href="#l5" class="line" id="l5">      5</a> 	rbl.efnet.org		\
<a href="#l6" class="line" id="l6">      6</a> 	dnsbl.swiftbl.net	\
<a href="#l7" class="line" id="l7">      7</a> 	ircbl.ahbl.org		\
<a href="#l8" class="line" id="l8">      8</a> 	dnsbl.dronebl.org	\
<a href="#l9" class="line" id="l9">      9</a> 	tor.dnsbl.sectoor.de	\
<a href="#l10" class="line" id="l10">     10</a> 	dnsbl.njabl.org]
<a href="#l11" class="line" id="l11">     11</a> # }}}
<a href="#l12" class="line" id="l12">     12</a> array unset {v:proxies}
<a href="#l13" class="line" id="l13">     13</a> array unset {v:proxies:rbl}
<a href="#l14" class="line" id="l14">     14</a> # {{{ dcsproxy.com
<a href="#l15" class="line" id="l15">     15</a> array set {v:sites} [list dcsproxy [list				\
<a href="#l16" class="line" id="l16">     16</a> 		[list &quot;http://www.dcsproxy.com/login.php?do=login&quot;	\
<a href="#l17" class="line" id="l17">     17</a> 			[list						\
<a href="#l18" class="line" id="l18">     18</a> #				vb_login_username	&quot;insectcrew&quot;	\
<a href="#l19" class="line" id="l19">     19</a> 				vb_login_lusername	&quot;szucsy&quot;	\
<a href="#l20" class="line" id="l20">     20</a> 				do			&quot;login&quot;		\
<a href="#l21" class="line" id="l21">     21</a> #				vb_login_md5password	&quot;7e7cb40bdbfd8d4c512eda43e748b3ba&quot;		\
<a href="#l22" class="line" id="l22">     22</a> 				vb_login_md5password	&quot;966bf1eaaaf07917faa5192115a10988&quot;		\
<a href="#l23" class="line" id="l23">     23</a> #				vb_login_md5password_utf	&quot;7e7cb40bdbfd8d4c512eda43e748b3ba&quot;	\
<a href="#l24" class="line" id="l24">     24</a> 				vb_login_md5password_utf	&quot;966bf1eaaaf07917faa5192115a10988&quot;	\
<a href="#l25" class="line" id="l25">     25</a> 				cookieuser		1		\
<a href="#l26" class="line" id="l26">     26</a> 				s			&quot;&quot;		\
<a href="#l27" class="line" id="l27">     27</a> 			]						\
<a href="#l28" class="line" id="l28">     28</a> 		]							\
<a href="#l29" class="line" id="l29">     29</a> 		&quot;http://www.dcsproxy.com/socks-lists/&quot;			\
<a href="#l30" class="line" id="l30">     30</a> 		&quot;http://www.dcsproxy.com/login.php?do=logout&quot;		\
<a href="#l31" class="line" id="l31">     31</a> 		{&lt;div&gt;.+?&lt;/div&gt;}					\
<a href="#l32" class="line" id="l32">     32</a> 		{&lt;a href=&quot;(.+?)&quot;}					\
<a href="#l33" class="line" id="l33">     33</a> 	]]
<a href="#l34" class="line" id="l34">     34</a> # }}}
<a href="#l35" class="line" id="l35">     35</a> # {{{ proxy-heaven.blogspot.com
<a href="#l36" class="line" id="l36">     36</a> array set {v:sites} [list proxy-heaven [list			\
<a href="#l37" class="line" id="l37">     37</a> 		[list]							\
<a href="#l38" class="line" id="l38">     38</a> 		&quot;http://proxy-heaven.blogspot.com/&quot;			\
<a href="#l39" class="line" id="l39">     39</a> 		&quot;&quot;							\
<a href="#l40" class="line" id="l40">     40</a> 		{&lt;h3 class=.+?&gt;.+?&lt;/h3&gt;}				\
<a href="#l41" class="line" id="l41">     41</a> 		{(?i)href=&#39;(.+?socks.+?)&#39;}				\
<a href="#l42" class="line" id="l42">     42</a> 	]]
<a href="#l43" class="line" id="l43">     43</a> # }}}
<a href="#l44" class="line" id="l44">     44</a> set {v:filter} {:23|443|(?:[18]0)?8[08]|312[78]|6588|9050$}
<a href="#l45" class="line" id="l45">     45</a> # }}}
<a href="#l46" class="line" id="l46">     46</a> # {{{ pub  [CS ] SOCKS proxy gathering off phpBB [et al] sources and {DNS,R,...}BL matching
<a href="#l47" class="line" id="l47">     47</a> setudef flag socks
<a href="#l48" class="line" id="l48">     48</a> array unset {v%cookies}
<a href="#l49" class="line" id="l49">     49</a> 
<a href="#l50" class="line" id="l50">     50</a> # {{{ bind  evnt  -|- loaded v%socks:ini
<a href="#l51" class="line" id="l51">     51</a> bind evnt -|- loaded v%socks:ini
<a href="#l52" class="line" id="l52">     52</a> proc v%socks:ini args {
<a href="#l53" class="line" id="l53">     53</a> 	global {v:sites}
<a href="#l54" class="line" id="l54">     54</a> 	foreach {- - tid}	\
<a href="#l55" class="line" id="l55">     55</a> 		[join [lsearch -all -inline -regexp [utimers] {v%socks:daily}]] {
<a href="#l56" class="line" id="l56">     56</a> 		killutimer ${tid} }
<a href="#l57" class="line" id="l57">     57</a> 	foreach t [array names {v:sites}] {
<a href="#l58" class="line" id="l58">     58</a> 		foreach c [channels] {
<a href="#l59" class="line" id="l59">     59</a> 			if {![channel get ${c} socks]} { continue }
<a href="#l60" class="line" id="l60">     60</a> 			catch {utimer 86400 [list v%socks:daily ${c} ${t}]}	;# XXX tunable
<a href="#l61" class="line" id="l61">     61</a> 		}
<a href="#l62" class="line" id="l62">     62</a> 	}
<a href="#l63" class="line" id="l63">     63</a> }
<a href="#l64" class="line" id="l64">     64</a> # }}}
<a href="#l65" class="line" id="l65">     65</a> # {{{ utimer 86400 [list v%socks:daily [ ... ]]
<a href="#l66" class="line" id="l66">     66</a> proc v%socks:daily {c t} {
<a href="#l67" class="line" id="l67">     67</a> 	catch {v:socks * * * ${c} ${t}}
<a href="#l68" class="line" id="l68">     68</a> 	utimer 86400 [list v%socks:daily ${c} ${t}]
<a href="#l69" class="line" id="l69">     69</a> }
<a href="#l70" class="line" id="l70">     70</a> # }}}
<a href="#l71" class="line" id="l71">     71</a> # {{{ bind  pub  S|- .socks v:socks
<a href="#l72" class="line" id="l72">     72</a> bind pub S|- .socks v:socks
<a href="#l73" class="line" id="l73">     73</a> proc v:socks {n u h c t} {
<a href="#l74" class="line" id="l74">     74</a> 	global {v:sites} {v:proxies} {v:filter} {v%cookies}
<a href="#l75" class="line" id="l75">     75</a> 	if {![channel get ${c} socks]} { return }
<a href="#l76" class="line" id="l76">     76</a> 	if {![string length [set site [last [array get {v:sites} ${t}]]]]} {
<a href="#l77" class="line" id="l77">     77</a> 		v%blog &quot;[v%ifx johne] unknown site `${t}&#39;&quot; ${c}; return }
<a href="#l78" class="line" id="l78">     78</a> 
<a href="#l79" class="line" id="l79">     79</a> 	set llogin [lindex ${site} 0]; set turl [lindex ${site} 1]; set lourl [lindex ${site} 2]
<a href="#l80" class="line" id="l80">     80</a> 	set tp0 [lindex ${site} 3]; set tp1 [lindex ${site} 4]
<a href="#l81" class="line" id="l81">     81</a> 	if { [llength ${llogin}] &amp;&amp; \
<a href="#l82" class="line" id="l82">     82</a> 	    ![string length [last [array get {v%cookies} ${site}]]]} {
<a href="#l83" class="line" id="l83">     83</a> 		set lurl [lindex ${llogin} 0]; set lbody [lindex ${llogin} 1]
<a href="#l84" class="line" id="l84">     84</a> 		v%fetch -cookies POST ${t} ${lurl} ${lbody} }
<a href="#l85" class="line" id="l85">     85</a> 
<a href="#l86" class="line" id="l86">     86</a> 	set socks {}
<a href="#l87" class="line" id="l87">     87</a> 	foreach thr [regexp -all -inline ${tp0} [v%fetch -- GET ${t} ${turl}]] {
<a href="#l88" class="line" id="l88">     88</a> 		if {[regexp -- ${tp1} ${thr} {} thrurl]} {
<a href="#l89" class="line" id="l89">     89</a> 			set thtml [v%fetch -- GET ${t} ${turl}]
<a href="#l90" class="line" id="l90">     90</a> 			foreach {- s} [regexp -all -inline {\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}:\d+} ${thtml}] {
<a href="#l91" class="line" id="l91">     91</a> 				lappend socks ${s}
<a href="#l92" class="line" id="l92">     92</a> 			}
<a href="#l93" class="line" id="l93">     93</a> 		}
<a href="#l94" class="line" id="l94">     94</a> 	}
<a href="#l95" class="line" id="l95">     95</a> 
<a href="#l96" class="line" id="l96">     96</a> 	set socks [lsearch -not -all -inline -regexp ${socks} ${v:filter}]
<a href="#l97" class="line" id="l97">     97</a> 	if {![llength ${socks}]} { v%blog &quot;[v%ifx johne/${t}] No socks found. FML&quot; ${c} }\
<a href="#l98" class="line" id="l98">     98</a> 	else { v%blog &quot;[v%ifx johne/${t}] Done. [llength ${socks}] socks found.&quot; ${c} }
<a href="#l99" class="line" id="l99">     99</a> 	array set {v:proxies} [list ${t} ${socks}]
<a href="#l100" class="line" id="l100">    100</a> 	if {[string length ${lourl}]} { catch {v%fetch -cookies GET ${lourl}}; }
<a href="#l101" class="line" id="l101">    101</a> 	return 1
<a href="#l102" class="line" id="l102">    102</a> }
<a href="#l103" class="line" id="l103">    103</a> # }}}
<a href="#l104" class="line" id="l104">    104</a> # {{{ bind  pub  S|- .matchbl v:socks:matchbl
<a href="#l105" class="line" id="l105">    105</a> bind pub S|- .matchbl v:socks:matchbl
<a href="#l106" class="line" id="l106">    106</a> proc v:socks:matchbl {n u h c t {zidx 0}} {
<a href="#l107" class="line" id="l107">    107</a> 	global {v:proxies} {v:proxies:rbl} {v:sites:rbl}
<a href="#l108" class="line" id="l108">    108</a> 	if {![channel get ${c} socks]} { return }
<a href="#l109" class="line" id="l109">    109</a> 	if {${zidx} == 0} { array set {v:proxies:rbl} [list ${t} [concat [last [array get {v:proxies} ${t}]]]] }
<a href="#l110" class="line" id="l110">    110</a> 	if {![llength [set proxies [last [array get {v:proxies:rbl} ${t}]]]]} {
<a href="#l111" class="line" id="l111">    111</a> 		v%blog &quot;[v%ifx johne/rbl] don&#39;t have n e proxies for `${t}&#39;&quot; ${c}; return }
<a href="#l112" class="line" id="l112">    112</a> 
<a href="#l113" class="line" id="l113">    113</a> 	if {![string length [set zone [lindex ${v:sites:rbl} ${zidx}]]]} { return }
<a href="#l114" class="line" id="l114">    114</a> 	set nproxies [llength ${proxies}]; set n 0
<a href="#l115" class="line" id="l115">    115</a> 	v%blog &quot;[v%ifx johne/rbl] ${t}: Matching ${nproxies} proxies against ${zone}&quot; ${c}
<a href="#l116" class="line" id="l116">    116</a> 	array set {v:proxies:rbl} [list ${t} {}]
<a href="#l117" class="line" id="l117">    117</a> 	foreach ip ${proxies} {
<a href="#l118" class="line" id="l118">    118</a> 		incr n
<a href="#l119" class="line" id="l119">    119</a> 		if {[catch {set ha [apply format [join [list %d.%d.%d.%d [lreverse [scan ${ip} %d.%d.%d.%d]]]]].${zone}}] != 0} {
<a href="#l120" class="line" id="l120">    120</a> 			if {${n} &gt;= ${nproxies}} {
<a href="#l121" class="line" id="l121">    121</a> 				v%dns:rbl - - - ${c} ${t} - ${zone} [incr zidx] [list ${n} ${h} ${u} ${c} ${t}]
<a href="#l122" class="line" id="l122">    122</a> 			}
<a href="#l123" class="line" id="l123">    123</a> 		} elseif {${n} &gt;= ${nproxies}} {
<a href="#l124" class="line" id="l124">    124</a> 			dnslookup ${ha}							\
<a href="#l125" class="line" id="l125">    125</a> 				v%dns:rbl	${c} ${t} ${ip} ${zone} [incr zidx]	\
<a href="#l126" class="line" id="l126">    126</a> 						[list ${n} ${h} ${u} ${c} ${t}]
<a href="#l127" class="line" id="l127">    127</a> 		} else { dnslookup ${ha} v%dns:rbl ${c} ${t} ${ip} }
<a href="#l128" class="line" id="l128">    128</a> 	}
<a href="#l129" class="line" id="l129">    129</a> }
<a href="#l130" class="line" id="l130">    130</a> # }}}
<a href="#l131" class="line" id="l131">    131</a> 
<a href="#l132" class="line" id="l132">    132</a> # {{{ Ancillary
<a href="#l133" class="line" id="l133">    133</a> proc v%fetch {{cookies &quot;&quot;} {method &quot;&quot;} site url {body &quot;&quot;}} {
<a href="#l134" class="line" id="l134">    134</a> 	global {v%cookies}
<a href="#l135" class="line" id="l135">    135</a> 	set method [string tolower ${method}]
<a href="#l136" class="line" id="l136">    136</a> 	set cookie [last [array get {v%cookies} ${site}]]
<a href="#l137" class="line" id="l137">    137</a> 	# N.B.	Tcl is the most worthless language there is
<a href="#l138" class="line" id="l138">    138</a> 	set html [apply	::httpx::${method}	\
<a href="#l139" class="line" id="l139">    139</a> 			[list -headers ${url} [list Cookie [list ${cookie}]] ${body}]]
<a href="#l140" class="line" id="l140">    140</a> 	set status [lindex ${html} 0]
<a href="#l141" class="line" id="l141">    141</a> 
<a href="#l142" class="line" id="l142">    142</a> 	if {[string first 20 ${status} 0] != 0 &amp;&amp; \
<a href="#l143" class="line" id="l143">    143</a> 	    [string first 30 ${status} 0] != 0} { return -code return }	;# TODO
<a href="#l144" class="line" id="l144">    144</a> 	if {${cookies} == &quot;-cookies&quot;} {
<a href="#l145" class="line" id="l145">    145</a> 		set hdr [lindex ${html} 1]; set cookies &quot;&quot;
<a href="#l146" class="line" id="l146">    146</a> 		foreach idx [lsearch -all -regexp ${hdr} {Set-Cookie}] {
<a href="#l147" class="line" id="l147">    147</a> 			append cookies &quot;[lindex ${hdr} [expr ${idx} + 1]]; &quot;
<a href="#l148" class="line" id="l148">    148</a> 		}; if {[string length ${cookies}]} {
<a href="#l149" class="line" id="l149">    149</a> 			array set {v%cookies} [list ${site} ${cookies}] }
<a href="#l150" class="line" id="l150">    150</a> 	}; last ${html}
<a href="#l151" class="line" id="l151">    151</a> }
<a href="#l152" class="line" id="l152">    152</a> 
<a href="#l153" class="line" id="l153">    153</a> proc v%dns:rbl {ip host s c t oip {zone &quot;&quot;} {last 0} {pargs &quot;&quot;}} {
<a href="#l154" class="line" id="l154">    154</a> 	global {v:proxies:rbl}
<a href="#l155" class="line" id="l155">    155</a> 	if {${last}} {
<a href="#l156" class="line" id="l156">    156</a> 		v%dns:rbl:fini ${t} ${c} ${zone}; v:socks:matchbl - - - ${c} ${t} ${last}
<a href="#l157" class="line" id="l157">    157</a> 	} elseif {!${s}} { array set {v:proxies:rbl} [list ${t} [concat [last [array get {v:proxies:rbl} ${t}]] ${oip}]] }
<a href="#l158" class="line" id="l158">    158</a> }
<a href="#l159" class="line" id="l159">    159</a> 
<a href="#l160" class="line" id="l160">    160</a> proc v%dns:rbl:fini {t c zone} {
<a href="#l161" class="line" id="l161">    161</a> 	global {v:proxies:rbl}
<a href="#l162" class="line" id="l162">    162</a> 	set n [llength [last [array get {v:proxies:rbl} ${t}]]]
<a href="#l163" class="line" id="l163">    163</a> 	v%blog &quot;[v%ifx johne/rbl] ${t}!${zone}: ${n} unlisted.&quot; ${c}
<a href="#l164" class="line" id="l164">    164</a> }
<a href="#l165" class="line" id="l165">    165</a> # }}}
<a href="#l166" class="line" id="l166">    166</a> # }}}
<a href="#l167" class="line" id="l167">    167</a> # }}}
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>