<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>h.sh - muhstik - irc flooding solution</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed" href="../../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="muhstik Atom Feed (tags)" href="../../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>muhstik</h1><span class="desc"> - irc flooding solution</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/muhstik.git">git://git.acid.vegas/muhstik.git</a></i></td></tr>		<tr><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../README.html">README</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>h.sh <span class="desc">(7904B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> #!/bin/echo lol @ minorities
<a href="#l2" class="line" id="l2">      2</a> # $Id: h.sh 11 2011-05-29 literalka  $
<a href="#l3" class="line" id="l3">      3</a> #
<a href="#l4" class="line" id="l4">      4</a> # {{{ Relevant WWW site links:
<a href="#l5" class="line" id="l5">      5</a> #	[0] HOWTO
<a href="#l6" class="line" id="l6">      6</a> #	[0a] http://mirrors.bieringer.de/Linux+IPv6-HOWTO/
<a href="#l7" class="line" id="l7">      7</a> #	[1] Wiki
<a href="#l8" class="line" id="l8">      8</a> #	[1a] http://en.wikipedia.org/wiki/IPv6
<a href="#l9" class="line" id="l9">      9</a> #	[1b] http://en.wikipedia.org/wiki/IPv6_address
<a href="#l10" class="line" id="l10">     10</a> #	[1c] http://en.wikipedia.org/wiki/Tunneling_protocol
<a href="#l11" class="line" id="l11">     11</a> #	[1d] http://en.wikipedia.org/wiki/List_of_IPv6_tunnel_brokers
<a href="#l12" class="line" id="l12">     12</a> #	[2] RFC
<a href="#l13" class="line" id="l13">     13</a> #	[2a] http://tools.ietf.org/html/rfc2460
<a href="#l14" class="line" id="l14">     14</a> #	[2b] http://tools.ietf.org/html/rfc3053
<a href="#l15" class="line" id="l15">     15</a> #	[2c] http://tools.ietf.org/html/rfc3964
<a href="#l16" class="line" id="l16">     16</a> #	[3] Tunnel Brokers
<a href="#l17" class="line" id="l17">     17</a> #	[3a] http://www.tunnelbroker.net/
<a href="#l18" class="line" id="l18">     18</a> #	[3b] http://tbroker.mybsd.org.my/
<a href="#l19" class="line" id="l19">     19</a> #	[4] Amusing
<a href="#l20" class="line" id="l20">     20</a> #	[4a] http://blogs.pcmag.com/securitywatch/2010/12/ipv6_will_worsen_the_spam_and.php
<a href="#l21" class="line" id="l21">     21</a> #	[4b] http://jl.ly/Email/v6bl.html
<a href="#l22" class="line" id="l22">     22</a> #	[5] DNS
<a href="#l23" class="line" id="l23">     23</a> #	[5a] http://member.wide.ad.jp/~fujiwara/v6rev.html
<a href="#l24" class="line" id="l24">     24</a> #	[5b] http://freedns.afraid.org/
<a href="#l25" class="line" id="l25">     25</a> #	[5c] http://dns.he.net/
<a href="#l26" class="line" id="l26">     26</a> #	[5d] http://freedns.afraid.org/reverse/instructions.php
<a href="#l27" class="line" id="l27">     27</a> #	[6] VPS Hosts
<a href="#l28" class="line" id="l28">     28</a> #	[6a] http://www.hostgator.com/
<a href="#l29" class="line" id="l29">     29</a> # }}}
<a href="#l30" class="line" id="l30">     30</a> # {{{ Notes:
<a href="#l31" class="line" id="l31">     31</a> # 1) Add ``EXT_IP6_TUN&#39;&#39; IP with /3 so it auto-adds a route to 2000::/3 to the
<a href="#l32" class="line" id="l32">     32</a> #	tunnel device so that there is no need to explicitly add that route.
<a href="#l33" class="line" id="l33">     33</a> # 2) Add ``EXT_IP6_LAN&#39;&#39; IP with /3 so the route to the LAN prefix/64 is not
<a href="#l34" class="line" id="l34">     34</a> #	auto-added to the tunnel device.
<a href="#l35" class="line" id="l35">     35</a> # 3) You could also add IPs with /128, but adding IPs with /3 auto-adds a route
<a href="#l36" class="line" id="l36">     36</a> #	to 2000::/3 to the tunnel device, and with the ``EXT_IP6_TUN&#39;&#39; IP having
<a href="#l37" class="line" id="l37">     37</a> #	that route auto-added already, the routing table is kept clean.
<a href="#l38" class="line" id="l38">     38</a> # 4) Last IP address added with &quot;preferred_lft forever&quot; is used as the default
<a href="#l39" class="line" id="l39">     39</a> #	IP for new outgoing connections.
<a href="#l40" class="line" id="l40">     40</a> # 5) That being said, &quot;preferred_lft x&quot; is optional, defaulting to
<a href="#l41" class="line" id="l41">     41</a> #	&quot;preferred_lft forever&quot;.
<a href="#l42" class="line" id="l42">     42</a> # 6) Add additional IPs using:
<a href="#l43" class="line" id="l43">     43</a> #       ip -6 addr add 2001:470:___:___::___/3 dev $DEV_NAME
<a href="#l44" class="line" id="l44">     44</a> # 7) Do not add any CIDRs, just add &quot;straight up&quot; IPs.
<a href="#l45" class="line" id="l45">     45</a> # }}}
<a href="#l46" class="line" id="l46">     46</a> # {{{ Suggestions:
<a href="#l47" class="line" id="l47">     47</a> # 1) If using tunnelbroker [3a], delegate the rDNS to ``dyn.ip6arpa.co.cc&#39;&#39;, it
<a href="#l48" class="line" id="l48">     48</a> #	/should/ give proper forward and reverse DNS, for &quot;max sperg&quot;. Make sure
<a href="#l49" class="line" id="l49">     49</a> #	it works first though, (i.e. freenode&#39;s DNS probably sucks).
<a href="#l50" class="line" id="l50">     50</a> # 2) &lt;@h&gt; ipv6 youtube + /48 = lol viewcounts
<a href="#l51" class="line" id="l51">     51</a> # 3)  &quot;...if you sent a billion messages a second, each with its own address,
<a href="#l52" class="line" id="l52">     52</a> #	it would take about a thousand years to use all the addresses in a
<a href="#l53" class="line" id="l53">     53</a> #	/64&quot; [4b], thus, I would suggest sending one billion messages per second
<a href="#l54" class="line" id="l54">     54</a> #	using different IP addresses.
<a href="#l55" class="line" id="l55">     55</a> # 4) Run your own rDNS (see [5a], requires root or sudo(8))
<a href="#l56" class="line" id="l56">     56</a> # 5) If you have 0.01 USD on Paypal and a valid US phone number, just get a
<a href="#l57" class="line" id="l57">     57</a> #	Hostgator [6a] VPS with 4 ips on it using promo code &quot;austin&quot; (dunno how
<a href="#l58" class="line" id="l58">     58</a> #	long this will be valid), you&#39;d probably be able to run a DNS server on
<a href="#l59" class="line" id="l59">     59</a> #	it, with 4 IPs.
<a href="#l60" class="line" id="l60">     60</a> # 6) If you use FreeDNS [5b], you can set up a ``vhost&#39;&#39; by delegating your rDNS
<a href="#l61" class="line" id="l61">     61</a> #	to FreeDNS&#39; servers and setting up an ``IPv6 Reverse&#39;&#39; [5d].
<a href="#l62" class="line" id="l62">     62</a> # 7) 19:07:20 &lt;+h&gt; I&#39;m still trying to get ARIN to give me 14:88:/32
<a href="#l63" class="line" id="l63">     63</a> #	19:07:24 &lt;+h&gt; would be awesome as fuck
<a href="#l64" class="line" id="l64">     64</a> # 8) IPv6 botnets are relatively unknown, based on my own experience. I suggest
<a href="#l65" class="line" id="l65">     65</a> #	fixing this with an &quot;IPv6 Awareness&quot; program of somesort.
<a href="#l66" class="line" id="l66">     66</a> # 9) Try to use as many &quot;levels&quot; (TODO: find the right word for this) of an IPv6
<a href="#l67" class="line" id="l67">     67</a> #	IP as possible: when banning, many channel operators will ban a single
<a href="#l68" class="line" id="l68">     68</a> #	IP, others will ban 2001:470:* (all of HE.net), and even some others
<a href="#l69" class="line" id="l69">     69</a> #	will ban, say, a /64 when you&#39;re {ab,}using a /48, leaving unbanned IP
<a href="#l70" class="line" id="l70">     70</a> #	addresses. 
<a href="#l71" class="line" id="l71">     71</a> # }}}
<a href="#l72" class="line" id="l72">     72</a> # {{{ `telnet(1) route-server.he.net`
<a href="#l73" class="line" id="l73">     73</a> # [AS6939/HURRICANE-IPV6]
<a href="#l74" class="line" id="l74">     74</a> # ``tunnelbroker.net&#39;&#39; tunnel server information. Current as of 2011-03-29.
<a href="#l75" class="line" id="l75">     75</a> #
<a href="#l76" class="line" id="l76">     76</a> # Location                  IPv4                  IPv6
<a href="#l77" class="line" id="l77">     77</a> #---------------------     ----------------      ------------------------
<a href="#l78" class="line" id="l78">     78</a> # North America
<a href="#l79" class="line" id="l79">     79</a> #  PAIX Seattle             216.218.252.176       2001:470:0:3d::1
<a href="#l80" class="line" id="l80">     80</a> #  PAIX Palo Alto           216.218.252.165       2001:470:0:1b::1
<a href="#l81" class="line" id="l81">     81</a> #  Equinix San Jose         216.218.252.164       2001:470:0:1a::1
<a href="#l82" class="line" id="l82">     82</a> #  Hurricane Fremont 1      216.218.252.161       2001:470:0:23::1
<a href="#l83" class="line" id="l83">     83</a> #  Hurricane Fremont 2      216.218.252.162       2001:470:0:24::1
<a href="#l84" class="line" id="l84">     84</a> #  Hurricane San Jose       216.218.252.163       2001:470:0:19::1
<a href="#l85" class="line" id="l85">     85</a> #  Equinix Los Angeles      216.218.252.166       2001:470:0:1c::1
<a href="#l86" class="line" id="l86">     86</a> #  One Wilshire Los Angeles 216.218.252.178       2001:470:0:6c::1
<a href="#l87" class="line" id="l87">     87</a> #  Equinix Chicago          216.218.252.168       2001:470:0:16::1
<a href="#l88" class="line" id="l88">     88</a> #  Equinix Dallas           216.218.252.167       2001:470:0:1d::1
<a href="#l89" class="line" id="l89">     89</a> #  PAIX Toronto             216.218.252.147       2001:470:0:99::1
<a href="#l90" class="line" id="l90">     90</a> #  Telehouse New York       216.218.252.170       2001:470:0:12::1
<a href="#l91" class="line" id="l91">     91</a> #  PAIX New York            216.218.252.171       2001:470:0:13::1
<a href="#l92" class="line" id="l92">     92</a> #  TelX New York            216.218.252.148       2001:470:0:9f::1
<a href="#l93" class="line" id="l93">     93</a> #  Equinix Ashburn          216.218.252.169       2001:470:0:17::1
<a href="#l94" class="line" id="l94">     94</a> #  TelX Atlanta             216.218.252.150       2001:470:0:a7::1
<a href="#l95" class="line" id="l95">     95</a> #  NOTA Miami               216.218.252.177       2001:470:0:4a::1
<a href="#l96" class="line" id="l96">     96</a> #  Telx Phoenix             216.218.252.156       2001:470:0:154::1
<a href="#l97" class="line" id="l97">     97</a> #  Pittock Portland         216.218.252.159       2001:470:0:157::1
<a href="#l98" class="line" id="l98">     98</a> #  Comfluent Denver	    216.218.252.158	  2001:470:0:155::1
<a href="#l99" class="line" id="l99">     99</a> #  Level3 Kansas City	    216.218.252.157	  2001:470:0:156::1
<a href="#l100" class="line" id="l100">    100</a> #  Oak Tower Kansas City    216.218.252.181	  2001:470:0:178::1
<a href="#l101" class="line" id="l101">    101</a> #  Minnesota Gateway	    216.218.252.185	  2001:470:0:ab::1
<a href="#l102" class="line" id="l102">    102</a> # Europe
<a href="#l103" class="line" id="l103">    103</a> #  Telehouse London         216.218.252.172       2001:470:0:d::1
<a href="#l104" class="line" id="l104">    104</a> #  NIKHEF Amsterdam         216.218.252.173       2001:470:0:e::1
<a href="#l105" class="line" id="l105">    105</a> #  Interxion Frankfurt      216.218.252.174       2001:470:0:2a::1
<a href="#l106" class="line" id="l106">    106</a> #  Interxion Paris          216.218.252.175       2001:470:0:2b::1
<a href="#l107" class="line" id="l107">    107</a> #  Telehouse Paris	    216.218.252.184 	  2001:470:0:1ae::1
<a href="#l108" class="line" id="l108">    108</a> #  Equinix Zurich           216.218.252.153       2001:470:0:10c::1
<a href="#l109" class="line" id="l109">    109</a> #  TeleCity Stockholm       216.218.252.154       2001:470:0:10f::1
<a href="#l110" class="line" id="l110">    110</a> # Asia
<a href="#l111" class="line" id="l111">    111</a> #  Mega-I Hong Kong         216.218.252.180       2001:470:0:c2::1
<a href="#l112" class="line" id="l112">    112</a> #  Equinix Tokyo            216.218.252.151       2001:470:0:10a::1
<a href="#l113" class="line" id="l113">    113</a> #  Equinix Singapore	    216.218.252.179	  2001:470:0:169::1
<a href="#l114" class="line" id="l114">    114</a> # }}}
<a href="#l115" class="line" id="l115">    115</a> # {{{ Prerequisites and supported platforms:
<a href="#l116" class="line" id="l116">    116</a> #  Tested on:   bash(1) 4.0.33(1)-release on Ubuntu 2.6.31-23.74-generic
<a href="#l117" class="line" id="l117">    117</a> #  Requires:    bash(1), test(1), printf(1), echo(1), and ip(8)
<a href="#l118" class="line" id="l118">    118</a> #  May Need:    su(1), sudo(8), modprobe(8)
<a href="#l119" class="line" id="l119">    119</a> # }}}
<a href="#l120" class="line" id="l120">    120</a> # {{{ rcslog
<a href="#l121" class="line" id="l121">    121</a> # $Log: h.sh $
<a href="#l122" class="line" id="l122">    122</a> # Revision 11 2011/05/29 21:44:23  literalka
<a href="#l123" class="line" id="l123">    123</a> # Move config into its own file
<a href="#l124" class="line" id="l124">    124</a> #
<a href="#l125" class="line" id="l125">    125</a> # Revision 10 2011/04/27 01:10:19  literalka
<a href="#l126" class="line" id="l126">    126</a> # Added some small fucking retarded change in some obscure comment somewhere
<a href="#l127" class="line" id="l127">    127</a> # Added two more small fucking useless changes in an even more obscure comment
<a href="#l128" class="line" id="l128">    128</a> #	And then I added a small stupid fucking change to one of those comments
<a href="#l129" class="line" id="l129">    129</a> #
<a href="#l130" class="line" id="l130">    130</a> # Revision 9 2011/04/21 22:52:04  literalka
<a href="#l131" class="line" id="l131">    131</a> # Small documentation updates
<a href="#l132" class="line" id="l132">    132</a> #
<a href="#l133" class="line" id="l133">    133</a> # Revision 8   2011/03/29 13:02:45  literalka
<a href="#l134" class="line" id="l134">    134</a> # Updated `telnet(1) route-server.he.net`
<a href="#l135" class="line" id="l135">    135</a> # Updated &quot;Tested on&quot;
<a href="#l136" class="line" id="l136">    136</a> #
<a href="#l137" class="line" id="l137">    137</a> # Revision 7   2011/02/10 12:21:45  literalka
<a href="#l138" class="line" id="l138">    138</a> # Add adjustable params to ipgen()
<a href="#l139" class="line" id="l139">    139</a> # Check for ``SUBNET_TYPE&#39;&#39;
<a href="#l140" class="line" id="l140">    140</a> #
<a href="#l141" class="line" id="l141">    141</a> # Revision 6   2011/02/09 22:13:12  literalka
<a href="#l142" class="line" id="l142">    142</a> # Wrote ipgen(), replacing use of ``RANDOM&#39;&#39;
<a href="#l143" class="line" id="l143">    143</a> #
<a href="#l144" class="line" id="l144">    144</a> # Revision 5   2011/02/09 20:08:12  literalka
<a href="#l145" class="line" id="l145">    145</a> # `telnet(1) route-server.he.net`
<a href="#l146" class="line" id="l146">    146</a> #
<a href="#l147" class="line" id="l147">    147</a> # Revision 4   2011/02/09 15:32:18  literalka
<a href="#l148" class="line" id="l148">    148</a> # Require bash(1)
<a href="#l149" class="line" id="l149">    149</a> #
<a href="#l150" class="line" id="l150">    150</a> # Revision 3   2011/02/04 12:56:24  literalka
<a href="#l151" class="line" id="l151">    151</a> # Replaced all instances of &quot;he-ipv6&quot; with ``DEV_NAME&#39;&#39;
<a href="#l152" class="line" id="l152">    152</a> #
<a href="#l153" class="line" id="l153">    153</a> # Revision 2   2011/02/03 19:15:48  literalka
<a href="#l154" class="line" id="l154">    154</a> # rm useless &quot;if&quot; statement
<a href="#l155" class="line" id="l155">    155</a> #
<a href="#l156" class="line" id="l156">    156</a> # Revision 1   2011/01/22 18:05:48  literalka
<a href="#l157" class="line" id="l157">    157</a> # Initial revision
<a href="#l158" class="line" id="l158">    158</a> # }}}
<a href="#l159" class="line" id="l159">    159</a> #  Last update: Wed Apr 27 2011
<a href="#l160" class="line" id="l160">    160</a> #   -- by Leon Kaiser of the GNAA
<a href="#l161" class="line" id="l161">    161</a> #	&lt;literalka@gnaa.eu&gt;
<a href="#l162" class="line" id="l162">    162</a> if [ -z &quot;${BASH_VERSION}&quot; ]; then
<a href="#l163" class="line" id="l163">    163</a> 	echo &quot;error: use bash(1)&quot; # require bash(1)
<a href="#l164" class="line" id="l164">    164</a> 	exit 1488
<a href="#l165" class="line" id="l165">    165</a> fi
<a href="#l166" class="line" id="l166">    166</a> #modprobe ipv6
<a href="#l167" class="line" id="l167">    167</a> 
<a href="#l168" class="line" id="l168">    168</a> source config.sh
<a href="#l169" class="line" id="l169">    169</a> 
<a href="#l170" class="line" id="l170">    170</a> ip tunnel add $DEV_NAME mode sit remote $HE_TUN_SRV ttl 255
<a href="#l171" class="line" id="l171">    171</a> ip link set $DEV_NAME up
<a href="#l172" class="line" id="l172">    172</a> ip -6 addr add $EXT_IP6_TUN/3 dev $DEV_NAME preferred_lft 0
<a href="#l173" class="line" id="l173">    173</a> ip -6 addr add $EXT_IP6_LAN/3 dev $DEV_NAME preferred_lft forever
<a href="#l174" class="line" id="l174">    174</a> echo &quot;Added route to IP ${EXT_IP6_LAN}&quot;
<a href="#l175" class="line" id="l175">    175</a> # tunnelbroker.net includes the following lines in their suggested
<a href="#l176" class="line" id="l176">    176</a> #  &quot;Linux-route2&quot; config...
<a href="#l177" class="line" id="l177">    177</a> #	ip route add ::/0 dev he-ipv6
<a href="#l178" class="line" id="l178">    178</a> #	ip -f inet6 addr
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>