<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>resource.h - unrealircd - supernets unrealircd source &amp; configuration</title>
<meta name="description" content="acidvegas repositories">
<meta name="keywords" content="git, repositories, supernets, irc, python, stagit">
<meta name="author" content="acidvegas">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="alternate" type="application/atom+xml" title="unrealircd Atom Feed" href="../../atom.xml">
<link rel="alternate" type="application/atom+xml" title="unrealircd Atom Feed (tags)" href="../../tags.xml">
<center>
<a href="/index.html">
<img src="/assets/acidvegas.png"><br>
<img src="/assets/mostdangerous.png"></a><br><br>
<div id="content">
<div class="container">
	<table id="container">
		<tr><td><h1>unrealircd</h1><span class="desc"> - supernets unrealircd source &amp; configuration</span></td></tr>
		<tr><td><i>git clone <a href="git://git.acid.vegas/unrealircd.git">git://git.acid.vegas/unrealircd.git</a></i></td></tr>		<tr><td>
<a href="../../log.html">Log</a> | <a href="../../files.html">Files</a> | <a href="../../refs.html">Refs</a> | <a href="../../README.html">README</a> | <a href="../../file/LICENSE.html">LICENSE</a></td></tr>
	</table>
</div>
<br>
<div class="container"><p>resource.h <span class="desc">(2326B)</span></p></div><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> //{{NO_DEPENDENCIES}}
<a href="#l2" class="line" id="l2">      2</a> // Microsoft Developer Studio generated include file.
<a href="#l3" class="line" id="l3">      3</a> // Used by GENERIC.RC
<a href="#l4" class="line" id="l4">      4</a> // $Id$
<a href="#l5" class="line" id="l5">      5</a> #define IDC_USERID                      1051
<a href="#l6" class="line" id="l6">      6</a> #define IDC_REALNAME                    1052
<a href="#l7" class="line" id="l7">      7</a> #define IDC_PNICK                       1053
<a href="#l8" class="line" id="l8">      8</a> #define IDC_ANICK                       1054
<a href="#l9" class="line" id="l9">      9</a> #define IDC_SERVERLIST                  1057
<a href="#l10" class="line" id="l10">     10</a> #define IDC_NEWSERVER                   1058
<a href="#l11" class="line" id="l11">     11</a> #define IDC_EDITSERVER                  1059
<a href="#l12" class="line" id="l12">     12</a> #define IDC_IRCDCONF                    1059
<a href="#l13" class="line" id="l13">     13</a> #define IDC_DELSERVER                   1060
<a href="#l14" class="line" id="l14">     14</a> #define IDC_SHOW_GLOBOPS                1060
<a href="#l15" class="line" id="l15">     15</a> #define IDC_SHOW_WALLOPS                1061
<a href="#l16" class="line" id="l16">     16</a> #define IDC_SHOW_HELPOPS                1062
<a href="#l17" class="line" id="l17">     17</a> #define IDC_SHOW_SERVNOTICE             1063
<a href="#l18" class="line" id="l18">     18</a> #define IDC_INFOTEXT                    1063
<a href="#l19" class="line" id="l19">     19</a> #define IDM_OPEN                        40001
<a href="#l20" class="line" id="l20">     20</a> #define IDM_SAVE                        40002
<a href="#l21" class="line" id="l21">     21</a> #define IDM_SAVEAS                      40003
<a href="#l22" class="line" id="l22">     22</a> #define IDM_EXIT                        40004
<a href="#l23" class="line" id="l23">     23</a> #define IDM_ABOUT                       40005
<a href="#l24" class="line" id="l24">     24</a> #define IDM_WINDOWCHILD                 40006
<a href="#l25" class="line" id="l25">     25</a> #define IDM_REHASH                      40007
<a href="#l26" class="line" id="l26">     26</a> #define IDM_OPTIONS                     40008
<a href="#l27" class="line" id="l27">     27</a> #define	IDM_CREDITS						40009
<a href="#l28" class="line" id="l28">     28</a> #define IDM_DF							40010
<a href="#l29" class="line" id="l29">     29</a> #define IDM_LICENSE						40011
<a href="#l30" class="line" id="l30">     30</a> #define IDM_DBGOFF                      41099
<a href="#l31" class="line" id="l31">     31</a> #define IDM_DBGFATAL                    41100
<a href="#l32" class="line" id="l32">     32</a> #define IDM_DBGERROR                    41101
<a href="#l33" class="line" id="l33">     33</a> #define IDM_DBGNOTICE                   41103
<a href="#l34" class="line" id="l34">     34</a> #define IDM_DBGDNS                      41104
<a href="#l35" class="line" id="l35">     35</a> #define IDM_DBGINFO                     41105
<a href="#l36" class="line" id="l36">     36</a> #define IDM_DBGNUM                      41106
<a href="#l37" class="line" id="l37">     37</a> #define IDM_DBGSEND                     41107
<a href="#l38" class="line" id="l38">     38</a> #define IDM_DBGDEBUG                    41108
<a href="#l39" class="line" id="l39">     39</a> #define IDM_DBGMALLOC                   41109
<a href="#l40" class="line" id="l40">     40</a> #define IDM_DBGLIST                     41110
<a href="#l41" class="line" id="l41">     41</a> #define IDM_POPUP                       50000
<a href="#l42" class="line" id="l42">     42</a> #define IDC_STATIC                      -1
<a href="#l43" class="line" id="l43">     43</a> #define IDM_IRCDRULES					65530
<a href="#l44" class="line" id="l44">     44</a> #define IDM_IRCDMOTD					65531
<a href="#l45" class="line" id="l45">     45</a> #define IDC_VERSION                     65532
<a href="#l46" class="line" id="l46">     46</a> #define IDM_SETUP                       65536
<a href="#l47" class="line" id="l47">     47</a> #define IDM_IRCDCONF                    65535
<a href="#l48" class="line" id="l48">     48</a> 
<a href="#l49" class="line" id="l49">     49</a> // Next default values for new objects
<a href="#l50" class="line" id="l50">     50</a> // 
<a href="#l51" class="line" id="l51">     51</a> #ifdef APSTUDIO_INVOKED
<a href="#l52" class="line" id="l52">     52</a> #ifndef APSTUDIO_READONLY_SYMBOLS
<a href="#l53" class="line" id="l53">     53</a> #define _APS_NO_MFC                     1
<a href="#l54" class="line" id="l54">     54</a> #define _APS_NEXT_RESOURCE_VALUE        113
<a href="#l55" class="line" id="l55">     55</a> #define _APS_NEXT_COMMAND_VALUE         40011
<a href="#l56" class="line" id="l56">     56</a> #define _APS_NEXT_CONTROL_VALUE         1064
<a href="#l57" class="line" id="l57">     57</a> #define _APS_NEXT_SYMED_VALUE           104
<a href="#l58" class="line" id="l58">     58</a> #endif
<a href="#l59" class="line" id="l59">     59</a> #endif
</pre>
</div>
</table>
</div>
<div id="footer">
	&copy; 2023 acidvegas, inc &bull; generated with stagit
</div>
</center>